In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import datetime as dt
import matplotlib
import matplotlib.pyplot as plt
import os
import io
import geopandas as gpd
import seaborn as sns
# suppress warning
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)
# display all columns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Step 1: get the svi nyc data**

In [3]:
file_path1 = '/content/drive/My Drive/X999/NewYork_cencus.csv'

In [4]:
svi_census = pd.read_csv(file_path1)

In [5]:
svi_census.shape

(5394, 158)

In [6]:
fips_list = list(svi_census.FIPS.unique())
# fips_list

In [7]:
nyc_county_codes = {'36005', '36047', '36061', '36081', '36085'}

In [8]:
nyc_tracts = [fips for fips in fips_list if str(fips)[:5] in nyc_county_codes]

In [9]:
len(nyc_tracts)

2324

In [10]:
nyc_tracts[:5]

[np.int64(36005000100),
 np.int64(36005000200),
 np.int64(36005000400),
 np.int64(36005001600),
 np.int64(36005001901)]

In [11]:
svi_nyc = svi_census[svi_census['FIPS'].isin(nyc_tracts)].copy()

In [12]:
svi_nyc.shape

(2324, 158)

In [13]:
svi_nyc.columns = svi_nyc.columns.str.lower()
svi_nyc.shape

(2324, 158)

In [14]:
svi_nyc.columns

Index(['st', 'state', 'st_abbr', 'stcnty', 'county', 'fips', 'location',
       'area_sqmi', 'e_totpop', 'm_totpop',
       ...
       'ep_asian', 'mp_asian', 'ep_aian', 'mp_aian', 'ep_nhpi', 'mp_nhpi',
       'ep_twomore', 'mp_twomore', 'ep_otherrace', 'mp_otherrace'],
      dtype='object', length=158)

# **Step 2: clean svi_census as svi_nta**

In [15]:
link2 = '/content/drive/My Drive/X999/svi_cleaned.csv'

In [16]:
svi_nta = pd.read_csv(link2)
svi_nta.shape

(204, 153)

In [17]:
svi_nta.head()

,fips,location,area_sqmi,e_totpop,m_totpop,e_hu,m_hu,e_hh,m_hh,e_pov150,m_pov150,e_unemp,m_unemp,e_hburd,m_hburd,e_nohsdp,m_nohsdp,e_uninsur,m_uninsur,e_age65,m_age65,e_age17,m_age17,e_disabl,m_disabl,e_sngpnt,m_sngpnt,e_limeng,m_limeng,e_minrty,m_minrty,e_munit,m_munit,e_mobile,m_mobile,e_crowd,m_crowd,e_noveh,m_noveh,e_groupq,m_groupq,ep_pov150,mp_pov150,ep_unemp,mp_unemp,ep_hburd,mp_hburd,ep_nohsdp,mp_nohsdp,ep_uninsur,mp_uninsur,ep_age65,mp_age65,ep_age17,mp_age17,ep_disabl,mp_disabl,ep_sngpnt,mp_sngpnt,ep_limeng,mp_limeng,ep_minrty,mp_minrty,ep_munit,mp_munit,ep_mobile,mp_mobile,ep_crowd,mp_crowd,ep_noveh,mp_noveh,ep_groupq,mp_groupq,epl_pov150,epl_unemp,epl_hburd,epl_nohsdp,epl_uninsur,spl_theme1,rpl_theme1,epl_age65,epl_age17,epl_disabl,epl_sngpnt,epl_limeng,spl_theme2,rpl_theme2,epl_minrty,spl_theme3,rpl_theme3,epl_munit,epl_mobile,epl_crowd,epl_noveh,epl_groupq,spl_theme4,rpl_theme4,spl_themes,rpl_themes,f_pov150,f_unemp,f_hburd,f_nohsdp,f_uninsur,f_theme1,f_age65,f_age17,f_disabl,f_sngpnt,f_limeng,f_theme2,f_minrty,f_theme3,f_munit,f_mobile,f_crowd,f_noveh,f_groupq,f_theme4,f_total,e_daypop,e_noint,m_noint,e_afam,m_afam,e_hisp,m_hisp,e_asian,m_asian,e_aian,m_aian,e_nhpi,m_nhpi,e_twomore,m_twomore,e_otherrace,m_otherrace,ep_noint,mp_noint,ep_afam,mp_afam,ep_hisp,mp_hisp,ep_asian,mp_asian,ep_aian,mp_aian,ep_nhpi,mp_nhpi,ep_twomore,mp_twomore,ep_otherrace,mp_otherrace
0,10001,ZCTA5 10001,0.623822,27004,1827,16975,831,14375,782,5248,797,761,266,3314,531,1930,534,831,289,3428,432,2694,643,2310,499,501,215,1381,405,13460,2305,15840,898,15,23,389,135,12285,840,2213,218,20.3,2.7,4.3,1.5,23.1,3.5,9.1,2.4,3.1,1.0,12.7,1.6,10.0,2.1,8.6,1.9,3.5,1.5,5.3,1.5,49.8,7.8,93.3,2.7,0.1,0.1,2.7,0.9,85.5,2.8,8.2,0.6,0.6108,0.4574,0.5573,0.5902,0.4436,2.6593,0.5688,0.1420,0.1161,0.1891,0.4707,0.8777,1.7956,0.1692,0.8670,0.8670,0.8670,0.9853,0.271,0.7402,0.9949,0.9104,3.9018,0.9806,9.2237,0.7414,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,3,3,239407,1047,389,2220,576,5206,943,5031,774,0,25,0,25,780,326,223,169,7.3,2.6,8.2,2.2,19.3,3.0,18.6,2.9,0.0,0.1,0.0,0.1,2.9,1.2,0.8,0.6
1,10002,ZCTA5 10002,0.822292,76518,2894,39094,1241,36028,1326,27908,2853,2833,574,14688,1367,18301,1376,4074,766,17681,1287,10028,1549,9896,1062,2211,499,18393,1640,56964,3226,35725,1677,16,28,2461,449,29828,1403,2090,39,36.8,3.5,7.6,1.4,40.8,3.5,30.0,2.0,5.4,1.0,23.1,1.7,13.1,1.8,13.0,1.4,6.1,1.4,24.7,2.0,74.4,3.1,91.4,3.2,0.0,0.1,6.8,1.2,82.8,1.8,2.7,0.1,0.9148,0.7946,0.9219,0.9741,0.7207,4.3261,0.9639,0.7296,0.1831,0.5186,0.7390,0.9944,3.1647,0.8781,0.9369,0.9369,0.9369,0.9790,0.000,0.9105,0.9915,0.7730,3.6540,0.9254,12.0817,0.9656,1,0,1,1,0,3,0,0,0,0,1,1,1,1,1,0,1,1,0,3,8,64307,8590,1110,6141,1194,19864,2190,28477,1989,74,83,24,45,1810,486,574,394,23.8,2.9,8.0,1.5,26.0,2.5,37.2,2.2,0.1,0.1,0.0,0.1,2.4,0.6,0.8,0.5
2,10003,ZCTA5 10003,0.571603,53877,2579,30766,956,24987,936,6397,1171,1613,315,5445,853,1574,422,1282,404,8128,792,3866,718,3604,634,278,171,1217,828,19778,3548,27261,1299,0,31,798,282,20035,905,10199,194,14.3,2.5,4.7,0.9,21.8,3.3,4.2,1.2,2.4,0.7,15.1,1.4,7.2,1.2,6.7,1.2,1.1,0.7,2.3,1.6,36.7,6.3,88.6,3.2,0.0,0.1,3.2,1.1,80.2,2.8,18.9,1.0,0.4017,0.5142,0.4934,0.2486,0.3386,1.9965,0.3389,0.2513,0.0851,0.0965,0.2217,0.7589,1.4135,0.0969,0.7977,0.7977,0.7977,0.9745,0.000,0.7852,0.9869,0.9577,3.7043,0.9368,7.9120,0.5373,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,3,3,138011,1458,478,2899,748,5541,943,9014,1065,51,52,27,32,2067,547,179,132,5.8,1.8,5.4,1.4,10.3,1.7,16.7,1.9,0.1,0.1,0.1,0.1,3.8,1.0,0.3,0.2
3,10004,ZCTA5 10004,0.455576,4579,926,2706,484,2123,394,169,101,11,16,130,84,32,28,13,19,190,131,840,341,104,82,8,16,39,73,2009,1102,2592,476,0,13,161,99,1548,318,35,13,3.7,2.1,0.4,0.5,6.1,3.8,0.9,0.8,0.3,0.4,4.1,2.9,18.3,5.1,2.3,1.9,0.4,0.7,0.9,1.8,43.9,22.4,95.8,4.0,0.0,1.5,7.6,4.4,72.9,9.4,0.8,0.2,0.0699,0.1413,0.0570,0.0834,0.1213,0.4729,0.0252,0.0400,0.3921,0.0412,0.1846,0.5977,1.2556,0.0769,0.8439,0.8439,0.8439,0.9898,0.000,0.9254,0.9749,0.5510,3.4411,0.8558,6.0135,0.2299,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,3,3,77721,12,21,252,140,229,145,1370,703,0,13,0,13,158,113,0,13,0.6,1.0,5.5,3.0,5.0,3.0,29.9,12.2,0.0,0.9,0.0,0.9,3.5,2.4,0.0,0.9
4,10005,ZCTA5 10005,0.072868,8801,1132,6272,438,4881,550,647,363,257,158,532,266,168,135,106,96,158,129,924,395,99,80,140,147,22,78,2730,1506,6083,451,0,19,411,200,4503,549,50,30,7.4,4.0,3.4,2.0,10.9,5.3,2.5,2.0,1.2,1.0,1.8,1.5,10.5,3.8,1.1,0.9,2.9,3.0,0.3,0.9,31.0,16.6,97.0,2.4,0.0,0.6,8.4,4.0,92.3,3.6,0.6,0.3,0.1580,0.3371,0.1031,0.1426,0.1766,0.9174,0.0631,0.0327,0.1245,0.0316,0.3966,0.4406,1.0260,0.0427,0.7504,0.7504,0.7504,0.9921,0.000,0.9356,0.9972,0.4963,3.4212,0.8496,6.1150,0.2437,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,3,3,56918,160,153,421,334,755,432,985,354,0,19,0,19,569,268,0,19,3.3,3.1,4.8,3.7,8.6,4.6,11.2,4.2,0.0,0.5,0.0,0.5,6.5,3.0,0.0,0.5

In [18]:
columns_to_keep = svi_nta.columns.to_list()

In [19]:
svi_nyc.drop(columns = [col for col in svi_nyc.columns if col not in columns_to_keep], inplace = True)
svi_nyc.shape

(2324, 153)

In [20]:
svi_nyc.head()

,fips,location,area_sqmi,e_totpop,m_totpop,e_hu,m_hu,e_hh,m_hh,e_pov150,m_pov150,e_unemp,m_unemp,e_hburd,m_hburd,e_nohsdp,m_nohsdp,e_uninsur,m_uninsur,e_age65,m_age65,e_age17,m_age17,e_disabl,m_disabl,e_sngpnt,m_sngpnt,e_limeng,m_limeng,e_minrty,m_minrty,e_munit,m_munit,e_mobile,m_mobile,e_crowd,m_crowd,e_noveh,m_noveh,e_groupq,m_groupq,ep_pov150,mp_pov150,ep_unemp,mp_unemp,ep_hburd,mp_hburd,ep_nohsdp,mp_nohsdp,ep_uninsur,mp_uninsur,ep_age65,mp_age65,ep_age17,mp_age17,ep_disabl,mp_disabl,ep_sngpnt,mp_sngpnt,ep_limeng,mp_limeng,ep_minrty,mp_minrty,ep_munit,mp_munit,ep_mobile,mp_mobile,ep_crowd,mp_crowd,ep_noveh,mp_noveh,ep_groupq,mp_groupq,epl_pov150,epl_unemp,epl_hburd,epl_nohsdp,epl_uninsur,spl_theme1,rpl_theme1,epl_age65,epl_age17,epl_disabl,epl_sngpnt,epl_limeng,spl_theme2,rpl_theme2,epl_minrty,spl_theme3,rpl_theme3,epl_munit,epl_mobile,epl_crowd,epl_noveh,epl_groupq,spl_theme4,rpl_theme4,spl_themes,rpl_themes,f_pov150,f_unemp,f_hburd,f_nohsdp,f_uninsur,f_theme1,f_age65,f_age17,f_disabl,f_sngpnt,f_limeng,f_theme2,f_minrty,f_theme3,f_munit,f_mobile,f_crowd,f_noveh,f_groupq,f_theme4,f_total,e_daypop,e_noint,m_noint,e_afam,m_afam,e_hisp,m_hisp,e_asian,m_asian,e_aian,m_aian,e_nhpi,m_nhpi,e_twomore,m_twomore,e_otherrace,m_otherrace,ep_noint,mp_noint,ep_afam,mp_afam,ep_hisp,mp_hisp,ep_asian,mp_asian,ep_aian,mp_aian,ep_nhpi,mp_nhpi,ep_twomore,mp_twomore,ep_otherrace,mp_otherrace
101,36005000100,Census Tract 1; Bronx County; New York,0.647574,4446,616,0,13,0,13,0,13,0,13,0,26,1495,291,0,13,31,24,58,57,0,13,0,18,363,120,3348,739,0,18,0,13,0,18,0,13,4446,616,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,38.7,5.3,-999.0,-999.0,0.7,0.5,1.3,1.3,-999.0,-999.0,-999.0,-999.0,8.2,2.4,75.3,12.9,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,100.0,0.0,-999.0000,-999.0000,-999.0000,0.9747,-999.0000,-999.0000,-999.0000,0.0100,0.0106,-999.0000,-999.0000,0.7373,-999.0000,-999.0000,0.7330,0.7330,0.7330,-999.0000,-999.0,-999.0000,-999.0000,0.9925,-999.0000,-999.0000,-999.0000,-999.0000,-999,-999,-999,1,-999,-999,0,0,-999,-999,0,-999,0,0,-999,-999,-999,-999,1,-999,-999,16153,0,13,2000,368,1172,225,123,60,9,19,0,13,30,35,14,17,-999.0,-999.0,45.0,6.4,26.4,4.2,2.8,1.5,0.2,0.4,0.0,0.9,0.7,0.7,0.3,0.4
102,36005000200,Census Tract 2; Bronx County; New York,0.173014,4870,621,1487,209,1425,212,910,382,108,85,345,141,531,204,337,273,812,186,822,222,790,241,81,69,614,311,4787,627,0,18,0,13,89,68,301,124,7,1,18.7,7.5,4.5,3.6,24.2,9.2,14.8,5.2,6.9,5.3,16.7,4.5,16.9,4.1,16.2,5.1,5.7,4.8,13.2,6.5,98.3,2.9,0.0,1.2,0.0,2.7,6.3,4.7,21.1,8.9,0.1,0.0,0.5285,0.4034,0.4139,0.6803,0.7478,2.7739,0.5891,0.4893,0.2800,0.7856,0.6021,0.8331,2.9901,0.7796,0.9391,0.9391,0.9391,0.0000,0.0,0.7032,0.5796,0.2617,1.5445,0.2277,8.2476,0.6206,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,1686,174,85,1281,416,3109,457,299,352,0,13,0,13,0,13,98,115,12.2,6.2,26.3,7.1,63.8,8.5,6.1,7.1,0.0,0.8,0.0,0.8,0.0,0.8,2.0,2.4
103,36005000400,Census Tract 4; Bronx County; New York,0.299390,6257,982,2344,278,2309,281,648,246,285,174,855,293,892,468,175,117,828,431,1383,371,883,305,259,119,508,449,5974,1002,28,57,0,19,72,73,600,312,19,2,10.4,3.6,8.3,4.9,37.0,11.9,19.5,8.2,2.8,1.8,13.2,6.2,22.1,4.7,14.1,5.7,11.3,5.0,8.5,7.4,95.5,5.6,1.2,2.4,0.0,1.7,3.1,3.1,26.0,11.8,0.3,0.1,0.2600,0.7454,0.7265,0.7829,0.3388,2.8536,0.6128,0.2876,0.6304,0.6831,0.8508,0.7439,3.1958,0.8518,0.8803,0.8803,0.8803,0.2584,0.0,0.5296,0.6235,0.3787,1.7902,0.3235,8.7199,0.6871,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3697,45,48,1559,568,4212,925,103,78,0,19,0,19,36,34,64,89,1.9,2.1,24.9,8.5,67.3,8.1,1.6,1.2,0.0,0.6,0.0,0.6,0.6,0.6,1.0,1.5
104,36005001600,Census Tract 16; Bronx County; New York,0.187290,6177,618,2205,236,2205,236,1883,534,343,155,1186,330,1142,291,208,125,1269,332,1201,249,1268,350,146,84,459,181,6071,620,1601,272,0,19,403,148,1193,276,225,9,31.6,8.3,11.9,4.7,53.8,13.8,27.6,6.6,3.5,2.1,20.5,4.8,19.4,3.4,21.2,5.4,6.6,3.7,7.8,3.0,98.3,2.0,72.6,9.6,0.0,1.8,18.3,6.4,54.1,9.0,3.6,0.4,0.7842,0.8854,0.9396,0.8990,0.4366,3.9448,0.8837,0.7047,0.4518,0.9255,0.6596,0.7292,3.4708,0.9234,0.9391,0.9391,0.9391,0.8666,0.0,0.9320,0.8033,0.8276,3.4295,0.9456,11.7842,0.9561,0,0,1,0,0,1,0,0,1,0,0,1,1,1,0,0,1,0,0,1,4,8012,362,142,2132,640,3507,552,148,182,213,207,0,19,66,57,5,9,16.4,6.6,34.5,9.1,56.8,8.7,2.4,3.0,3.4,3.3,0.0,0.6,1.1,0.9,0.1,0.1
105,36005001901,Census Tract 19.01; Bronx County; New York,0.079154,2181,258,978,100,940,108,870,234,77,61,532,140,246,89,259,203,19,21,475,140,429,120,164,56,24,59,1875,294,703,121,0,13,41,43,699,124,17,4,39.9,9.6,6.2,4.9,56.6,13.4,16.8,6.1,11.9,8.8,0.9,1.0,21.8,6.0,19.7,5.3,17.5,5.6,1.2,3.0,86.0,8.8,71.9,10.0,0.0,4.0,4.3,4.5,74.4,7.9,0.8,0.2,0.8703,0.5865,0.9582,0.7299,0.9196,4.0645,0.9059,0.0107,0.6132,0.9013,0.9430,0.3575,2.8257,0.7071,0.7973,0.7973,0.7973,0.8653,0.0,0.6100,0.9297,0.5880,2.9930,0.8335,10.6805,0.8896,0,0,1,0,1,2,0,0,1,1,0,2,0,0,0,0,0,1,0,1,5,1970,115,73,942,277,842,256,0,13,34,50,0,13,57,44,0,13,12.2,7.7,43.2,11.1,38.6,11.3,0.0,1.8,1.6,2.3,0.0,1.8,2.6,2.0,0.0,1.8

In [21]:
svi_census_pop = svi_nyc[['fips', 'location', 'area_sqmi', 'e_totpop']]
svi_census_pop

,fips,location,area_sqmi,e_totpop
101,36005000100,Census Tract 1; Bronx County; New York,0.647574,4446
102,36005000200,Census Tract 2; Bronx County; New York,0.173014,4870
103,36005000400,Census Tract 4; Bronx County; New York,0.299390,6257
104,36005001600,Census Tract 16; Bronx County; New York,0.187290,6177
105,36005001901,Census Tract 19.01; Bronx County; New York,0.079154,2181
...,...,...,...,...
4282,36085030301,Census Tract 303.01; Richmond County; New York,0.277731,5915
4283,36085030302,Census Tract 303.02; Richmond County; New York,0.350875,6374
4284,36085031901,Census Tract 319.01; Richmond County; New York,0.149827,3674
4285,36085031902,Census Tract 319.02; Richmond County; New York,0.266618,5053
4286,36085032300,Census Tract 323; Richmond County; New York,1.493411,1133

# **Step 3: Get the bbl_evictions_311_svi merged df**

In [22]:
link3 = '/content/drive/My Drive/X999/bbl_evictions_311_svi_normal_times.csv'
merged_df = pd.read_csv(link3)
merged_df.shape

(66397, 97)

In [23]:
merged_df.columns

Index(['primary_key', 'bbl', 'court_index_number', 'docket_number',
       'eviction_address', 'eviction_apartment_number', 'executed_date',
       'borough', 'zipcode', 'ejectment', 'eviction/legal_possession',
       'latitude', 'longitude', 'community_board', 'council_district',
       'census_tract', 'bin', 'nta', 'year', 'month_year', 'geometry',
       'average_year_eviction_count', 'yearbuilt', 'bldgclass', 'numfloors',
       'unitsres', 'ownername', 'bldgarea', 'building_type',
       'building_category', 'is_condo', 'floor_category', 'rent_era',
       'architectural_style', 'economic_period', 'residential_units_category',
       'is_llc', 'building_size_category', 'size_quartile', 'decade', 'fips',
       'e_totpop', 'rpl_theme1', 'rpl_theme2', 'rpl_theme3', 'rpl_theme4',
       'rpl_themes', 'ep_pov150', 'ep_unemp', 'ep_nohsdp', 'ep_uninsur',
       'ep_age65', 'ep_age17', 'ep_disabl', 'ep_limeng', 'ep_noveh',
       'ep_crowd', 'ep_hburd', 'ep_afam', 'ep_hisp', 'ep_asian', 'ep_aian',
       'ep_nhpi', 'ep_twomore', 'ep_otherrace', 'ep_minrty', 'ep_white',
       'invalid_zip', 'svi_quartile', 'svi_group', 'air_quality',
       'animal_issues', 'appliances', 'building_exterior', 'doors_windows',
       'electrical_issues', 'elevator_issues', 'floors_stairs',
       'general_complaints', 'graffiti_posting', 'heat_hot_water',
       'homeless_issues', 'noise_complaints', 'other_issues', 'pest_issues',
       'plumbing_issues', 'police_matters', 'public_nuisance',
       'safety_concerns', 'sanitation_issues', 'walls_ceilings',
       'total_complaints', 'average_year_eviction_unit_count',
       'average_year_eviction_nta_count', 'evictions_nta_per_1k',
       'evictions_nta_per_unit_per_1k', 'evictions_nta_per_1k.1'],
      dtype='object')

In [24]:
merged_df.census_tract

0         1152.0
1          118.0
2          122.0
3          409.0
4           35.0
          ...
66392        7.0
66393      151.0
66394      151.0
66395       97.0
66396    11402.0
Name: census_tract, Length: 66397, dtype: float64

In [25]:
merged_df['tract_str'] = merged_df['census_tract'].astype(str).str.replace('.0', '').str.zfill(6)
merged_df.tract_str

0        001152
1        000118
2        000122
3        000409
4        000035
          ...
66392    000007
66393    000151
66394    000151
66395    000097
66396    011402
Name: tract_str, Length: 66397, dtype: object

In [26]:
svi_census['tract_str'] = svi_census['FIPS'].astype(str).str[-6:]
svi_census.tract_str

0       000100
1       000201
2       000202
3       000301
4       000302
         ...
5389    150301
5390    150302
5391    150400
5392    150501
5393    150502
Name: tract_str, Length: 5394, dtype: object

In [27]:
overlapping_tracts = set(merged_df['tract_str']).intersection(set(svi_census['tract_str']))
num_overlapping = len(overlapping_tracts)
num_overlapping

355

In [28]:
svi_census_pop.shape[0]

2324

In [29]:
len(merged_df['tract_str'].unique())

1258

In [30]:
nyc_county_codes = ['36005', '36047', '36061', '36081', '36085']
svi_nyc = svi_census[svi_census['FIPS'].astype(str).str[:5].isin(nyc_county_codes)].copy()

In [31]:
merged_df['tract_str'] = merged_df['census_tract'].astype(str).str.replace('.0', '').str.zfill(6)

In [32]:
svi_nyc['tract_str'] = svi_nyc['FIPS'].astype(str).str[-6:]

In [33]:
overlap = set(merged_df['tract_str']).intersection(set(svi_nyc['tract_str']))
len(overlap) / len(merged_df)

0.005150835128093137

In [34]:
missing = set(merged_df['tract_str']) - set(svi_nyc['tract_str'])
len(missing)

916

In [35]:
merged_df.fips

0        11207
1        11220
2        11220
3        10468
4        10455
         ...
66392    10301
66393    10302
66394    10302
66395    10310
66396    10306
Name: fips, Length: 66397, dtype: int64

In [36]:
borough_to_county = {
    'BRONX': '005',
    'BROOKLYN': '047',
    'MANHATTAN': '061',
    'QUEENS': '081',
    'STATEN ISLAND': '085'
}

In [37]:
merged_df['tract_str'] = (
    merged_df['census_tract']
    .astype(str)
    .str.replace('.0', '')
    .str.zfill(6)
)

In [38]:
merged_df['tract_str'].head()

0    001152
1    000118
2    000122
3    000409
4    000035
Name: tract_str, dtype: object

In [39]:
merged_df['rebuilt_fips'] = (
    '36' +
    merged_df['borough'].map(borough_to_county) +
    merged_df['tract_str']
)

In [40]:
len(merged_df['rebuilt_fips'][0])

11

In [41]:
svi_census_pop.fips

101     36005000100
102     36005000200
103     36005000400
104     36005001600
105     36005001901
           ...
4282    36085030301
4283    36085030302
4284    36085031901
4285    36085031902
4286    36085032300
Name: fips, Length: 2324, dtype: int64

In [42]:
# type(svi_census_pop['fips'])

In [43]:
svi_census_pop['fips'].dtype

dtype('int64')

In [44]:
type(svi_census_pop['fips'].iloc[0])

numpy.int64

In [45]:
overlapping_tracts = set(merged_df['rebuilt_fips']).intersection(set(svi_census_pop['fips']))
num_overlapping = len(overlapping_tracts)
num_overlapping

0

In [46]:
len(merged_df['rebuilt_fips'].unique())

2031

In [47]:
len(svi_census_pop['fips'].unique())

2324

In [48]:
# merged_df.rebuilt_fips[0].dtype()
type(merged_df['rebuilt_fips'].iloc[0])
merged_df['rebuilt_fips'] = merged_df['rebuilt_fips'].astype(int)

In [49]:
overlapping_tracts = set(merged_df['rebuilt_fips']).intersection(set(svi_census_pop['fips']))
num_overlapping = len(overlapping_tracts)
num_overlapping

357

In [50]:
len(set(merged_df['rebuilt_fips'])), num_overlapping/len(set(merged_df['rebuilt_fips']))
# only 17.58 overlapped fips

(2031, 0.1757754800590842)

## **conclusion: Rebuilding fips from eviction data is hard, because the reduilt_fips from borough, zipcodes, and census tract do not match well with all the census tracts and the real census tract from SVI**

# **Step 4: Normalize the eviction rates by nta population**

In [51]:
merged_df.columns

Index(['primary_key', 'bbl', 'court_index_number', 'docket_number',
       'eviction_address', 'eviction_apartment_number', 'executed_date',
       'borough', 'zipcode', 'ejectment', 'eviction/legal_possession',
       'latitude', 'longitude', 'community_board', 'council_district',
       'census_tract', 'bin', 'nta', 'year', 'month_year', 'geometry',
       'average_year_eviction_count', 'yearbuilt', 'bldgclass', 'numfloors',
       'unitsres', 'ownername', 'bldgarea', 'building_type',
       'building_category', 'is_condo', 'floor_category', 'rent_era',
       'architectural_style', 'economic_period', 'residential_units_category',
       'is_llc', 'building_size_category', 'size_quartile', 'decade', 'fips',
       'e_totpop', 'rpl_theme1', 'rpl_theme2', 'rpl_theme3', 'rpl_theme4',
       'rpl_themes', 'ep_pov150', 'ep_unemp', 'ep_nohsdp', 'ep_uninsur',
       'ep_age65', 'ep_age17', 'ep_disabl', 'ep_limeng', 'ep_noveh',
       'ep_crowd', 'ep_hburd', 'ep_afam', 'ep_hisp', 'ep_asian', 'ep_aian',
       'ep_nhpi', 'ep_twomore', 'ep_otherrace', 'ep_minrty', 'ep_white',
       'invalid_zip', 'svi_quartile', 'svi_group', 'air_quality',
       'animal_issues', 'appliances', 'building_exterior', 'doors_windows',
       'electrical_issues', 'elevator_issues', 'floors_stairs',
       'general_complaints', 'graffiti_posting', 'heat_hot_water',
       'homeless_issues', 'noise_complaints', 'other_issues', 'pest_issues',
       'plumbing_issues', 'police_matters', 'public_nuisance',
       'safety_concerns', 'sanitation_issues', 'walls_ceilings',
       'total_complaints', 'average_year_eviction_unit_count',
       'average_year_eviction_nta_count', 'evictions_nta_per_1k',
       'evictions_nta_per_unit_per_1k', 'evictions_nta_per_1k.1', 'tract_str',
       'rebuilt_fips'],
      dtype='object')

In [52]:
merged_df.drop(columns = ['tract_str', 'rebuilt_fips'], inplace = True)

In [53]:
nta_population = merged_df.groupby('nta')['e_totpop'].first().reset_index()
nta_population

                                            nta  e_totpop
0                       Allerton-Pelham Gardens   71862.0
1    Annadale-Huguenot-Prince's Bay-Eltingville   34740.0
2                                 Arden Heights   63473.0
3                                       Astoria   40198.0
4                                    Auburndale   46424.0
..                                          ...       ...
182                          Woodlawn-Wakefield   15390.0
183                                    Woodside   86977.0
184                                   Yorkville   45717.0
185                     park-cemetery-etc-Bronx   98713.0
186                  park-cemetery-etc-Brooklyn   50319.0

[187 rows x 2 columns]

In [54]:
evictions_per_nta = merged_df.groupby('nta').size().reset_index(name='eviction_count')
evictions_per_nta

                                            nta  eviction_count
0                       Allerton-Pelham Gardens             127
1    Annadale-Huguenot-Prince's Bay-Eltingville              17
2                                 Arden Heights              17
3                                       Astoria             332
4                                    Auburndale              36
..                                          ...             ...
182                          Woodlawn-Wakefield             569
183                                    Woodside             158
184                                   Yorkville             305
185                     park-cemetery-etc-Bronx              39
186                  park-cemetery-etc-Brooklyn               1

[187 rows x 2 columns]

In [55]:
population_per_nta = merged_df.drop_duplicates('nta')[['nta', 'e_totpop']]
population_per_nta
# all rows here

                                nta  e_totpop
0                     East New York   96801.0
1                  Sunset Park East   93008.0
2                  Sunset Park West   93008.0
3             Van Cortlandt Village   81397.0
4            Mott Haven-Port Morris   44380.0
...                             ...       ...
8239              Rossville-Woodrow   34740.0
8344          Midtown-Midtown South   30930.0
9697                        Maspeth   39250.0
12075  Brooklyn Heights-Cobble Hill   69755.0
33471    park-cemetery-etc-Brooklyn   50319.0

[187 rows x 2 columns]

In [56]:
eviction_rate = pd.merge(
    evictions_per_nta,
    population_per_nta,
    on='nta',
    how='left'
)

In [57]:
eviction_rate['evictions_nta_per_1k'] = (eviction_rate['eviction_count'] / eviction_rate['e_totpop'])*1000

In [58]:
eviction_rate

,nta,eviction_count,e_totpop,evictions_nta_per_1k
0,Allerton-Pelham Gardens,127,71862.0,1.767276
1,Annadale-Huguenot-Prince's Bay-Eltingville,17,34740.0,0.489349
2,Arden Heights,17,63473.0,0.267830
3,Astoria,332,40198.0,8.259117
4,Auburndale,36,46424.0,0.775461
...,...,...,...,...
182,Woodlawn-Wakefield,569,15390.0,36.972060
183,Woodside,158,86977.0,1.816572
184,Yorkville,305,45717.0,6.671479
185,park-cemetery-etc-Bronx,39,98713.0,0.395085
186,park-cemetery-etc-Brooklyn,1,50319.0,0.019873

In [59]:
merged_df = pd.merge(
    merged_df,
    eviction_rate[['nta', 'evictions_nta_per_1k']],
    on='nta',
    how='left'
)
merged_df

,primary_key,bbl,court_index_number,docket_number,eviction_address,eviction_apartment_number,executed_date,borough,zipcode,ejectment,eviction/legal_possession,latitude,longitude,community_board,council_district,census_tract,bin,nta,year,month_year,geometry,average_year_eviction_count,yearbuilt,bldgclass,numfloors,unitsres,ownername,bldgarea,building_type,building_category,is_condo,floor_category,rent_era,architectural_style,economic_period,residential_units_category,is_llc,building_size_category,size_quartile,decade,fips,e_totpop,rpl_theme1,rpl_theme2,rpl_theme3,rpl_theme4,rpl_themes,ep_pov150,ep_unemp,ep_nohsdp,ep_uninsur,ep_age65,ep_age17,ep_disabl,ep_limeng,ep_noveh,ep_crowd,ep_hburd,ep_afam,ep_hisp,ep_asian,ep_aian,ep_nhpi,ep_twomore,ep_otherrace,ep_minrty,ep_white,invalid_zip,svi_quartile,svi_group,air_quality,animal_issues,appliances,building_exterior,doors_windows,electrical_issues,elevator_issues,floors_stairs,general_complaints,graffiti_posting,heat_hot_water,homeless_issues,noise_complaints,other_issues,pest_issues,plumbing_issues,police_matters,public_nuisance,safety_concerns,sanitation_issues,walls_ceilings,total_complaints,average_year_eviction_unit_count,average_year_eviction_nta_count,evictions_nta_per_1k_x,evictions_nta_per_unit_per_1k,evictions_nta_per_1k.1,evictions_nta_per_1k_y
0,*308072/22_5865,3037420029,*308072/22,5865,356 MILLER AVE,1 AND BASEMENT,2024-12-04,BROOKLYN,11207,Not an Ejectment,Possession,40.672121,-73.891105,5.0,37.0,1152.0,3083989,East New York,2024,2024-12,POINT (-73.891105 40.672121),0.8,1930.0,C0,3.0,3.0,356 MILLER LLC,2700.0,pre-war,walk-up,False,low-rise,"Pre-1947, pre-rent-control","19211930, Art Deco Skyscrapers","1930-1945, great depression and WWII",3-5 units,True,small,Q3 (50-75%),1930-1939,11207,96801.0,0.9788,0.9140,0.9808,0.9812,0.9839,33.9,11.1,19.1,6.0,13.8,22.5,13.8,5.3,57.8,9.1,44.7,55.9,32.8,1.5,0.0,0.0,2.9,1.6,94.7,5.3,False,Q3,medium-high,0.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,5.0,19.0,0.266667,0.002748,13.739527,0.002755,13.739527,13.739527
1,*313639/23_5202,3057940012,*313639/23,5202,710 61ST STREET,2ND FLOOR,2024-03-04,BROOKLYN,11220,Not an Ejectment,Possession,40.635941,-74.011883,7.0,38.0,118.0,3143881,Sunset Park East,2024,2024-03,POINT (-74.011883 40.635941),0.6,1920.0,B2,2.0,2.0,"A.R.M. PARKING, LLC",1204.0,pre-war,two-family,False,low-rise,"Pre-1947, pre-rent-control","19001920, Beaux-Arts","Pre-1929, pre-great depression",2-unit,True,very small,Q1 (smallest 25%),1920-1929,11220,93008.0,0.9885,0.7635,0.9594,0.9179,0.9662,37.5,7.5,37.9,11.6,13.1,25.4,8.4,40.2,61.7,23.7,43.6,1.7,40.9,40.7,0.4,0.0,1.2,0.2,85.0,15.0,False,Q3,medium-high,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,4.0,0.300000,0.000409,2.042835,0.003226,2.042835,2.042835
2,*324973/22_5308,3057820030,*324973/22,5308,462 60TH STREET,FOURTH FLOOR APT AKA,2024-08-13,BROOKLYN,11220,Not an Ejectment,Possession,40.640008,-74.017068,7.0,38.0,122.0,3143435,Sunset Park West,2024,2024-08,POINT (-74.017068 40.640008),0.6,1907.0,C3,4.0,4.0,"LIN, RONG LAN",4800.0,pre-war,walk-up,False,mid-rise,"Pre-1947, pre-rent-control","19001920, Beaux-Arts","Pre-1929, pre-great depression",3-5 units,False,medium-small,Q4 (largest 25%),1900-1909,11220,93008.0,0.9885,0.7635,0.9594,0.9179,0.9662,37.5,7.5,37.9,11.6,13.1,25.4,8.4,40.2,61.7,23.7,43.6,1.7,40.9,40.7,0.4,0.0,1.2,0.2,85.0,15.0,False,Q3,medium-high,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,10.0,0.150000,0.000426,2.128849,0.001613,2.128849,2.128849
3,*53336/16_170279,2032510420,*53336/16,170279,3400 PAUL AVENUE,15D,2018-10-17,BRONX,10468,Not an Ejectment,Possession,40.877190,-73.889569,7.0,11.0,409.0,2015444,Van Cortlandt Village,2018,2018-10,POINT (-73.889569 40.87719),0.8,1967.0,D4,21.0,352.0,SCOTT TOWER HOUSING CO INC,381213.0,post-war,condo-co-op,True,high-rise,"19471969, rent-control","19511980, the International Style, Alternative Modernism","19461975, pst war economic boom",100+ units,False,mega,Q4 (largest 25%),1960-1969,10468,81397.0,0.9954,0.9407,0.9870,0.9470,0.9874,39.5,11.6,28.3,9.2,11.2,26.4,12.2,26.9,71.8,19.2,56.7,15.6,78.0,2.3,0.0,0.0,0.5,0.5,96.9,3.1,False,Q3,medium-high,6.0,0.0,0.0,0.0,9.0,0.0,2.0,5.0,5.0,0.0,23.0,0.0,145.0,0.0,2.0,41.0,0.0,0.0,1.0,5.0,4.0,248.0,0.002273,0.002123,10.614642,0.000028,10.614642,10.614642
4,*5990/17_2703,2025770038,*5990/17,2703,480 CONCORD AVENUE,4E,2019-08-30,BRONX,10455,Not an Ejectment,Possession,40.811197,-73.908810,1.0,8.0,35.0,2003900,Mott Haven-Port Morris,2019,2019-08,POINT (-73.90881 40.811197),1.6,1928.0,D7,6.0,65.0,480 CONCORD AVE OWNER LLC,69102.0,pre-war,elevator,False,mid-rise,"Pre-1947, pre-rent-control","19211930, Art Deco Skyscrapers","Pre-1929, pre-great depression",21-100 units,True,very large,Q4 (largest 25%),1920-1929,10455,44380.0,0.9971,0.9909,0.9972,0.9499,0.9971,48.5,12.5,32.1,9.5,10.1,28.1,19.5,17.9,75.1,14.5,51.9,21.1,74.1,1.1,0.0,0.0,1.4,1.0,98.6,1.4,False,Q4 (High),high,0.0,5.0,8.0,0.0,21.0,8.0,34.0,10.0,9.0,0.0,89.0,0.0,78.0,0.0,5.0,41.0,1.0,0.0,3.0,31.0,13.0,356.0,0.024615,0.003578,17.890942,0.000555,17.890942,17.890942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66392,R53634/16_76078,5000130008,R53634/16,76078,185 ST.MARKS PLACE,4F,2017-04-19,STATEN ISLAND,10301,Not an Ejectment,Possession,40.645358,-74.080729,1.0,49.0,7.0,5108502,West New Brighton-New Brighton-St. George,2017,2017-04,POINT (-74.080729 40.645358),3.8,1976.0,D3,20.0,454.0,NYC HOUSING DEVELOPMENT CORP.,524513.0,post-war,elevator,False,high-rise,"19701993, deregularization","19511980, the International Style, Alternative Modernism","19761990, fiscal crisis and recovery",100+ units,False,mega,Q4 (largest 25%),1970-1979,10301,40331.0,0.8784,0.7487,0.8992,0.9869,0.9329,20.4,7.1,13.7,5.2,15.6,20.7,11.6,6.5,25.5,8.1,32.2,19.9,26.3,7.6,0.7,0.0,3.7,0.3,58.6,41.4,False,Q2,medium-low,1.0,2.0,6.0,0.0,26.0,5.0,5.0,26.0,5.0,0.0,88.0,0.0,308.0,1.0,8.0,63.0,1.0,3.0,8.0,38.0,35.0,629.0,0.008370,0.002222,11.108081,0.000208,11.108081,11.108081
66393,R53669/18_96694,5003540004,R53669/18,96694,495 JEWETT AVENUE,REAR APT.,2019-06-12,STATEN ISLAND,10302,Not an Ejectment,Possession,40.624827,-74.131808,1.0,49.0,151.0,5101137,Westerleigh,2019,2019-06,POINT (-74.131808 40.624827),0.4,1988.0,S9,2.0,2.0,VICO HOLDING CORP,2593.0,post-war,primarily_res_with_mixed_use,False,low-rise,"19701993, deregularization","19812000, Post-Modernism","19761990, fiscal crisis and recovery",2-unit,False,small,Q3 (50-75%),1980-1989,10302,18567.0,0.9427,0.7846,0.9301,0.7692,0.9163,23.9,7.8,13.5,8.7,10.2,23.7,11.6,3.6,22.7,6.7,35.3,21.7,41.9,5.6,0.0,0.0,1.8,0.4,71.4,28.6,False,Q1 (Low),low,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,0.0,5.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,14.0,0.200000,0.000072,0.360341,0.010772,0.360341,0.360341
66394,R53669/18B_96725,5003540004,R53669/18B,96725,495 JEWETT AVENUE,REAR APT,2019-06-12,STATEN ISLAND,10302,Not an Ejectment,Possession,40.624827,-74.131808,1.0,49.0,151.0,5101137,Westerleigh,2019,2019-06,POINT (-74.131808 40.624827),0.4,1988.0,S9,2.0,2.0,VICO HOLDING CORP,2593.0,post-war,primarily_res_with_mixed_use,False,low-rise,"19701993, deregularization","19812000, Post-Modernism","19761990, fiscal crisis and recovery",2-unit,False,small,Q3 (50-75%),1980-1989,10302,18567.0,0.9427,0.7846,0.9301,0.7692,0.9163,23.9,7.8,13.5,8.7,10.2,23.7,11.6,3.6,22.7,6.7,35.3,21.7,41.9,5.6,0.0,0.0,1.8,0.4,71.4,28.6,False,Q1 (Low),low,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,0.0,5.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,14.0,0.200000,0.000072,0.360341,0.010772,0.360341,0.360341
66395,R53784/18_95054,5001690001,R53784/18,95054,32 SKINNER LANE,3A,2019-06-24,STATEN ISLAND,10310,Not an Ejectment,Possession,40.639662,-74.116434,1.0,49.0,97.0,5108656,West New Brighton-New Brighton-St. George,2019,2019-06,POINT (-74.116434 40.639662),0.2,2007.0,C1,3.0,240.0,MARKHAM GARDENS L.P.,236523.0,post-war,walk-up,False,low-rise,"1994Present, vacancy decontrol","2001-present, New Architecture","19912008, modern economic growth",100+ units,False,mega,Q4 (largest 25%),2000-2009,10310,26239.0,0.7569,0.7972,0.8975,0.8991,0.8928,21.0,4.2,12.6,4.5,12.6,25.7,8.7,6.0,21.8,4.4,28.0,20.0,29.0,5.3,0.1,0.0,3.0,0.2,57.6,42.4,False,Q1 (Low),low,0.0,2.0,19.0,1.0,10.0,12.0,0.0,16.0,8.0,0.0,28.0,0.0,61.0,0.0,33.0,22.0,0.0,0.0,0.0,68.0,30.0,310.0,0.000833,0.002222,11.108081,0.000032,11.108081,11.108081
66396,R53803/18_95363,5035857501,R53803/18,95363,100 COLFAX AVENUE,"6A, TWO (2)(COMBINAT",2019-04-03,STATEN ISLAND,10306,Not an Ejectment,Possession,40.579906,-74.107779,2.0,50.0,11402.0,5095450,New Dorp-Midland Beach,2019,2019-04,POINT (-74.107779 40.579906),0.8,1961.0,R4,7.0,159.0,UNAVAILABLE OWNER,134673.0,post-war,condo-co-op,True,high-rise,"19471969, rent-control","19511980, the International Style, Alternative Modernism","19461975, pst war economic boom",100+ units,False,mega,Q4 (largest 25%),1960-1969,10306,56232.0,0.7769,0.8011,0.7994,0.8319,0.8739,16.6,6.7,11.5,4.3,18.8,21.3,11.1,8.5,14.7,4.3,28.0,3.0,16.2,13.8,0.0,0.0,3.5,0.4,36.8,63.2,False,Q1 (Low),low,0.0,0.0,1.0,0.0,2.0,1.0,0.0,1.0,1.0,0.0,3.0,0.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,48.0,0.005031,0.000146,0.729122,0.000089,0.729122,0.729122

In [60]:
# merged_df.drop(columns = ['evictions_per_1k'], inplace = True)

In [61]:
merged_df['evictions_nta_per_unit_per_1k'] = merged_df['average_year_eviction_unit_count'] / merged_df['e_totpop'] * 1000

In [62]:
merged_df['evictions_nta_per_unit_per_1k']

0        0.002755
1        0.003226
2        0.001613
3        0.000028
4        0.000555
           ...
66392    0.000208
66393    0.010772
66394    0.010772
66395    0.000032
66396    0.000089
Name: evictions_nta_per_unit_per_1k, Length: 66397, dtype: float64

In [63]:
merged_df.shape
# 96 is good

(66397, 98)

In [64]:
merged_df.head()

,primary_key,bbl,court_index_number,docket_number,eviction_address,eviction_apartment_number,executed_date,borough,zipcode,ejectment,eviction/legal_possession,latitude,longitude,community_board,council_district,census_tract,bin,nta,year,month_year,geometry,average_year_eviction_count,yearbuilt,bldgclass,numfloors,unitsres,ownername,bldgarea,building_type,building_category,is_condo,floor_category,rent_era,architectural_style,economic_period,residential_units_category,is_llc,building_size_category,size_quartile,decade,fips,e_totpop,rpl_theme1,rpl_theme2,rpl_theme3,rpl_theme4,rpl_themes,ep_pov150,ep_unemp,ep_nohsdp,ep_uninsur,ep_age65,ep_age17,ep_disabl,ep_limeng,ep_noveh,ep_crowd,ep_hburd,ep_afam,ep_hisp,ep_asian,ep_aian,ep_nhpi,ep_twomore,ep_otherrace,ep_minrty,ep_white,invalid_zip,svi_quartile,svi_group,air_quality,animal_issues,appliances,building_exterior,doors_windows,electrical_issues,elevator_issues,floors_stairs,general_complaints,graffiti_posting,heat_hot_water,homeless_issues,noise_complaints,other_issues,pest_issues,plumbing_issues,police_matters,public_nuisance,safety_concerns,sanitation_issues,walls_ceilings,total_complaints,average_year_eviction_unit_count,average_year_eviction_nta_count,evictions_nta_per_1k_x,evictions_nta_per_unit_per_1k,evictions_nta_per_1k.1,evictions_nta_per_1k_y
0,*308072/22_5865,3037420029,*308072/22,5865,356 MILLER AVE,1 AND BASEMENT,2024-12-04,BROOKLYN,11207,Not an Ejectment,Possession,40.672121,-73.891105,5.0,37.0,1152.0,3083989,East New York,2024,2024-12,POINT (-73.891105 40.672121),0.8,1930.0,C0,3.0,3.0,356 MILLER LLC,2700.0,pre-war,walk-up,False,low-rise,"Pre-1947, pre-rent-control","19211930, Art Deco Skyscrapers","1930-1945, great depression and WWII",3-5 units,True,small,Q3 (50-75%),1930-1939,11207,96801.0,0.9788,0.9140,0.9808,0.9812,0.9839,33.9,11.1,19.1,6.0,13.8,22.5,13.8,5.3,57.8,9.1,44.7,55.9,32.8,1.5,0.0,0.0,2.9,1.6,94.7,5.3,False,Q3,medium-high,0.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,5.0,19.0,0.266667,0.002748,13.739527,0.002755,13.739527,13.739527
1,*313639/23_5202,3057940012,*313639/23,5202,710 61ST STREET,2ND FLOOR,2024-03-04,BROOKLYN,11220,Not an Ejectment,Possession,40.635941,-74.011883,7.0,38.0,118.0,3143881,Sunset Park East,2024,2024-03,POINT (-74.011883 40.635941),0.6,1920.0,B2,2.0,2.0,"A.R.M. PARKING, LLC",1204.0,pre-war,two-family,False,low-rise,"Pre-1947, pre-rent-control","19001920, Beaux-Arts","Pre-1929, pre-great depression",2-unit,True,very small,Q1 (smallest 25%),1920-1929,11220,93008.0,0.9885,0.7635,0.9594,0.9179,0.9662,37.5,7.5,37.9,11.6,13.1,25.4,8.4,40.2,61.7,23.7,43.6,1.7,40.9,40.7,0.4,0.0,1.2,0.2,85.0,15.0,False,Q3,medium-high,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,4.0,0.300000,0.000409,2.042835,0.003226,2.042835,2.042835
2,*324973/22_5308,3057820030,*324973/22,5308,462 60TH STREET,FOURTH FLOOR APT AKA,2024-08-13,BROOKLYN,11220,Not an Ejectment,Possession,40.640008,-74.017068,7.0,38.0,122.0,3143435,Sunset Park West,2024,2024-08,POINT (-74.017068 40.640008),0.6,1907.0,C3,4.0,4.0,"LIN, RONG LAN",4800.0,pre-war,walk-up,False,mid-rise,"Pre-1947, pre-rent-control","19001920, Beaux-Arts","Pre-1929, pre-great depression",3-5 units,False,medium-small,Q4 (largest 25%),1900-1909,11220,93008.0,0.9885,0.7635,0.9594,0.9179,0.9662,37.5,7.5,37.9,11.6,13.1,25.4,8.4,40.2,61.7,23.7,43.6,1.7,40.9,40.7,0.4,0.0,1.2,0.2,85.0,15.0,False,Q3,medium-high,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,10.0,0.150000,0.000426,2.128849,0.001613,2.128849,2.128849
3,*53336/16_170279,2032510420,*53336/16,170279,3400 PAUL AVENUE,15D,2018-10-17,BRONX,10468,Not an Ejectment,Possession,40.877190,-73.889569,7.0,11.0,409.0,2015444,Van Cortlandt Village,2018,2018-10,POINT (-73.889569 40.87719),0.8,1967.0,D4,21.0,352.0,SCOTT TOWER HOUSING CO INC,381213.0,post-war,condo-co-op,True,high-rise,"19471969, rent-control","19511980, the International Style, Alternative Modernism","19461975, pst war economic boom",100+ units,False,mega,Q4 (largest 25%),1960-1969,10468,81397.0,0.9954,0.9407,0.9870,0.9470,0.9874,39.5,11.6,28.3,9.2,11.2,26.4,12.2,26.9,71.8,19.2,56.7,15.6,78.0,2.3,0.0,0.0,0.5,0.5,96.9,3.1,False,Q3,medium-high,6.0,0.0,0.0,0.0,9.0,0.0,2.0,5.0,5.0,0.0,23.0,0.0,145.0,0.0,2.0,41.0,0.0,0.0,1.0,5.0,4.0,248.0,0.002273,0.002123,10.614642,0.000028,10.614642,10.614642
4,*5990/17_2703,2025770038,*5990/17,2703,480 CONCORD AVENUE,4E,2019-08-30,BRONX,10455,Not an Ejectment,Possession,40.811197,-73.908810,1.0,8.0,35.0,2003900,Mott Haven-Port Morris,2019,2019-08,POINT (-73.90881 40.811197),1.6,1928.0,D7,6.0,65.0,480 CONCORD AVE OWNER LLC,69102.0,pre-war,elevator,False,mid-rise,"Pre-1947, pre-rent-control","19211930, Art Deco Skyscrapers","Pre-1929, pre-great depression",21-100 units,True,very large,Q4 (largest 25%),1920-1929,10455,44380.0,0.9971,0.9909,0.9972,0.9499,0.9971,48.5,12.5,32.1,9.5,10.1,28.1,19.5,17.9,75.1,14.5,51.9,21.1,74.1,1.1,0.0,0.0,1.4,1.0,98.6,1.4,False,Q4 (High),high,0.0,5.0,8.0,0.0,21.0,8.0,34.0,10.0,9.0,0.0,89.0,0.0,78.0,0.0,5.0,41.0,1.0,0.0,3.0,31.0,13.0,356.0,0.024615,0.003578,17.890942,0.000555,17.890942,17.890942

In [65]:
merged_df.columns

Index(['primary_key', 'bbl', 'court_index_number', 'docket_number',
       'eviction_address', 'eviction_apartment_number', 'executed_date',
       'borough', 'zipcode', 'ejectment', 'eviction/legal_possession',
       'latitude', 'longitude', 'community_board', 'council_district',
       'census_tract', 'bin', 'nta', 'year', 'month_year', 'geometry',
       'average_year_eviction_count', 'yearbuilt', 'bldgclass', 'numfloors',
       'unitsres', 'ownername', 'bldgarea', 'building_type',
       'building_category', 'is_condo', 'floor_category', 'rent_era',
       'architectural_style', 'economic_period', 'residential_units_category',
       'is_llc', 'building_size_category', 'size_quartile', 'decade', 'fips',
       'e_totpop', 'rpl_theme1', 'rpl_theme2', 'rpl_theme3', 'rpl_theme4',
       'rpl_themes', 'ep_pov150', 'ep_unemp', 'ep_nohsdp', 'ep_uninsur',
       'ep_age65', 'ep_age17', 'ep_disabl', 'ep_limeng', 'ep_noveh',
       'ep_crowd', 'ep_hburd', 'ep_afam', 'ep_hisp', 'ep_asian', 'ep_aian',
       'ep_nhpi', 'ep_twomore', 'ep_otherrace', 'ep_minrty', 'ep_white',
       'invalid_zip', 'svi_quartile', 'svi_group', 'air_quality',
       'animal_issues', 'appliances', 'building_exterior', 'doors_windows',
       'electrical_issues', 'elevator_issues', 'floors_stairs',
       'general_complaints', 'graffiti_posting', 'heat_hot_water',
       'homeless_issues', 'noise_complaints', 'other_issues', 'pest_issues',
       'plumbing_issues', 'police_matters', 'public_nuisance',
       'safety_concerns', 'sanitation_issues', 'walls_ceilings',
       'total_complaints', 'average_year_eviction_unit_count',
       'average_year_eviction_nta_count', 'evictions_nta_per_1k_x',
       'evictions_nta_per_unit_per_1k', 'evictions_nta_per_1k.1',
       'evictions_nta_per_1k_y'],
      dtype='object')

In [66]:
merged_df.drop(columns = ['evictions_nta_per_1k_y'], inplace = True)
merged_df.rename(columns = {'evictions_nta_per_1k_x': 'evictions_nta_per_1k'}, inplace = True)

# **Step 5 Normalize eviction rates per nta population for Covid**

In [67]:
link4 = '/content/drive/My Drive/X999/bbl_evictions_311_svi_covid.csv'
merged_df_covid = pd.read_csv(link4)
merged_df_covid.shape

(5386, 97)

In [68]:
nta_population_covid = merged_df_covid.groupby('nta')['e_totpop'].first().reset_index()
nta_population_covid

                                            nta  e_totpop
0                       Allerton-Pelham Gardens   71862.0
1    Annadale-Huguenot-Prince's Bay-Eltingville   34740.0
2                                 Arden Heights   63473.0
3                                       Astoria   86977.0
4                                    Auburndale   37647.0
..                                          ...       ...
180                                   Woodhaven   41552.0
181                          Woodlawn-Wakefield   72273.0
182                                    Woodside   86977.0
183                                   Yorkville   56695.0
184                     park-cemetery-etc-Bronx   98713.0

[185 rows x 2 columns]

In [69]:
evictions_per_nta_covid = merged_df_covid.groupby('nta').size().reset_index(name='eviction_count')
evictions_per_nta_covid

                                            nta  eviction_count
0                       Allerton-Pelham Gardens              13
1    Annadale-Huguenot-Prince's Bay-Eltingville               1
2                                 Arden Heights               5
3                                       Astoria              18
4                                    Auburndale               1
..                                          ...             ...
180                                   Woodhaven              19
181                          Woodlawn-Wakefield              37
182                                    Woodside               6
183                                   Yorkville              42
184                     park-cemetery-etc-Bronx               2

[185 rows x 2 columns]

In [70]:
population_per_nta_covid = merged_df_covid.drop_duplicates('nta')[['nta', 'e_totpop']]
population_per_nta_covid
# all rows here

                                             nta  e_totpop
0                            Kingsbridge Heights   81397.0
1                                   Forest Hills   75212.0
2                                        Erasmus  101053.0
3                            Crown Heights South   58476.0
4                                    Kew Gardens   20315.0
...                                          ...       ...
3141                  Jamaica Estates-Holliswood   64268.0
3370                                  Auburndale   37647.0
3430              Stuyvesant Town-Cooper Village   32410.0
4746                               Starrett City   16808.0
5312  Annadale-Huguenot-Prince's Bay-Eltingville   34740.0

[185 rows x 2 columns]

In [71]:
eviction_rate_covid = pd.merge(
    evictions_per_nta_covid,
    population_per_nta_covid,
    on='nta',
    how='left'
)

In [72]:
eviction_rate_covid['evictions_nta_per_1k'] = (eviction_rate_covid['eviction_count'] / eviction_rate_covid['e_totpop'])*1000

In [73]:
eviction_rate_covid

,nta,eviction_count,e_totpop,evictions_nta_per_1k
0,Allerton-Pelham Gardens,13,71862.0,0.180902
1,Annadale-Huguenot-Prince's Bay-Eltingville,1,34740.0,0.028785
2,Arden Heights,5,63473.0,0.078774
3,Astoria,18,86977.0,0.206951
4,Auburndale,1,37647.0,0.026563
...,...,...,...,...
180,Woodhaven,19,41552.0,0.457258
181,Woodlawn-Wakefield,37,72273.0,0.511948
182,Woodside,6,86977.0,0.068984
183,Yorkville,42,56695.0,0.740806
184,park-cemetery-etc-Bronx,2,98713.0,0.020261

In [74]:
merged_df_covid = pd.merge(
    merged_df_covid,
    eviction_rate_covid[['nta', 'evictions_nta_per_1k']],
    on='nta',
    how='left'
)
merged_df_covid

,primary_key,bbl,court_index_number,docket_number,eviction_address,eviction_apartment_number,executed_date,borough,zipcode,ejectment,eviction/legal_possession,latitude,longitude,community_board,council_district,census_tract,bin,nta,year,month_year,geometry,average_year_eviction_count,yearbuilt,bldgclass,numfloors,unitsres,ownername,bldgarea,building_type,building_category,is_condo,floor_category,rent_era,architectural_style,economic_period,residential_units_category,is_llc,building_size_category,size_quartile,decade,fips,e_totpop,rpl_theme1,rpl_theme2,rpl_theme3,rpl_theme4,rpl_themes,ep_pov150,ep_unemp,ep_nohsdp,ep_uninsur,ep_age65,ep_age17,ep_disabl,ep_limeng,ep_noveh,ep_crowd,ep_hburd,ep_afam,ep_hisp,ep_asian,ep_aian,ep_nhpi,ep_twomore,ep_otherrace,ep_minrty,ep_white,invalid_zip,svi_quartile,air_quality,animal_issues,appliances,building_exterior,doors_windows,electrical_issues,elevator_issues,floors_stairs,general_complaints,graffiti_posting,heat_hot_water,homeless_issues,noise_complaints,other_issues,pest_issues,plumbing_issues,police_matters,public_nuisance,safety_concerns,sanitation_issues,walls_ceilings,total_complaints,average_year_eviction_unit_count,average_year_eviction_nta_count,evictions_nta_per_1k_x,evictions_nta_per_unit_per_1k,evictions_nta_per_1k.1,evictions_nta_per_1k.2,evictions_nta_per_1k_y
0,004123/20_209969,2032140141,004123/20,209969,2541 A GRAND AVE,ROOM 3B,2022-08-22,BRONX,10468,Not an Ejectment,Possession,40.865396,-73.901317,7.0,14.0,265.0,2113173,Kingsbridge Heights,2022,2022-08,POINT (-73.901317 40.865396),0.2,2004.0,C0,3.0,3.0,MONJU SARKER,3420.0,post-war,walk-up,False,low-rise,"1994Present, vacancy decontrol","2001-present, New Architecture","19912008, modern economic growth",3-5 units,False,medium-small,Q4 (largest 25%),2000-2009,10468,81397.0,0.9954,0.9407,0.9870,0.9470,0.9874,39.5,11.6,28.3,9.2,11.2,26.4,12.2,26.9,71.8,19.2,56.7,15.6,78.0,2.3,0.0,0.0,0.5,0.5,96.9,3.1,False,Q3,0.0,0.0,0.0,0.0,3.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,1.0,14.0,0.066667,0.000138,0.687986,0.000819,0.687986,0.687986,0.687986
1,0050153/20_106030,4031560133,0050153/20,106030,98-05 67TH AVENUE,12F,2022-04-14,QUEENS,11375,Not an Ejectment,Possession,40.724241,-73.855552,6.0,29.0,71306.0,4074666,Forest Hills,2022,2022-04,POINT (-73.855552 40.724241),0.2,1960.0,D3,13.0,181.0,MARSEILLES LEASING LIMITED PARTNERSHIP,177710.0,post-war,elevator,False,high-rise,"19471969, rent-control","19511980, the International Style, Alternative Modernism","19461975, pst war economic boom",100+ units,False,mega,Q4 (largest 25%),1960-1969,11375,75212.0,0.4759,0.5698,0.8789,0.8057,0.7322,12.0,4.8,6.1,3.7,20.4,18.0,10.5,7.9,41.9,5.8,25.4,2.7,16.4,28.5,0.1,0.0,4.6,0.7,53.0,47.0,False,Q1 (Low),0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,62.0,0.0,34.0,0.0,0.0,4.0,1.0,0.0,0.0,2.0,5.0,112.0,0.001105,0.000048,0.239324,0.000015,0.239324,0.239324,0.239324
2,0052002/19_101926,3051370021,0052002/19,101926,199 VERONICA PLACE,1ST FLOOR,2020-03-02,BROOKLYN,11226,Not an Ejectment,Possession,40.645404,-73.952578,17.0,40.0,792.0,3117969,Erasmus,2020,2020-03,POINT (-73.952578 40.645404),0.6,1920.0,B3,2.0,2.0,"AANS, LLC.",1496.0,pre-war,two-family,False,low-rise,"Pre-1947, pre-rent-control","19001920, Beaux-Arts","Pre-1929, pre-great depression",2-unit,True,very small,Q2 (25-50%),1920-1929,11226,101053.0,0.9300,0.4536,0.9639,0.9692,0.9220,23.7,5.9,13.9,9.1,13.1,18.7,6.7,5.6,66.1,10.0,39.2,63.2,14.9,3.2,0.3,0.0,4.1,0.7,86.3,13.7,False,Q2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.300000,0.000137,0.682810,0.002969,0.682810,0.682810,0.682810
3,0057757/18_100889,3011850034,0057757/18,100889,302 EASTERN PARKWAY,4B,2020-02-03,BROOKLYN,11225,Not an Ejectment,Possession,40.670832,-73.958843,9.0,35.0,213.0,3029673,Crown Heights South,2020,2020-02,POINT (-73.958843 40.670832),0.8,1923.0,D1,6.0,48.0,302 EASTERN CORP,42984.0,pre-war,elevator,False,mid-rise,"Pre-1947, pre-rent-control","19211930, Art Deco Skyscrapers","Pre-1929, pre-great depression",21-100 units,False,very large,Q4 (largest 25%),1920-1929,11225,58476.0,0.8905,0.3157,0.9330,0.8342,0.8538,23.1,6.6,11.5,5.9,15.3,16.7,9.6,2.2,66.2,6.9,37.3,53.7,10.8,3.3,0.0,0.0,3.9,0.9,72.6,27.4,False,Q1 (Low),0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,12.0,0.0,17.0,0.0,3.0,2.0,1.0,0.0,2.0,2.0,1.0,45.0,0.016667,0.000236,1.179971,0.000285,1.179971,1.179971,1.179971
4,0061902/19_117253,4033220043,0061902/19,117253,83-33 118TH STREET,5N,2020-02-14,QUEENS,11415,Not an Ejectment,Possession,40.706235,-73.834603,9.0,29.0,134.0,4079390,Kew Gardens,2020,2020-02,POINT (-73.834603 40.706235),0.4,1979.0,D1,6.0,79.0,CIAMPA METROPOLITAN CO,72147.0,post-war,elevator,False,mid-rise,"19701993, deregularization","19511980, the International Style, Alternative Modernism","19761990, fiscal crisis and recovery",21-100 units,False,very large,Q4 (largest 25%),1970-1979,11415,20315.0,0.7661,0.5573,0.8980,0.9396,0.8761,14.6,5.6,11.8,4.7,17.0,18.0,10.9,7.5,44.3,8.5,32.3,6.7,22.9,22.3,0.2,0.0,3.4,2.1,57.7,42.3,False,Q1 (Low),0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9.0,0.0,19.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0,38.0,0.005063,0.000177,0.886045,0.000249,0.886045,0.886045,0.886045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5381,R52623/19_101227,5000130008,R52623/19,101227,185 ST.MARKS PLACE,13A,2020-02-19,STATEN ISLAND,10301,Not an Ejectment,Possession,40.645358,-74.080729,1.0,49.0,7.0,5108502,West New Brighton-New Brighton-St. George,2020,2020-02,POINT (-74.080729 40.645358),0.6,1976.0,D3,20.0,454.0,NYC HOUSING DEVELOPMENT CORP.,524513.0,post-war,elevator,False,high-rise,"19701993, deregularization","19511980, the International Style, Alternative Modernism","19761990, fiscal crisis and recovery",100+ units,False,mega,Q4 (largest 25%),1970-1979,10301,40331.0,0.8784,0.7487,0.8992,0.9869,0.9329,20.4,7.1,13.7,5.2,15.6,20.7,11.6,6.5,25.5,8.1,32.2,19.9,26.3,7.6,0.7,0.0,3.7,0.3,58.6,41.4,False,Q2,0.0,4.0,3.0,0.0,19.0,3.0,2.0,22.0,4.0,0.0,24.0,0.0,253.0,1.0,0.0,27.0,6.0,9.0,9.0,20.0,16.0,422.0,0.001322,0.000465,2.324784,0.000033,2.324784,2.324784,2.324784
5382,R52635/19_101039,5000130008,R52635/19,101039,185 ST.MARKS PLACE,5E,2020-01-06,STATEN ISLAND,10301,Not an Ejectment,Possession,40.645358,-74.080729,1.0,49.0,7.0,5108502,West New Brighton-New Brighton-St. George,2020,2020-01,POINT (-74.080729 40.645358),0.6,1976.0,D3,20.0,454.0,NYC HOUSING DEVELOPMENT CORP.,524513.0,post-war,elevator,False,high-rise,"19701993, deregularization","19511980, the International Style, Alternative Modernism","19761990, fiscal crisis and recovery",100+ units,False,mega,Q4 (largest 25%),1970-1979,10301,40331.0,0.8784,0.7487,0.8992,0.9869,0.9329,20.4,7.1,13.7,5.2,15.6,20.7,11.6,6.5,25.5,8.1,32.2,19.9,26.3,7.6,0.7,0.0,3.7,0.3,58.6,41.4,False,Q2,0.0,4.0,3.0,0.0,19.0,3.0,2.0,22.0,4.0,0.0,24.0,0.0,253.0,1.0,0.0,27.0,6.0,9.0,9.0,20.0,16.0,422.0,0.001322,0.000465,2.324784,0.000033,2.324784,2.324784,2.324784
5383,R52697/19_101672,5046760073,R52697/19,101672,351 ADELAIDE AVENUE,18,2020-01-22,STATEN ISLAND,10306,Not an Ejectment,Possession,40.558150,-74.118731,3.0,50.0,12805.0,5063024,Oakwood-Oakwood Beach,2020,2020-01,POINT (-74.118731 40.55815),0.2,1965.0,C9,2.0,16.0,351 ADELAIDE AVENUE HOLDINGS LLC,8460.0,post-war,walk-up,False,low-rise,"19471969, rent-control","19511980, the International Style, Alternative Modernism","19461975, pst war economic boom",6-20 units,True,medium,Q4 (largest 25%),1960-1969,10306,56232.0,0.7769,0.8011,0.7994,0.8319,0.8739,16.6,6.7,11.5,4.3,18.8,21.3,11.1,8.5,14.7,4.3,28.0,3.0,16.2,13.8,0.0,0.0,3.5,0.4,36.8,63.2,False,Q1 (Low),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.012500,0.000053,0.266752,0.000222,0.266752,0.266752,0.266752
5384,R52769/19_102174,5001690001,R52769/19,102174,31 MARKHAM LANE,1A,2020-02-19,STATEN ISLAND,10310,Not an Ejectment,Possession,40.639034,-74.116274,1.0,49.0,97.0,5108650,West New Brighton-New Brighton-St. George,2020,2020-02,POINT (-74.116274 40.639034),0.2,2007.0,C1,3.0,240.0,MARKHAM GARDENS L.P.,236523.0,post-war,walk-up,False,low-rise,"1994Present, vacancy decontrol","2001-present, New Architecture","19912008, modern economic growth",100+ units,False,mega,Q4 (largest 25%),2000-2009,10310,26239.0,0.7569,0.7972,0.8975,0.8991,0.8928,21.0,4.2,12.6,4.5,12.6,25.7,8.7,6.0,21.8,4.4,28.0,20.0,29.0,5.3,0.1,0.0,3.0,0.2,57.6,42.4,False,Q1 (Low),0.0,0.0,0.0,0.0,3.0,1.0,0.0,2.0,3.0,0.0,11.0,0.0,25.0,0.0,4.0,9.0,0.0,4.0,1.0,8.0,8.0,79.0,0.000833,0.000465,2.324784,0.000032,2.324784,2.324784,2.324784
5385,R52875/19_102472,5028770025,R52875/19,102472,55 BOWEN STREET,220,2020-02-14,STATEN ISLAND,10304,Not an Ejectment,Possession,40.614079,-74.083429,1.0,49.0,40.0,5043324,Grymes Hill-Clifton-Fox Hills,2020,2020-02,POINT (-74.083429 40.614079),0.8,1973.0,D1,6.0,156.0,CONCORD SEASIDE HOUSING DEVELOPMENT FUND CORP,154860.0,post-war,elevator,False,mid-rise,"19701993, deregularization","19511980, the International Style, Alternative Modernism","19461975, pst war economic boom",100+ units,False,mega,Q4 (largest 25%),1970-1979,10304,44864.0,0.8933,0.8501,0.9065,0.9846,0.9467,23.9,6.1,16.3,5.5,14.3,21.8,10.9,8.0,25.1,9.0,31.3,26.0,21.7,12.3,0.0,0.0,1.2,0.5,61.7,38.3,False,Q2,0.0,0.0,8.0,0.0,1.0,2.0,0.0,2.0,3.0,0.0,39.0,0.0,19.0,0.0,3.0,20.0,0.0,1.0,2.0,19.0,12.0,131.0,0.005128,0.000111,0.557240,0.000114,0.557240,0.557240,0.557240

In [75]:
# merged_df.drop(columns = ['evictions_per_1k'], inplace = True)

In [76]:
merged_df_covid['evictions_nta_per_unit_per_1k'] = merged_df_covid['average_year_eviction_unit_count'] / merged_df_covid['e_totpop'] * 1000

In [77]:
merged_df_covid.shape
# 95 is good

(5386, 98)

In [78]:
merged_df_covid.drop(columns = ['evictions_nta_per_1k_y'], inplace = True)

In [79]:
merged_df_covid.rename(columns = {'evictions_nta_per_1k_x': 'evictions_nta_per_1k'}, inplace = True)

In [80]:
merged_df_covid.head()

,primary_key,bbl,court_index_number,docket_number,eviction_address,eviction_apartment_number,executed_date,borough,zipcode,ejectment,eviction/legal_possession,latitude,longitude,community_board,council_district,census_tract,bin,nta,year,month_year,geometry,average_year_eviction_count,yearbuilt,bldgclass,numfloors,unitsres,ownername,bldgarea,building_type,building_category,is_condo,floor_category,rent_era,architectural_style,economic_period,residential_units_category,is_llc,building_size_category,size_quartile,decade,fips,e_totpop,rpl_theme1,rpl_theme2,rpl_theme3,rpl_theme4,rpl_themes,ep_pov150,ep_unemp,ep_nohsdp,ep_uninsur,ep_age65,ep_age17,ep_disabl,ep_limeng,ep_noveh,ep_crowd,ep_hburd,ep_afam,ep_hisp,ep_asian,ep_aian,ep_nhpi,ep_twomore,ep_otherrace,ep_minrty,ep_white,invalid_zip,svi_quartile,air_quality,animal_issues,appliances,building_exterior,doors_windows,electrical_issues,elevator_issues,floors_stairs,general_complaints,graffiti_posting,heat_hot_water,homeless_issues,noise_complaints,other_issues,pest_issues,plumbing_issues,police_matters,public_nuisance,safety_concerns,sanitation_issues,walls_ceilings,total_complaints,average_year_eviction_unit_count,average_year_eviction_nta_count,evictions_nta_per_1k,evictions_nta_per_unit_per_1k,evictions_nta_per_1k.1,evictions_nta_per_1k.2
0,004123/20_209969,2032140141,004123/20,209969,2541 A GRAND AVE,ROOM 3B,2022-08-22,BRONX,10468,Not an Ejectment,Possession,40.865396,-73.901317,7.0,14.0,265.0,2113173,Kingsbridge Heights,2022,2022-08,POINT (-73.901317 40.865396),0.2,2004.0,C0,3.0,3.0,MONJU SARKER,3420.0,post-war,walk-up,False,low-rise,"1994Present, vacancy decontrol","2001-present, New Architecture","19912008, modern economic growth",3-5 units,False,medium-small,Q4 (largest 25%),2000-2009,10468,81397.0,0.9954,0.9407,0.9870,0.9470,0.9874,39.5,11.6,28.3,9.2,11.2,26.4,12.2,26.9,71.8,19.2,56.7,15.6,78.0,2.3,0.0,0.0,0.5,0.5,96.9,3.1,False,Q3,0.0,0.0,0.0,0.0,3.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,1.0,14.0,0.066667,0.000138,0.687986,0.000819,0.687986,0.687986
1,0050153/20_106030,4031560133,0050153/20,106030,98-05 67TH AVENUE,12F,2022-04-14,QUEENS,11375,Not an Ejectment,Possession,40.724241,-73.855552,6.0,29.0,71306.0,4074666,Forest Hills,2022,2022-04,POINT (-73.855552 40.724241),0.2,1960.0,D3,13.0,181.0,MARSEILLES LEASING LIMITED PARTNERSHIP,177710.0,post-war,elevator,False,high-rise,"19471969, rent-control","19511980, the International Style, Alternative Modernism","19461975, pst war economic boom",100+ units,False,mega,Q4 (largest 25%),1960-1969,11375,75212.0,0.4759,0.5698,0.8789,0.8057,0.7322,12.0,4.8,6.1,3.7,20.4,18.0,10.5,7.9,41.9,5.8,25.4,2.7,16.4,28.5,0.1,0.0,4.6,0.7,53.0,47.0,False,Q1 (Low),0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,62.0,0.0,34.0,0.0,0.0,4.0,1.0,0.0,0.0,2.0,5.0,112.0,0.001105,0.000048,0.239324,0.000015,0.239324,0.239324
2,0052002/19_101926,3051370021,0052002/19,101926,199 VERONICA PLACE,1ST FLOOR,2020-03-02,BROOKLYN,11226,Not an Ejectment,Possession,40.645404,-73.952578,17.0,40.0,792.0,3117969,Erasmus,2020,2020-03,POINT (-73.952578 40.645404),0.6,1920.0,B3,2.0,2.0,"AANS, LLC.",1496.0,pre-war,two-family,False,low-rise,"Pre-1947, pre-rent-control","19001920, Beaux-Arts","Pre-1929, pre-great depression",2-unit,True,very small,Q2 (25-50%),1920-1929,11226,101053.0,0.9300,0.4536,0.9639,0.9692,0.9220,23.7,5.9,13.9,9.1,13.1,18.7,6.7,5.6,66.1,10.0,39.2,63.2,14.9,3.2,0.3,0.0,4.1,0.7,86.3,13.7,False,Q2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.300000,0.000137,0.682810,0.002969,0.682810,0.682810
3,0057757/18_100889,3011850034,0057757/18,100889,302 EASTERN PARKWAY,4B,2020-02-03,BROOKLYN,11225,Not an Ejectment,Possession,40.670832,-73.958843,9.0,35.0,213.0,3029673,Crown Heights South,2020,2020-02,POINT (-73.958843 40.670832),0.8,1923.0,D1,6.0,48.0,302 EASTERN CORP,42984.0,pre-war,elevator,False,mid-rise,"Pre-1947, pre-rent-control","19211930, Art Deco Skyscrapers","Pre-1929, pre-great depression",21-100 units,False,very large,Q4 (largest 25%),1920-1929,11225,58476.0,0.8905,0.3157,0.9330,0.8342,0.8538,23.1,6.6,11.5,5.9,15.3,16.7,9.6,2.2,66.2,6.9,37.3,53.7,10.8,3.3,0.0,0.0,3.9,0.9,72.6,27.4,False,Q1 (Low),0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,12.0,0.0,17.0,0.0,3.0,2.0,1.0,0.0,2.0,2.0,1.0,45.0,0.016667,0.000236,1.179971,0.000285,1.179971,1.179971
4,0061902/19_117253,4033220043,0061902/19,117253,83-33 118TH STREET,5N,2020-02-14,QUEENS,11415,Not an Ejectment,Possession,40.706235,-73.834603,9.0,29.0,134.0,4079390,Kew Gardens,2020,2020-02,POINT (-73.834603 40.706235),0.4,1979.0,D1,6.0,79.0,CIAMPA METROPOLITAN CO,72147.0,post-war,elevator,False,mid-rise,"19701993, deregularization","19511980, the International Style, Alternative Modernism","19761990, fiscal crisis and recovery",21-100 units,False,very large,Q4 (largest 25%),1970-1979,11415,20315.0,0.7661,0.5573,0.8980,0.9396,0.8761,14.6,5.6,11.8,4.7,17.0,18.0,10.9,7.5,44.3,8.5,32.3,6.7,22.9,22.3,0.2,0.0,3.4,2.1,57.7,42.3,False,Q1 (Low),0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9.0,0.0,19.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0,38.0,0.005063,0.000177,0.886045,0.000249,0.886045,0.886045

In [81]:
merged_df_covid.columns

Index(['primary_key', 'bbl', 'court_index_number', 'docket_number',
       'eviction_address', 'eviction_apartment_number', 'executed_date',
       'borough', 'zipcode', 'ejectment', 'eviction/legal_possession',
       'latitude', 'longitude', 'community_board', 'council_district',
       'census_tract', 'bin', 'nta', 'year', 'month_year', 'geometry',
       'average_year_eviction_count', 'yearbuilt', 'bldgclass', 'numfloors',
       'unitsres', 'ownername', 'bldgarea', 'building_type',
       'building_category', 'is_condo', 'floor_category', 'rent_era',
       'architectural_style', 'economic_period', 'residential_units_category',
       'is_llc', 'building_size_category', 'size_quartile', 'decade', 'fips',
       'e_totpop', 'rpl_theme1', 'rpl_theme2', 'rpl_theme3', 'rpl_theme4',
       'rpl_themes', 'ep_pov150', 'ep_unemp', 'ep_nohsdp', 'ep_uninsur',
       'ep_age65', 'ep_age17', 'ep_disabl', 'ep_limeng', 'ep_noveh',
       'ep_crowd', 'ep_hburd', 'ep_afam', 'ep_hisp', 'ep_asian', 'ep_aian',
       'ep_nhpi', 'ep_twomore', 'ep_otherrace', 'ep_minrty', 'ep_white',
       'invalid_zip', 'svi_quartile', 'air_quality', 'animal_issues',
       'appliances', 'building_exterior', 'doors_windows', 'electrical_issues',
       'elevator_issues', 'floors_stairs', 'general_complaints',
       'graffiti_posting', 'heat_hot_water', 'homeless_issues',
       'noise_complaints', 'other_issues', 'pest_issues', 'plumbing_issues',
       'police_matters', 'public_nuisance', 'safety_concerns',
       'sanitation_issues', 'walls_ceilings', 'total_complaints',
       'average_year_eviction_unit_count', 'average_year_eviction_nta_count',
       'evictions_nta_per_1k', 'evictions_nta_per_unit_per_1k',
       'evictions_nta_per_1k.1', 'evictions_nta_per_1k.2'],
      dtype='object')

# **Step 6: Check and clean outliers (wrongfully aggregated bins, errors from source data)**

In [82]:
analysis_columns = merged_df[['primary_key', 'bin', 'bbl', 'latitude', 'longitude', 'eviction_address', 'zipcode', 'borough', 'nta','average_year_eviction_count', 	'average_year_eviction_unit_count',
                              'average_year_eviction_nta_count',	'evictions_nta_per_1k', 'evictions_nta_per_unit_per_1k',
                              'unitsres', 'e_totpop']]
analysis_columns.head()

,primary_key,bin,bbl,latitude,longitude,eviction_address,zipcode,borough,nta,average_year_eviction_count,average_year_eviction_unit_count,average_year_eviction_nta_count,evictions_nta_per_1k,evictions_nta_per_unit_per_1k,unitsres,e_totpop
0,*308072/22_5865,3083989,3037420029,40.672121,-73.891105,356 MILLER AVE,11207,BROOKLYN,East New York,0.8,0.266667,0.002748,13.739527,0.002755,3.0,96801.0
1,*313639/23_5202,3143881,3057940012,40.635941,-74.011883,710 61ST STREET,11220,BROOKLYN,Sunset Park East,0.6,0.300000,0.000409,2.042835,0.003226,2.0,93008.0
2,*324973/22_5308,3143435,3057820030,40.640008,-74.017068,462 60TH STREET,11220,BROOKLYN,Sunset Park West,0.6,0.150000,0.000426,2.128849,0.001613,4.0,93008.0
3,*53336/16_170279,2015444,2032510420,40.877190,-73.889569,3400 PAUL AVENUE,10468,BRONX,Van Cortlandt Village,0.8,0.002273,0.002123,10.614642,0.000028,352.0,81397.0
4,*5990/17_2703,2003900,2025770038,40.811197,-73.908810,480 CONCORD AVENUE,10455,BRONX,Mott Haven-Port Morris,1.6,0.024615,0.003578,17.890942,0.000555,65.0,44380.0

In [83]:
problematic_bin = [4000000, 1000000, 2000000, 3000000, 5000000]

In [84]:
bin_4000000 = analysis_columns[analysis_columns['bin'] == 4000000]
bin_1000000 = analysis_columns[analysis_columns['bin'] == 1000000]
bin_2000000 = analysis_columns[analysis_columns['bin'] == 2000000]
bin_3000000 = analysis_columns[analysis_columns['bin'] == 3000000]
bin_5000000 = analysis_columns[analysis_columns['bin'] == 5000000]
bin_4000000.shape, bin_1000000.shape, bin_2000000.shape, bin_3000000.shape, bin_5000000.shape

((26, 16), (40, 16), (97, 16), (104, 16), (10, 16))

In [85]:
bin_4000000.eviction_address.unique(), bin_1000000.eviction_address.unique(), bin_2000000.eviction_address.unique(), bin_3000000.eviction_address.unique(), bin_5000000.eviction_address.unique()

(array(['136-43 37TH AVENUE', '55-16 VAN  DOREN STREET 3RD FLOOR',
        '153-11 90TH AVENUE', '103-16 CORONA AVENUE', '148-37 88TH AVENUE',
        '19-14 20TH AVENUE', '176 WOODWARD AVENUE APARTMENT #129',
        '1401 BROADWAY', '31-19 37TH STREET', '197-03 48TH AVENUE F1',
        '40-15 217TH STREET', '95-17 50TH AVENUE     2ND FLOOR',
        '110-20 169TH STREET', '84-02 143RD STREET', '84-02 143 STREET'],
       dtype=object),
 array(['447-448 CENTRAL PARK  WEST', '517 WEST 134TH   STR EET',
        '100 WEST 131ST STREET APARTMENT 3C',
        '7 DEY STREET A/K/A 185 BROADWAY', '222 EAST 44TH STREET',
        '626 FIRST AVENUE', '172 WEST 127TH    ST REET',
        '172 WEST 127TH   STR EET',
        '407 LENOX AVENUE A/K/A 100 WEST 131 STREET',
        '112-114 WEST 116TH ST APT. 7', '111 VARICK STREET',
        '180 BROOME STREET APARTMENT 2312', '540 WEST 53RD STREET',
        '251 WEST 117TH STREET APT. 2-F', '172 WEST 127TH STREE T',
        '161 EAST 28TH STREET APT 3', '350 WEST 45TH STREET',
        '140 ESSEX STREET', '180 BROOME STREET'], dtype=object),
 array(['1553 GLEBE AVENUE', '2028 DAVIDSON AVENUE', '1071 TINTON AVE',
        '1071 TINTON AVENUE', '486 EAST 165TH ST', '2885 MARION AVENUE',
        '735 CAULDWELL AVENUE', '3230 RADCLIFF AVENUE',
        '540 EAST 142ND STREET',
        '2302 MORRIS AVENUE A /K/A 2300-2302 MORRIS AVENUE',
        '540 EAST 142ND ST', '246 ECHO PLACE',
        '1395 NELSON AVENUE APT. 4C', '1395 NELSON AVENUE',
        '571 EAST 167TH ST', '2302 WEBSTER AVENUE', '3620 WEBSTER AVENUE',
        '2302 MORRIS    AVENU E A/K/A 2300-2302 MORRIS AVENUE',
        '2195 MORRIS AVENUE', '1395 NELSON AVENUE APT. 4B',
        '857 HORNADAY PLACE', '1151 HOE AVENUE', '3214 CRUGER AVE',
        '3219 PEARSALL AVENUE', '700 MANIDA STREET APT. 7G',
        '240 EAST 178TH   STR EET', '700 MANIDA STREET APT. 6G',
        '3500 PARK AVENUE', '1988 ANTHONY AVENUE', '2118 MAPES AVENUE',
        '637 EAST 176 STREET', '486 EAST 165TH STREET', '1117 HOE AVENUE',
        '1067 E. 211 ST', '4607 PARK AVENUE', '4607 PARK AVENUE - APT 8B',
        '766 BRADY AVENUE', '789 EAST 214TH ST', '702 GRAND CONCOURSE',
        '2692 CRESTON AVENUE', '626 BERGEN AVENUE',
        '1111 COMMONWEALTH AVENUE', '629 FAILE STREET',
        '1115 COMMONWEALTH AVENUE', '366 E 155TH STREET',
        '815 EAST 218TH STREE T'], dtype=object),
 array(['435 WILSON AVENUE', '555 WAVERLY AVENUE', '2178 BERGEN STREET',
        '28A LAWTON STREET', '2961 WEST 30 STREET', '30 BELVEDERE STREET',
        '405 DUMONT AVENUE', '1620 FULTON STREET', '183 COVERT STREET',
        '485 VANDALIA AVENUE', '510 VANDALIA AVENUE',
        '508 VANDALIA AVENUE', '200 LINDEN BOULEVARD',
        '1736 PACIFIC STREET', '327-329 RUTLAND ROAD APT. 327-4R',
        '31 LINCOLN ROAD APT 3-J', '596 POWELL STREET',
        '2960 WEST 29TH STREE T', '6 HAVENS PLACE',
        '267 ROGERS AVENUE A/K/A 211 CROWN ST',
        '199 MONTROSE    AVEN UE A/K/A 188 HUMBOLDT STREET',
        '129 GATEWAY DRIVE', '85 STANHOPE STREET', '1157 MYRTLE AVENUE',
        '424 BEDFORD AVENUE', '129 SCHAEFER STREET',
        '2943 WEST 20TH STREET APARTMENT# 1107S',
        '524 OCEAN VIEW   AVE NUE', '1250 NEW YORK AVENUE',
        '500 VANDALIA AVENUE', '1520 PROSPECT PLACE', '645 GATES AVENUE',
        '1543 EAST NEW YORK A VENUE', '820 GLENMORE AVENUE',
        '918 EAST NEW YORK AV ENUE', '772 E. 88TH ST', '772 E.88TH STREET',
        '1547 EAST NEW YORK A VENUE', '14 HAVENS PLACE',
        '127 GATEWAY DRIVE', '1461 GATES AVENUE',
        '1461 GATES AVENUE APT 3F', '314 KEAP STREET', '332 RUTLAND ROAD',
        '2960 WEST 29TH ST', '2960 WEST 29TH STR', '18 SIXTH AVE',
        '64 SCHOLES STREET', '1600 EAST 19TH STREET', '212 HEGEMAN AVENUE',
        '458 EAST 29TH STREET', '18 SIXTH AVENUE', '306 MACDOUGAL STREET',
        '55 FLEET STREET', '293 FENIMORE STREET', '350 CLARKSON AVENUE',
        '115 CLIFTON PLACE', '412 HERKIMER STREET', '186 THROOP AVENUE',
        '186 THROOP AVE', '279 SUMPTER STREET', '1261 70TH STREET'],
       dtype=object),
 array(['107 HAVEN AVENUE', '129 TARGEE STREET', '115 ARLINGTON AVE',
        '107 HAVEN AVE', '2 SEAFOAM STREET', '216 ST. MARYS AVE.',
        '271 BROAD STREET', '460N BRIELLE AVENUE', '218 JERSEY STREET',
        '228 JERSEY STREET'], dtype=object))

In [86]:
len(bin_1000000) + len(bin_2000000) + len(bin_3000000) + len(bin_4000000) + len(bin_5000000)

277

In [87]:
problematic_ones = pd.concat([bin_1000000, bin_2000000, bin_3000000, bin_4000000, bin_5000000])
problematic_ones.columns

Index(['primary_key', 'bin', 'bbl', 'latitude', 'longitude',
       'eviction_address', 'zipcode', 'borough', 'nta',
       'average_year_eviction_count', 'average_year_eviction_unit_count',
       'average_year_eviction_nta_count', 'evictions_nta_per_1k',
       'evictions_nta_per_unit_per_1k', 'unitsres', 'e_totpop'],
      dtype='object')

In [88]:
len(problematic_ones.eviction_address.unique())

152

In [89]:
merged_df_clean = merged_df[~merged_df['bin'].isin(problematic_bin)].copy()

In [90]:
merged_df_clean.shape

(66120, 97)

In [91]:
analysis_columns = merged_df_covid[['primary_key', 'bin', 'bbl', 'latitude', 'longitude', 'eviction_address', 'zipcode', 'borough', 'nta','average_year_eviction_count', 	'average_year_eviction_unit_count',
                              'average_year_eviction_nta_count',	'evictions_nta_per_1k', 'evictions_nta_per_unit_per_1k',
                              'unitsres', 'e_totpop']]
analysis_columns.head()

,primary_key,bin,bbl,latitude,longitude,eviction_address,zipcode,borough,nta,average_year_eviction_count,average_year_eviction_unit_count,average_year_eviction_nta_count,evictions_nta_per_1k,evictions_nta_per_unit_per_1k,unitsres,e_totpop
0,004123/20_209969,2113173,2032140141,40.865396,-73.901317,2541 A GRAND AVE,10468,BRONX,Kingsbridge Heights,0.2,0.066667,0.000138,0.687986,0.000819,3.0,81397.0
1,0050153/20_106030,4074666,4031560133,40.724241,-73.855552,98-05 67TH AVENUE,11375,QUEENS,Forest Hills,0.2,0.001105,0.000048,0.239324,0.000015,181.0,75212.0
2,0052002/19_101926,3117969,3051370021,40.645404,-73.952578,199 VERONICA PLACE,11226,BROOKLYN,Erasmus,0.6,0.300000,0.000137,0.682810,0.002969,2.0,101053.0
3,0057757/18_100889,3029673,3011850034,40.670832,-73.958843,302 EASTERN PARKWAY,11225,BROOKLYN,Crown Heights South,0.8,0.016667,0.000236,1.179971,0.000285,48.0,58476.0
4,0061902/19_117253,4079390,4033220043,40.706235,-73.834603,83-33 118TH STREET,11415,QUEENS,Kew Gardens,0.4,0.005063,0.000177,0.886045,0.000249,79.0,20315.0

In [92]:
problematic_bin = [4000000, 1000000, 2000000, 3000000, 5000000]

In [93]:
bin_4000000 = analysis_columns[analysis_columns['bin'] == 4000000]
bin_1000000 = analysis_columns[analysis_columns['bin'] == 1000000]
bin_2000000 = analysis_columns[analysis_columns['bin'] == 2000000]
bin_3000000 = analysis_columns[analysis_columns['bin'] == 3000000]
bin_5000000 = analysis_columns[analysis_columns['bin'] == 5000000]
bin_4000000.shape, bin_1000000.shape, bin_2000000.shape, bin_3000000.shape, bin_5000000.shape

((0, 16), (6, 16), (5, 16), (8, 16), (1, 16))

In [94]:
bin_4000000.eviction_address.unique(), bin_1000000.eviction_address.unique(), bin_2000000.eviction_address.unique(), bin_3000000.eviction_address.unique(), bin_5000000.eviction_address.unique()

(array([], dtype=object),
 array(['626 FIRST AVENUE', '411 WEST 35TH STREET', '222 EAST 44TH STREET'],
       dtype=object),
 array(['1117 HOE AVENUE', '571 EAST 167TH ST', '1395 NELSON AVENUE',
        '1071 TINTON AVENUE', '486 EAST 165TH ST'], dtype=object),
 array(['385 CLASSON AVENUE', '1157 MYRTLE AVENUE', '2178 BERGEN STREET',
        '2960 WEST 29TH STREE T', '743 LAFAYETTE AVE',
        '385-387 FRANKLIN AVE', '306 MACDOUGAL STREET'], dtype=object),
 array(['460N BRIELLE AVENUE'], dtype=object))

In [95]:
len(bin_1000000) + len(bin_2000000) + len(bin_3000000) + len(bin_4000000) + len(bin_5000000)

20

In [96]:
problematic_ones = pd.concat([bin_1000000, bin_2000000, bin_3000000, bin_4000000, bin_5000000])
problematic_ones.columns

Index(['primary_key', 'bin', 'bbl', 'latitude', 'longitude',
       'eviction_address', 'zipcode', 'borough', 'nta',
       'average_year_eviction_count', 'average_year_eviction_unit_count',
       'average_year_eviction_nta_count', 'evictions_nta_per_1k',
       'evictions_nta_per_unit_per_1k', 'unitsres', 'e_totpop'],
      dtype='object')

In [97]:
len(problematic_ones.eviction_address.unique())

16

In [98]:
merged_df_covid_clean = merged_df_covid[~merged_df_covid['bin'].isin(problematic_bin)].copy()

In [99]:
merged_df_covid_clean.shape

(5366, 97)

In [100]:
merged_df_clean.to_csv('/content/drive/My Drive/X999/bbl_evictions_311_svi_normal_times_no_pro_bins.csv', index=False)
merged_df_covid_clean.to_csv('/content/drive/My Drive/X999/bbl_evictions_311_svi_covid_no_pro_bins.csv', index=False)
merged_df_covid.to_csv('/content/drive/My Drive/X999/bbl_evictions_311_svi_covid.csv', index=False)
merged_df.to_csv('/content/drive/My Drive/X999/bbl_evictions_311_svi_normal_times.csv', index=False)

In [101]:
link = '/content/drive/My Drive/X999/bbl_evictions_311_svi_normal_times_no_pro_bins.csv'
link2 = '/content/drive/My Drive/X999/bbl_evictions_311_svi_covid.csv'
merged_df_clean = pd.read_csv(link)
merged_df_clean.shape
merged_df_covid = pd.read_csv(link2)
merged_df_covid.shape

(5386, 97)

# **Step 7 Try to match exact addresses as many as possible**

## **Step 7.1 let's do the normal times first**

In [102]:
problematic_bin = [4000000, 1000000, 2000000, 3000000, 5000000]

In [103]:
merged_df.shape

(66397, 97)

In [104]:
good_data = merged_df[~merged_df['bin'].isin(problematic_bin)]

In [105]:
good_data.shape

(66120, 97)

In [106]:
address_coords = (good_data.dropna(subset=['eviction_address', 'latitude', 'longitude'])
                 .groupby('eviction_address')
                 .agg({'latitude':'first', 'longitude':'first'})
                 .to_dict('index'))
# address_coords
# a map of all the addresses and the exact coordinates

In [115]:
def correct_coordinates(row):
    needs_correction = pd.isna(row['latitude']) or (row['bin'] in problematic_bin)
    if needs_correction:
        eviction_address = row['eviction_address']
        if eviction_address in address_coords:
            row['latitude'] = address_coords[eviction_address]['latitude']
            row['longitude'] = address_coords[eviction_address]['longitude']
        else:
            row['latitude'] = np.nan
            row['longitude'] = np.nan
    return row

# so the idea of this function is to see if any of these bad bins' addresses appeared in past (and good) eviction places, [chances are, they have]
# if so, use the eviction mapping (we created above) to get the correct coordinates and map them onto the problematic bins' coordinates
# if not, we mark that laitutde and longitude as nan.
# since the previously clenaed df didn't have nan, if we got new nans, that means some bad eviction addresses simply did not get
# correct addresses, and therefore, we can safely remove those rows
# if they are matched, we can trust the new coordinates.

In [116]:
eviction_df_corrected = merged_df.apply(correct_coordinates, axis=1)
# important

In [117]:
eviction_df_corrected.shape

(66397, 97)

In [118]:
merged_df.isna().sum()

primary_key                         0
bbl                                 0
court_index_number                  0
docket_number                       0
eviction_address                    0
                                   ..
average_year_eviction_unit_count    0
average_year_eviction_nta_count     0
evictions_nta_per_1k                0
evictions_nta_per_unit_per_1k       0
evictions_nta_per_1k.1              0
Length: 97, dtype: int64

In [119]:
eviction_df_corrected.isna().sum()
# this works!! All coordinates matched!

primary_key                         0
bbl                                 0
court_index_number                  0
docket_number                       0
eviction_address                    0
                                   ..
average_year_eviction_unit_count    0
average_year_eviction_nta_count     0
evictions_nta_per_1k                0
evictions_nta_per_unit_per_1k       0
evictions_nta_per_1k.1              0
Length: 97, dtype: int64

In [114]:
new_bin_4000000 = eviction_df_corrected[eviction_df_corrected['bin'] == 4000000]
new_bin_4000000[['eviction_address', 'latitude', 'longitude']]

                         eviction_address   latitude  longitude
8791                   136-43 37TH AVENUE  40.761979 -73.829343
8792                   136-43 37TH AVENUE  40.761979 -73.829343
10507   55-16 VAN  DOREN STREET 3RD FLOOR  40.740816 -73.855321
10555                  153-11 90TH AVENUE  40.704349 -73.803010
14566                  136-43 37TH AVENUE  40.761979 -73.829343
15824                103-16 CORONA AVENUE  40.744091 -73.859548
15972                  148-37 88TH AVENUE  40.705271 -73.807739
16310                   19-14 20TH AVENUE  40.784752 -73.913436
18456  176 WOODWARD AVENUE APARTMENT #129  40.711767 -73.917383
18953                       1401 BROADWAY  40.766186 -73.933413
19663                   31-19 37TH STREET  40.761415 -73.919210
28593               197-03 48TH AVENUE F1  40.751198 -73.782382
33345                  40-15 217TH STREET  40.764908 -73.765897
35793                  136-43 37TH AVENUE  40.761979 -73.829343
37335                  136-43 37TH AVENUE  40.761979 -73.829343
41807                  136-43 37TH AVENUE  40.761979 -73.829343
42518                  136-43 37TH AVENUE  40.761979 -73.829343
43833                  136-43 37TH AVENUE  40.761979 -73.829343
43958                  136-43 37TH AVENUE  40.761979 -73.829343
44569     95-17 50TH AVENUE     2ND FLOOR  40.741726 -73.867394
45688                  136-43 37TH AVENUE  40.761979 -73.829343
47885                 110-20 169TH STREET  40.694971 -73.783633
65330                   19-14 20TH AVENUE  40.784752 -73.913436
65501                  84-02 143RD STREET  40.710731 -73.813556
65753                  84-02 143RD STREET  40.710731 -73.813556
65754                    84-02 143 STREET  40.710731 -73.813556

## **Part 7.2 covid dataframe**

In [151]:
problematic_bin = [4000000, 1000000, 2000000, 3000000, 5000000]

In [152]:
merged_df_covid.shape

(5386, 97)

In [153]:
good_data = merged_df_covid[~merged_df_covid['bin'].isin(problematic_bin)]

In [154]:
good_data.shape

(5366, 97)

In [155]:
address_coords = (good_data.dropna(subset=['eviction_address', 'latitude', 'longitude'])
                 .groupby('eviction_address')
                 .agg({'latitude':'first', 'longitude':'first'})
                 .to_dict('index'))
# address_coords
# a map of all the addresses and the exact coordinates

In [156]:
def correct_coordinates(row):
    needs_correction = pd.isna(row['latitude']) or (row['bin'] in problematic_bin)
    if needs_correction:
        eviction_address = row['eviction_address']
        if eviction_address in address_coords:
            row['latitude'] = address_coords[eviction_address]['latitude']
            row['longitude'] = address_coords[eviction_address]['longitude']
        else:
            row['latitude'] = np.nan
            row['longitude'] = np.nan
    return row

In [157]:
eviction_df_corrected_covid = merged_df_covid.apply(correct_coordinates, axis=1)
# important

In [158]:
eviction_df_corrected_covid.shape

(5386, 97)

In [159]:
merged_df_covid.isna().sum().sum()

np.int64(0)

In [161]:
eviction_df_corrected_covid.isna().sum().sum()
# 40/2 = 20
# so covid's bad coordinates did not have correct matched coordinates
# 20/5386, we will ignore them

np.int64(40)

In [164]:
eviction_df_corrected_covid = eviction_df_corrected_covid.dropna(subset=['latitude', 'longitude'])

In [165]:
eviction_df_corrected_covid.shape

(5366, 97)

In [166]:
# save the correct coordinates' df to the drive:
eviction_df_corrected.to_csv('/content/drive/My Drive/X999/bbl_evictions_311_svi_normal_times_correct_coordinates.csv', index=False)
eviction_df_corrected_covid.to_csv('/content/drive/My Drive/X999/bbl_evictions_311_svi_covid_correct_coordinates.csv', index=False)