# **Introduction**

## **Chi-test (boroughs + svi)**
## **Bar-chart with svi as regression/scatterplot (boroughs first)**

source: https://www.atsdr.cdc.gov/place-health/media/pdfs/2024/10/SVI2022Documentation.pdf

source: https://www.atsdr.cdc.gov/place-health/php/svi/svi-interactive-map.html

In [ ]:
import pandas as pd
import geopandas as gpd
import numpy as np
import datetime as dt
import scipy

# visualization
import matplotlib.pyplot as plt
from matplotlib import colors as mcolors
import seaborn as sns

from scipy.stats import chi2_contingency
import statsmodels.api as sm

# system and utility
import warnings
import os
import io
from IPython.display import IFrame
from google.colab import files

# suppress warnings
warnings.filterwarnings('ignore')

# inline
%matplotlib inline

In [ ]:
pd.set_option('display.float_format', lambda x: '%.4f' % x)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# **Step 1 Get the Eviction data**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# data source:
link1 = '/content/drive/My Drive/X999/bbl_evictions_311_svi_normal_times_svi.csv'
link2 = '/content/drive/My Drive/X999/bbl_evictions_311_svi_covid_svi.csv'
# most updated

In [ ]:
evictions_pre_post_raw = pd.read_csv(link1)
evictions_covid_raw = pd.read_csv(link2)
evictions_covid_raw.shape, evictions_pre_post_raw.shape
# correct dimensions

((5386, 103), (66397, 104))

In [ ]:
evictions_pre_post = evictions_pre_post_raw.copy()
evictions_covid = evictions_covid_raw.copy()

In [ ]:
evictions_pre_post[['latitude', 'longitude']].isna().sum()
evictions_pre_post.isna().sum().sum()
# good, the bad bins have been cleaned

np.int64(0)

In [ ]:
bin_100000 = evictions_pre_post[evictions_pre_post['bin'] == 1000000]
bin_200000 = evictions_pre_post[evictions_pre_post['bin'] == 2000000]
bin_300000 = evictions_pre_post[evictions_pre_post['bin'] == 3000000]
bin_400000 = evictions_pre_post[evictions_pre_post['bin'] == 4000000]
bin_500000 = evictions_pre_post[evictions_pre_post['bin'] == 5000000]
bin_600000 = evictions_pre_post[evictions_pre_post['bin'] == 6000000]
bin_100000[['bin', 'primary_key', 'eviction_address', 'latitude', 'longitude']].head()
# all gone, and reassigned to unique bins

Empty DataFrame
Columns: [bin, primary_key, eviction_address, latitude, longitude]
Index: []

In [ ]:
evictions_pre_post.head(2)

,primary_key,bbl,court_index_number,docket_number,eviction_address,eviction_apartment_number,executed_date,borough,zipcode,ejectment,eviction/legal_possession,latitude,longitude,community_board,council_district,census_tract,bin,nta,year,month_year,geometry,yearbuilt,bldgclass,numfloors,unitsres,ownername,bldgarea,building_type,building_category,is_condo,floor_category,rent_era,architectural_style,economic_period,residential_units_category,is_llc,building_size_category,size_quartile,decade,fips,e_totpop,rpl_theme1,rpl_theme2,rpl_theme3,rpl_theme4,rpl_themes,ep_pov150,ep_unemp,ep_nohsdp,ep_uninsur,ep_age65,ep_age17,ep_disabl,ep_limeng,ep_noveh,ep_crowd,ep_hburd,ep_afam,ep_hisp,ep_asian,ep_aian,ep_nhpi,ep_twomore,ep_otherrace,ep_minrty,ep_white,invalid_zip,svi_quartile,svi_group,air_quality,animal_issues,appliances,building_exterior,doors_windows,electrical_issues,elevator_issues,floors_stairs,general_complaints,graffiti_posting,heat_hot_water,homeless_issues,noise_complaints,other_issues,pest_issues,plumbing_issues,police_matters,public_nuisance,safety_concerns,sanitation_issues,walls_ceilings,total_complaints,average_year_eviction_count_per_unit(building),average_year_eviction_count(building),average_year_eviction_count_per_nta(nta),evictions_per_nta_1kpop(nta),buildings_affected_per_nta,unit_per_nta,evictions_per_1kunit_nta_1kpop(nta),children_impacted_nta_per_1kpop,unemployed_impacted_nta_per_1kpop,elderly_impacted_nta_per_1kpop,bh_impacted_nta_per_1kpop,hburd_impacted_nta_per_1kpop,average_year_eviction_per_building_nta(nta)
0,*308072/22_5865,3037420029,*308072/22,5865,356 MILLER AVE,1 AND BASEMENT,2024-12-04,BROOKLYN,11207,Not an Ejectment,Possession,40.6721,-73.8911,5.0000,37.0000,1152.0000,3083989,East New York,2024,2024-12,POINT (-73.891105 40.672121),1930.0000,C0,3.0000,3.0000,356 MILLER LLC,2700.0000,pre-war,walk-up,False,low-rise,"Pre-1947, pre-rent-control","1921–1930, Art Deco Skyscrapers","1930-1945, great depression and WWII",3-5 units,True,small,Q3 (50-75%),1930-1939,11207,96801.0000,0.9788,0.9140,0.9808,0.9812,0.9839,33.9000,11.1000,19.1000,6.0000,13.8000,22.5000,13.8000,5.3000,57.8000,9.1000,44.7000,55.9000,32.8000,1.5000,0.0000,0.0000,2.9000,1.6000,94.7000,5.3000,False,Q3,medium-high,0.0000,0.0000,1.0000,0.0000,1.0000,2.0000,0.0000,0.0000,1.0000,0.0000,3.0000,0.0000,0.0000,0.0000,0.0000,3.0000,0.0000,0.0000,0.0000,3.0000,5.0000,19.0000,0.2667,0.8000,266.0000,2.7479,725,2175.0000,1.2634,0.6183,0.3050,0.3792,2.4374,1.2283,3.6690
1,*313639/23_5202,3057940012,*313639/23,5202,710 61ST STREET,2ND FLOOR,2024-03-04,BROOKLYN,11220,Not an Ejectment,Possession,40.6359,-74.0119,7.0000,38.0000,118.0000,3143881,Sunset Park East,2024,2024-03,POINT (-74.011883 40.635941),1920.0000,B2,2.0000,2.0000,"A.R.M. PARKING, LLC",1204.0000,pre-war,two-family,False,low-rise,"Pre-1947, pre-rent-control","1900–1920, Beaux-Arts","Pre-1929, pre-great depression",2-unit,True,very small,Q1 (smallest 25%),1920-1929,11220,93008.0000,0.9885,0.7635,0.9594,0.9179,0.9662,37.5000,7.5000,37.9000,11.6000,13.1000,25.4000,8.4000,40.2000,61.7000,23.7000,43.6000,1.7000,40.9000,40.7000,0.4000,0.0000,1.2000,0.2000,85.0000,15.0000,False,Q3,medium-high,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,1.0000,4.0000,0.3000,0.6000,38.0000,0.4086,136,272.0000,1.5021,0.1038,0.0306,0.0535,0.1740,0.1781,2.7941

In [ ]:
evictions_covid.head(2)

,primary_key,bbl,court_index_number,docket_number,eviction_address,eviction_apartment_number,executed_date,borough,zipcode,ejectment,eviction/legal_possession,latitude,longitude,community_board,council_district,census_tract,bin,nta,year,month_year,geometry,yearbuilt,bldgclass,numfloors,unitsres,ownername,bldgarea,building_type,building_category,is_condo,floor_category,rent_era,architectural_style,economic_period,residential_units_category,is_llc,building_size_category,size_quartile,decade,fips,e_totpop,rpl_theme1,rpl_theme2,rpl_theme3,rpl_theme4,rpl_themes,ep_pov150,ep_unemp,ep_nohsdp,ep_uninsur,ep_age65,ep_age17,ep_disabl,ep_limeng,ep_noveh,ep_crowd,ep_hburd,ep_afam,ep_hisp,ep_asian,ep_aian,ep_nhpi,ep_twomore,ep_otherrace,ep_minrty,ep_white,invalid_zip,svi_quartile,air_quality,animal_issues,appliances,building_exterior,doors_windows,electrical_issues,elevator_issues,floors_stairs,general_complaints,graffiti_posting,heat_hot_water,homeless_issues,noise_complaints,other_issues,pest_issues,plumbing_issues,police_matters,public_nuisance,safety_concerns,sanitation_issues,walls_ceilings,total_complaints,average_year_eviction_count_per_unit(building),average_year_eviction_count(building),average_year_eviction_count_per_nta(nta),evictions_per_nta_1kpop(nta),buildings_affected_per_nta,unit_per_nta,evictions_per_1kunit_nta_1kpop(nta),children_impacted_nta_per_1kpop,unemployed_impacted_nta_per_1kpop,elderly_impacted_nta_per_1kpop,bh_impacted_nta_per_1kpop,hburd_impacted_nta_per_1kpop,average_year_eviction_per_building_nta(nta)
0,004123/20_209969,2032140141,004123/20,209969,2541 A GRAND AVE,ROOM 3B,2022-08-22,BRONX,10468,Not an Ejectment,Possession,40.8654,-73.9013,7.0000,14.0000,265.0000,2113173,Kingsbridge Heights,2022,2022-08,POINT (-73.901317 40.865396),2004.0000,C0,3.0000,3.0000,MONJU SARKER,3420.0000,post-war,walk-up,False,low-rise,"1994–Present, vacancy decontrol","2001-present, New Architecture","1991–2008, modern economic growth",3-5 units,False,medium-small,Q4 (largest 25%),2000-2009,10468,81397.0000,0.9954,0.9407,0.9870,0.9470,0.9874,39.5000,11.6000,28.3000,9.2000,11.2000,26.4000,12.2000,26.9000,71.8000,19.2000,56.7000,15.6000,78.0000,2.3000,0.0000,0.0000,0.5000,0.5000,96.9000,3.1000,False,Q3,0.0000,0.0000,0.0000,0.0000,3.0000,0.0000,0.0000,2.0000,0.0000,0.0000,1.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,3.0000,1.0000,14.0000,0.0667,0.2000,18.6667,0.2293,38,114.0000,2.0117,0.0605,0.0266,0.0257,0.2147,0.1300,4.9123
1,0050153/20_106030,4031560133,0050153/20,106030,98-05 67TH AVENUE,12F,2022-04-14,QUEENS,11375,Not an Ejectment,Possession,40.7242,-73.8556,6.0000,29.0000,71306.0000,4074666,Forest Hills,2022,2022-04,POINT (-73.855552 40.724241),1960.0000,D3,13.0000,181.0000,MARSEILLES LEASING LIMITED PARTNERSHIP,177710.0000,post-war,elevator,False,high-rise,"1947–1969, rent-control","1951–1980, the International Style, Alternativ...","1946–1975, pst war economic boom",100+ units,False,mega,Q4 (largest 25%),1960-1969,11375,75212.0000,0.4759,0.5698,0.8789,0.8057,0.7322,12.0000,4.8000,6.1000,3.7000,20.4000,18.0000,10.5000,7.9000,41.9000,5.8000,25.4000,2.7000,16.4000,28.5000,0.1000,0.0000,4.6000,0.7000,53.0000,47.0000,False,Q1 (Low),0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,0.0000,62.0000,0.0000,34.0000,0.0000,0.0000,4.0000,1.0000,0.0000,0.0000,2.0000,5.0000,112.0000,0.0011,0.2000,6.0000,0.0798,17,3077.0000,0.0259,0.0144,0.0038,0.0163,0.0152,0.0203,3.5294

In [ ]:
evictions_pre_post.columns[-13:], \
evictions_covid.columns[-13:], \
evictions_pre_post.shape, \
evictions_covid.shape
# shape correct
# analysis columns correct

(Index(['average_year_eviction_count_per_unit(building)',
        'average_year_eviction_count(building)',
        'average_year_eviction_count_per_nta(nta)',
        'evictions_per_nta_1kpop(nta)', 'buildings_affected_per_nta',
        'unit_per_nta', 'evictions_per_1kunit_nta_1kpop(nta)',
        'children_impacted_nta_per_1kpop', 'unemployed_impacted_nta_per_1kpop',
        'elderly_impacted_nta_per_1kpop', 'bh_impacted_nta_per_1kpop',
        'hburd_impacted_nta_per_1kpop',
        'average_year_eviction_per_building_nta(nta)'],
       dtype='object'),
 Index(['average_year_eviction_count_per_unit(building)',
        'average_year_eviction_count(building)',
        'average_year_eviction_count_per_nta(nta)',
        'evictions_per_nta_1kpop(nta)', 'buildings_affected_per_nta',
        'unit_per_nta', 'evictions_per_1kunit_nta_1kpop(nta)',
        'children_impacted_nta_per_1kpop', 'unemployed_impacted_nta_per_1kpop',
        'elderly_impacted_nta_per_1kpop', 'bh_impacted_nta_per_1kpop',
        'hburd_impacted_nta_per_1kpop',
        'average_year_eviction_per_building_nta(nta)'],
       dtype='object'),
 (66397, 104),
 (5386, 103))

In [ ]:
link = '/content/drive/My Drive/X999/svi_cleaned.csv'

In [ ]:
svi_df = pd.read_csv(link)
svi_df.head(2)

,fips,location,area_sqmi,e_totpop,m_totpop,e_hu,m_hu,e_hh,m_hh,e_pov150,m_pov150,e_unemp,m_unemp,e_hburd,m_hburd,e_nohsdp,m_nohsdp,e_uninsur,m_uninsur,e_age65,m_age65,e_age17,m_age17,e_disabl,m_disabl,e_sngpnt,m_sngpnt,e_limeng,m_limeng,e_minrty,m_minrty,e_munit,m_munit,e_mobile,m_mobile,e_crowd,m_crowd,e_noveh,m_noveh,e_groupq,m_groupq,ep_pov150,mp_pov150,ep_unemp,mp_unemp,ep_hburd,mp_hburd,ep_nohsdp,mp_nohsdp,ep_uninsur,mp_uninsur,ep_age65,mp_age65,ep_age17,mp_age17,ep_disabl,mp_disabl,ep_sngpnt,mp_sngpnt,ep_limeng,mp_limeng,ep_minrty,mp_minrty,ep_munit,mp_munit,ep_mobile,mp_mobile,ep_crowd,mp_crowd,ep_noveh,mp_noveh,ep_groupq,mp_groupq,epl_pov150,epl_unemp,epl_hburd,epl_nohsdp,epl_uninsur,spl_theme1,rpl_theme1,epl_age65,epl_age17,epl_disabl,epl_sngpnt,epl_limeng,spl_theme2,rpl_theme2,epl_minrty,spl_theme3,rpl_theme3,epl_munit,epl_mobile,epl_crowd,epl_noveh,epl_groupq,spl_theme4,rpl_theme4,spl_themes,rpl_themes,f_pov150,f_unemp,f_hburd,f_nohsdp,f_uninsur,f_theme1,f_age65,f_age17,f_disabl,f_sngpnt,f_limeng,f_theme2,f_minrty,f_theme3,f_munit,f_mobile,f_crowd,f_noveh,f_groupq,f_theme4,f_total,e_daypop,e_noint,m_noint,e_afam,m_afam,e_hisp,m_hisp,e_asian,m_asian,e_aian,m_aian,e_nhpi,m_nhpi,e_twomore,m_twomore,e_otherrace,m_otherrace,ep_noint,mp_noint,ep_afam,mp_afam,ep_hisp,mp_hisp,ep_asian,mp_asian,ep_aian,mp_aian,ep_nhpi,mp_nhpi,ep_twomore,mp_twomore,ep_otherrace,mp_otherrace
0,10001,ZCTA5 10001,0.6238,27004,1827,16975,831,14375,782,5248,797,761,266,3314,531,1930,534,831,289,3428,432,2694,643,2310,499,501,215,1381,405,13460,2305,15840,898,15,23,389,135,12285,840,2213,218,20.3000,2.7000,4.3000,1.5000,23.1000,3.5000,9.1000,2.4000,3.1000,1.0000,12.7000,1.6000,10.0000,2.1000,8.6000,1.9000,3.5000,1.5000,5.3000,1.5000,49.8000,7.8000,93.3000,2.7000,0.1000,0.1000,2.7000,0.9000,85.5000,2.8000,8.2000,0.6000,0.6108,0.4574,0.5573,0.5902,0.4436,2.6593,0.5688,0.1420,0.1161,0.1891,0.4707,0.8777,1.7956,0.1692,0.8670,0.8670,0.8670,0.9853,0.2710,0.7402,0.9949,0.9104,3.9018,0.9806,9.2237,0.7414,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,3,3,239407,1047,389,2220,576,5206,943,5031,774,0,25,0,25,780,326,223,169,7.3000,2.6000,8.2000,2.2000,19.3000,3.0000,18.6000,2.9000,0.0000,0.1000,0.0000,0.1000,2.9000,1.2000,0.8000,0.6000
1,10002,ZCTA5 10002,0.8223,76518,2894,39094,1241,36028,1326,27908,2853,2833,574,14688,1367,18301,1376,4074,766,17681,1287,10028,1549,9896,1062,2211,499,18393,1640,56964,3226,35725,1677,16,28,2461,449,29828,1403,2090,39,36.8000,3.5000,7.6000,1.4000,40.8000,3.5000,30.0000,2.0000,5.4000,1.0000,23.1000,1.7000,13.1000,1.8000,13.0000,1.4000,6.1000,1.4000,24.7000,2.0000,74.4000,3.1000,91.4000,3.2000,0.0000,0.1000,6.8000,1.2000,82.8000,1.8000,2.7000,0.1000,0.9148,0.7946,0.9219,0.9741,0.7207,4.3261,0.9639,0.7296,0.1831,0.5186,0.7390,0.9944,3.1647,0.8781,0.9369,0.9369,0.9369,0.9790,0.0000,0.9105,0.9915,0.7730,3.6540,0.9254,12.0817,0.9656,1,0,1,1,0,3,0,0,0,0,1,1,1,1,1,0,1,1,0,3,8,64307,8590,1110,6141,1194,19864,2190,28477,1989,74,83,24,45,1810,486,574,394,23.8000,2.9000,8.0000,1.5000,26.0000,2.5000,37.2000,2.2000,0.1000,0.1000,0.0000,0.1000,2.4000,0.6000,0.8000,0.5000

In [ ]:
svi_df.shape

(204, 153)

In [ ]:
# list(svi_df.columns)

In [ ]:
svi_df.ep_nhpi.unique()

array([ 0.00e+00,  1.00e-01,  3.00e-01,  2.00e-01, -9.99e+02,  8.00e-01,
        1.20e+00,  5.00e-01,  4.00e-01])

# **Step 2: SVI items**

q quick double check

In [ ]:
link = "/content/drive/My Drive/X999/NewYork_ZCTA.csv"

In [ ]:
svi_raw = pd.read_csv(link)
svi_raw.head(2)

,ST,STATE,ST_ABBR,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,E_POV150,M_POV150,E_UNEMP,M_UNEMP,E_HBURD,M_HBURD,E_NOHSDP,M_NOHSDP,E_UNINSUR,M_UNINSUR,E_AGE65,M_AGE65,E_AGE17,M_AGE17,E_DISABL,M_DISABL,E_SNGPNT,M_SNGPNT,E_LIMENG,M_LIMENG,E_MINRTY,M_MINRTY,E_MUNIT,M_MUNIT,E_MOBILE,M_MOBILE,E_CROWD,M_CROWD,E_NOVEH,M_NOVEH,E_GROUPQ,M_GROUPQ,EP_POV150,MP_POV150,EP_UNEMP,MP_UNEMP,EP_HBURD,MP_HBURD,EP_NOHSDP,MP_NOHSDP,EP_UNINSUR,MP_UNINSUR,EP_AGE65,MP_AGE65,EP_AGE17,MP_AGE17,EP_DISABL,MP_DISABL,EP_SNGPNT,MP_SNGPNT,EP_LIMENG,MP_LIMENG,EP_MINRTY,MP_MINRTY,EP_MUNIT,MP_MUNIT,EP_MOBILE,MP_MOBILE,EP_CROWD,MP_CROWD,EP_NOVEH,MP_NOVEH,EP_GROUPQ,MP_GROUPQ,EPL_POV150,EPL_UNEMP,EPL_HBURD,EPL_NOHSDP,EPL_UNINSUR,SPL_THEME1,RPL_THEME1,EPL_AGE65,EPL_AGE17,EPL_DISABL,EPL_SNGPNT,EPL_LIMENG,SPL_THEME2,RPL_THEME2,EPL_MINRTY,SPL_THEME3,RPL_THEME3,EPL_MUNIT,EPL_MOBILE,EPL_CROWD,EPL_NOVEH,EPL_GROUPQ,SPL_THEME4,RPL_THEME4,SPL_THEMES,RPL_THEMES,F_POV150,F_UNEMP,F_HBURD,F_NOHSDP,F_UNINSUR,F_THEME1,F_AGE65,F_AGE17,F_DISABL,F_SNGPNT,F_LIMENG,F_THEME2,F_MINRTY,F_THEME3,F_MUNIT,F_MOBILE,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_DAYPOP,E_NOINT,M_NOINT,E_AFAM,M_AFAM,E_HISP,M_HISP,E_ASIAN,M_ASIAN,E_AIAN,M_AIAN,E_NHPI,M_NHPI,E_TWOMORE,M_TWOMORE,E_OTHERRACE,M_OTHERRACE,EP_NOINT,MP_NOINT,EP_AFAM,MP_AFAM,EP_HISP,MP_HISP,EP_ASIAN,MP_ASIAN,EP_AIAN,MP_AIAN,EP_NHPI,MP_NHPI,EP_TWOMORE,MP_TWOMORE,EP_OTHERRACE,MP_OTHERRACE
0,36,New York,NY,6390,ZCTA5 06390,4.0467,53,39,253,49,19,19,17,16,0,13,9,26,0,13,27,34,0,13,6,11,31,33,0,18,9,53,20,51,0,18,4,5,0,18,0,13,17,16,32.1000,18.8000,0.0000,52.7000,47.4000,100.0000,0.0000,51.4000,50.9000,45.7000,0.0000,45.2000,11.3000,19.0000,58.5000,41.4000,0.0000,94.7000,17.0000,99.2000,37.7000,92.1000,0.0000,7.1000,1.6000,2.0000,0.0000,94.7000,0.0000,75.5000,32.1000,18.8000,0.8790,0.0000,0.9635,0.0000,0.9960,2.8385,0.6342,0.0000,0.1408,0.9944,0.0000,0.9775,2.1127,0.3009,0.8062,0.8062,0.8062,0.0000,0.4654,0.0000,0.0000,0.9735,1.4389,0.2205,7.1963,0.4192,0,0,1,0,1,2,0,0,1,0,1,2,0,0,0,0,0,0,1,1,5,601,9,14,0,13,9,19,0,13,0,13,8,16,3,7,0,13,47.4000,51.8000,0.0000,45.2000,17.0000,35.0000,0.0000,45.2000,0.0000,45.2000,15.1000,32.1000,5.7000,12.1000,0.0000,45.2000
1,36,New York,NY,10001,ZCTA5 10001,0.6238,27004,1827,16975,831,14375,782,5248,797,761,266,3314,531,1930,534,831,289,3428,432,2694,643,2310,499,501,215,1381,405,13460,2305,15840,898,15,23,389,135,12285,840,2213,218,20.3000,2.7000,4.3000,1.5000,23.1000,3.5000,9.1000,2.4000,3.1000,1.0000,12.7000,1.6000,10.0000,2.1000,8.6000,1.9000,3.5000,1.5000,5.3000,1.5000,49.8000,7.8000,93.3000,2.7000,0.1000,0.1000,2.7000,0.9000,85.5000,2.8000,8.2000,0.6000,0.6108,0.4574,0.5573,0.5902,0.4436,2.6593,0.5688,0.1420,0.1161,0.1891,0.4707,0.8777,1.7956,0.1692,0.8670,0.8670,0.8670,0.9853,0.2710,0.7402,0.9949,0.9104,3.9018,0.9806,9.2237,0.7414,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,3,3,239407,1047,389,2220,576,5206,943,5031,774,0,25,0,25,780,326,223,169,7.3000,2.6000,8.2000,2.2000,19.3000,3.0000,18.6000,2.9000,0.0000,0.1000,0.0000,0.1000,2.9000,1.2000,0.8000,0.6000

In [ ]:
def is_nyc_zipcode(zipcode):
    zip_int = int(zipcode) if isinstance(zipcode, str) else zipcode

    # Manhattan: 10001-10282
    if 10001 <= zip_int <= 10282:
        return True
    # addition Manhattan: 10300-10499
    if 10300 <= zip_int <= 10499:
        return True
    # Bronx: 10451-10475
    if 10451 <= zip_int <= 10475:
        return True
    # Brooklyn: 11201-11256
    if 11201 <= zip_int <= 11256:
        return True
    # Queens: 11351-11436, 11101-11109
    if (11351 <= zip_int <= 11436) or (11101 <= zip_int <= 11109):
        return True
    # Staten Island: 10301-10314
    if 10301 <= zip_int <= 10314:
        return True
    # additional Queens ZIPs
    if zip_int in [11004, 11005, 11411, 11412, 11413, 11418, 11419, 11420, 11421, 11422, 11423, 11426, 11427, 11428, 11429]:
        return True
    return False

In [ ]:
nyc_df = svi_raw[svi_raw['FIPS'].apply(is_nyc_zipcode)]

In [ ]:
nyc_df.shape

(204, 156)

In [ ]:
nyc_df.EP_NHPI.unique()
# interesting, so there was an error in the source data

array([ 0.00e+00,  1.00e-01,  3.00e-01,  2.00e-01, -9.99e+02,  8.00e-01,
        1.20e+00,  5.00e-01,  4.00e-01])

In [ ]:
svi_raw.EP_NHPI.unique()

array([ 1.51e+01,  0.00e+00,  1.00e-01,  3.00e-01,  2.00e-01, -9.99e+02,
        8.00e-01,  1.20e+00,  5.00e-01,  4.00e-01,  1.10e+00,  7.00e-01,
        1.50e+00,  1.80e+00,  9.00e-01,  6.00e-01,  1.40e+00,  2.10e+00,
        2.30e+00,  1.00e+00])

In [ ]:
-9.99e+02, 0.00e+00, 9.00e-01, 2.00e-01

(-999.0, 0.0, 0.9, 0.2)

# **Step 3:  Boroughs and their eviction rates**

In [ ]:
evictions_pre_post_mean = evictions_pre_post[['ep_afam', 'ep_asian', 'ep_hisp', 'ep_nhpi', 'ep_white', 'ep_twomore', 'ep_otherrace']].mean()
evictions_pre_post_mean
# may need to merge ep_twomore and ep_otherrance toegther

ep_afam        29.2346
ep_asian        8.9040
ep_hisp        38.7307
ep_nhpi         0.0115
ep_white       19.0236
ep_twomore      2.8025
ep_otherrace    1.0239
dtype: float64

In [ ]:
evictions_pre_post_mean = evictions_pre_post_mean.reset_index()

In [ ]:
evictions_pre_post_mean.rename(columns = {'index':'race_svi', 0: "racial percentage"}, inplace=True)

In [ ]:
evictions_pre_post_mean

       race_svi  racial percentage
0       ep_afam            29.2346
1      ep_asian             8.9040
2       ep_hisp            38.7307
3       ep_nhpi             0.0115
4      ep_white            19.0236
5    ep_twomore             2.8025
6  ep_otherrace             1.0239

In [ ]:
# type(evictions_pre_post_mean)
# so this is correct

## **Step 3.1 Selected neighborhoods**

four types of aggregated and groupedby analysis:

1) average eviction count per building, per year;

2) average eviction count per nta population;

3) average eviction count per unit per building per year;

4) average eviction count per unit per nta population.

In [ ]:
# normal[['average_year_eviction_count(building)', 'average_year_eviction_count_per_unit(building)', 'average_year_eviction_count_per_nta(nta)',
#         'average_year_eviction_per_building_nta(nta)', 'evictions_per_nta_1k(nta)', 'evictions_per_unit_nta_1k(nta)']]

In [ ]:
analysis_columns = evictions_pre_post[['primary_key', 'bin', 'bbl', 'latitude', 'longitude', 'eviction_address', 'zipcode', 'borough', 'nta','average_year_eviction_count(building)', 'average_year_eviction_count_per_unit(building)', 'average_year_eviction_count_per_nta(nta)',
        # 'average_year_eviction_per_building_nta(nta)', \
                                       'evictions_per_nta_1kpop(nta)', 'evictions_per_1kunit_nta_1kpop(nta)',
                              'unitsres', 'e_totpop']]
analysis_columns.head()
# average_year_eviction_nta_count is (total evictions per nta) / (nta's population)

,primary_key,bin,bbl,latitude,longitude,eviction_address,zipcode,borough,nta,average_year_eviction_count(building),average_year_eviction_count_per_unit(building),average_year_eviction_count_per_nta(nta),evictions_per_nta_1kpop(nta),evictions_per_1kunit_nta_1kpop(nta),unitsres,e_totpop
0,*308072/22_5865,3083989,3037420029,40.6721,-73.8911,356 MILLER AVE,11207,BROOKLYN,East New York,0.8000,0.2667,266.0000,2.7479,1.2634,3.0000,96801.0000
1,*313639/23_5202,3143881,3057940012,40.6359,-74.0119,710 61ST STREET,11220,BROOKLYN,Sunset Park East,0.6000,0.3000,38.0000,0.4086,1.5021,2.0000,93008.0000
2,*324973/22_5308,3143435,3057820030,40.6400,-74.0171,462 60TH STREET,11220,BROOKLYN,Sunset Park West,0.6000,0.1500,39.6000,0.4258,0.7241,4.0000,93008.0000
3,*53336/16_170279,2015444,2032510420,40.8772,-73.8896,3400 PAUL AVENUE,10468,BRONX,Van Cortlandt Village,0.8000,0.0023,172.8000,2.1229,0.0247,352.0000,81397.0000
4,*5990/17_2703,2003900,2025770038,40.8112,-73.9088,480 CONCORD AVENUE,10455,BRONX,Mott Haven-Port Morris,1.6000,0.0246,158.8000,3.5782,0.1704,65.0000,44380.0000

In [ ]:
evictions_pre_post.columns

Index(['primary_key', 'bbl', 'court_index_number', 'docket_number',
       'eviction_address', 'eviction_apartment_number', 'executed_date',
       'borough', 'zipcode', 'ejectment',
       ...
       'evictions_per_nta_1kpop(nta)', 'buildings_affected_per_nta',
       'unit_per_nta', 'evictions_per_1kunit_nta_1kpop(nta)',
       'children_impacted_nta_per_1kpop', 'unemployed_impacted_nta_per_1kpop',
       'elderly_impacted_nta_per_1kpop', 'bh_impacted_nta_per_1kpop',
       'hburd_impacted_nta_per_1kpop',
       'average_year_eviction_per_building_nta(nta)'],
      dtype='object', length=104)

In [ ]:
# evictions_pre_post.columns.tolist()

In [ ]:
neighbor_evictions = evictions_pre_post.groupby('nta').agg({'average_year_eviction_count_per_nta(nta)': 'mean',
                                                            'ep_afam': 'first',
                                                            'ep_asian': 'first',
                                                            'ep_hisp': 'first',
                                                            'ep_nhpi': 'first',
                                                            'ep_white': 'first',
                                                            'ep_twomore': 'first',
                                                            'ep_otherrace': 'first',
                                                            'rpl_themes': 'first',
                                                            'borough': 'first',
                                                            }).reset_index()
neighbor_evictions.sort_values('average_year_eviction_count_per_nta(nta)', ascending=False, inplace=True)
neighbor_evictions

,nta,average_year_eviction_count_per_nta(nta),ep_afam,ep_asian,ep_hisp,ep_nhpi,ep_white,ep_twomore,ep_otherrace,rpl_themes,borough
27,Central Harlem North-Polo Grounds,326.4000,54.7000,1.9000,32.7000,0.0000,6.7000,2.8000,1.1000,0.9748,MANHATTAN
38,Crown Heights North,319.8000,66.7000,1.3000,15.7000,0.0000,11.9000,3.6000,0.2000,0.9438,BROOKLYN
11,Bedford Park-Fordham North,306.0000,15.6000,2.3000,78.0000,0.0000,3.1000,0.5000,0.5000,0.9874,BRONX
44,East Concourse-Concourse Village,287.6000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX
178,Williamsbridge-Olinville,267.4000,52.2000,5.5000,29.5000,0.0000,8.8000,2.3000,1.0000,0.9507,BRONX
50,East New York,266.0000,55.9000,1.5000,32.8000,0.0000,5.3000,2.9000,1.6000,0.9839,BROOKLYN
163,University Heights-Morris Heights,265.6000,24.6000,1.6000,69.2000,0.0000,2.0000,1.9000,0.7000,0.9983,BRONX
108,Mount Hope,260.2000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX
59,Flatbush,246.2000,51.6000,5.8000,7.5000,0.0000,29.7000,4.3000,1.2000,0.9174,BROOKLYN
52,East Tremont,219.8000,26.5000,1.4000,65.0000,0.0000,3.8000,1.9000,1.0000,0.9954,BRONX
169,Washington Heights South,209.2000,12.8000,4.5000,65.7000,0.0000,14.6000,2.0000,0.4000,0.9771,MANHATTAN
132,Prospect Lefferts Gardens-Wingate,204.2000,63.2000,3.2000,14.9000,0.0000,13.7000,4.1000,0.7000,0.9220,BROOKLYN
106,Morrisania-Melrose,202.0000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX
21,Brownsville,193.6000,70.1000,0.8000,19.5000,0.0000,3.5000,5.4000,0.6000,0.9948,BROOKLYN
171,West Concourse,182.4000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX
166,Van Cortlandt Village,172.8000,15.6000,2.3000,78.0000,0.0000,3.1000,0.5000,0.5000,0.9874,BRONX
141,Rugby-Remsen Village,170.4000,70.1000,0.8000,19.5000,0.0000,3.5000,5.4000,0.6000,0.9948,BROOKLYN
117,Norwood,169.4000,28.6000,6.2000,52.9000,0.0000,8.7000,2.3000,0.7000,0.9925,BRONX
62,Fordham South,163.4000,15.6000,2.3000,78.0000,0.0000,3.1000,0.5000,0.5000,0.9874,BRONX
107,Mott Haven-Port Morris,158.8000,21.1000,1.1000,74.1000,0.0000,1.4000,1.4000,1.0000,0.9971,BRONX
19,Bronxdale,157.6000,28.6000,6.2000,52.9000,0.0000,8.7000,2.3000,0.7000,0.9925,BRONX
77,Highbridge,157.6000,28.1000,1.0000,65.4000,0.0000,2.7000,1.4000,1.1000,0.9931,BRONX
13,Belmont,156.8000,26.5000,1.4000,65.0000,0.0000,3.8000,1.9000,1.0000,0.9954,BRONX
157,Stuyvesant Heights,155.6000,39.7000,5.1000,31.0000,0.1000,19.8000,3.7000,0.6000,0.9352,BROOKLYN
48,East Harlem North,155.2000,25.0000,10.8000,45.7000,0.0000,14.9000,2.0000,1.6000,0.9788,MANHATTAN
46,East Flatbush-Farragut,154.2000,51.6000,5.8000,7.5000,0.0000,29.7000,4.3000,1.2000,0.9174,BROOKLYN
168,Washington Heights North,152.0000,3.6000,3.3000,67.2000,0.0000,23.3000,1.9000,0.5000,0.9650,MANHATTAN
172,West Farms-Bronx River,146.6000,23.1000,8.2000,61.7000,0.1000,2.1000,1.8000,3.0000,0.9937,BRONX
98,Marble Hill-Inwood,140.6000,5.7000,3.3000,69.0000,0.0000,19.1000,2.4000,0.4000,0.9541,MANHATTAN
23,Bushwick South,136.6000,39.7000,5.1000,31.0000,0.1000,19.8000,3.7000,0.6000,0.9352,BROOKLYN
120,Ocean Hill,134.6000,66.7000,1.3000,15.7000,0.0000,11.9000,3.6000,0.2000,0.9438,BROOKLYN
36,Corona,132.6000,7.4000,11.2000,75.9000,0.0000,4.4000,0.5000,0.5000,0.9633,QUEENS
76,Hamilton Heights,131.6000,23.6000,4.0000,50.9000,0.0000,17.3000,3.4000,0.7000,0.9323,MANHATTAN
101,Melrose South-Mott Haven North,131.4000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX
31,Claremont-Bathgate,125.6000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX
89,Kingsbridge Heights,123.6000,15.6000,2.3000,78.0000,0.0000,3.1000,0.5000,0.5000,0.9874,BRONX
10,Bedford,117.4000,44.1000,4.6000,13.6000,0.0000,30.1000,6.4000,1.1000,0.8297,BROOKLYN
182,Woodlawn-Wakefield,113.8000,31.3000,2.0000,22.8000,0.0000,38.8000,3.2000,1.7000,0.9398,BRONX
37,Crotona Park East,112.8000,26.5000,1.4000,65.0000,0.0000,3.8000,1.9000,1.0000,0.9954,BRONX
51,East New York (Pennsylvania Ave),112.6000,55.9000,1.5000,32.8000,0.0000,5.3000,2.9000,1.6000,0.9839,BROOKLYN
146,Soundview-Bruckner,112.0000,23.1000,8.2000,61.7000,0.1000,2.1000,1.8000,3.0000,0.9937,BRONX
58,Erasmus,109.8000,63.2000,3.2000,14.9000,0.0000,13.7000,4.1000,0.7000,0.9220,BROOKLYN
82,Hunts Point,106.0000,28.9000,0.2000,67.3000,0.0000,1.9000,1.3000,0.1000,0.9943,BRONX
28,Central Harlem South,104.8000,47.6000,6.3000,19.8000,0.0000,21.9000,3.9000,0.5000,0.9123,MANHATTAN
94,Longwood,103.6000,28.9000,0.2000,67.3000,0.0000,1.9000,1.3000,0.1000,0.9943,BRONX
83,Jackson Heights,102.6000,2.5000,22.9000,52.4000,0.1000,18.3000,3.2000,0.6000,0.9255,QUEENS
25,Canarsie,101.6000,79.6000,2.5000,9.1000,0.0000,3.8000,4.4000,0.7000,0.9117,BROOKLYN
49,East Harlem South,100.2000,25.0000,10.8000,45.7000,0.0000,14.9000,2.0000,1.6000,0.9788,MANHATTAN
84,Jamaica,93.0000,16.8000,42.8000,21.0000,0.1000,12.0000,5.0000,1.5000,0.9713,QUEENS
32,Clinton,91.2000,4.5000,18.8000,16.9000,0.2000,55.6000,3.7000,0.3000,0.7792,MANHATTAN
173,West New Brighton-New Brighton-St. George,89.6000,19.9000,7.6000,26.3000,0.0000,41.4000,3.7000,0.3000,0.9329,STATEN ISLAND
147,Soundview-Castle Hill-Clason Point-Harding Park,89.4000,30.9000,2.1000,62.2000,0.0000,1.7000,1.6000,1.2000,0.9868,BRONX
39,Crown Heights South,84.4000,53.7000,3.3000,10.8000,0.0000,27.4000,3.9000,0.9000,0.8538,BROOKLYN
55,Eastchester-Edenwald-Baychester,84.0000,52.2000,5.5000,29.5000,0.0000,8.8000,2.3000,1.0000,0.9507,BRONX
128,Pelham Parkway,83.6000,22.2000,16.6000,47.2000,0.0000,10.4000,2.4000,0.8000,0.9708,BRONX
148,South Jamaica,82.8000,55.3000,15.4000,13.9000,0.0000,2.9000,3.5000,7.4000,0.9472,QUEENS
8,Bay Ridge,82.4000,1.7000,40.7000,40.9000,0.0000,15.0000,1.2000,0.2000,0.9662,BROOKLYN
175,Westchester-Unionport,81.8000,23.1000,8.2000,61.7000,0.1000,2.1000,1.8000,3.0000,0.9937,BRONX
40,Cypress Hills-City Line,81.2000,45.8000,8.1000,39.0000,0.2000,2.5000,2.8000,1.6000,0.9581,BROOKLYN
81,Hunters Point-Sunnyside-West Maspeth,80.6000,2.5000,26.9000,27.3000,0.0000,39.1000,3.7000,0.4000,0.7798,QUEENS
165,Upper West Side,80.4000,9.3000,9.8000,23.6000,0.0000,53.3000,3.5000,0.4000,0.8607,MANHATTAN
61,Flushing,79.8000,2.4000,72.6000,16.1000,0.1000,7.0000,1.0000,0.6000,0.9495,QUEENS
143,Seagate-Coney Island,79.4000,20.1000,9.5000,19.5000,0.0000,47.7000,2.9000,0.0000,0.9920,BROOKLYN
95,Lower East Side,76.6000,8.0000,37.2000,26.0000,0.0000,25.6000,2.4000,0.8000,0.9656,MANHATTAN
60,Flatlands,73.0000,42.6000,8.1000,8.9000,0.0000,35.6000,3.8000,0.9000,0.8951,BROOKLYN
80,Hudson Yards-Chelsea-Flatiron-Union Square,71.4000,8.2000,18.6000,19.3000,0.0000,50.2000,2.9000,0.8000,0.7414,MANHATTAN
34,Co-op City,69.0000,60.0000,2.3000,30.6000,0.0000,4.3000,2.8000,0.0000,0.9799,BRONX
56,Elmhurst,69.0000,7.4000,11.2000,75.9000,0.0000,4.4000,0.5000,0.5000,0.9633,QUEENS
3,Astoria,66.4000,7.0000,19.6000,26.7000,0.0000,41.1000,4.3000,1.1000,0.8882,QUEENS
104,Midwood,66.0000,8.2000,15.9000,11.8000,0.1000,59.1000,3.7000,1.3000,0.9702,BROOKLYN
22,Bushwick North,64.6000,39.7000,5.1000,31.0000,0.1000,19.8000,3.7000,0.6000,0.9352,BROOKLYN
149,South Ozone Park,63.2000,21.3000,33.4000,21.3000,0.3000,4.1000,10.0000,7.8000,0.8624,QUEENS
63,Forest Hills,62.8000,2.7000,28.5000,16.4000,0.0000,47.0000,4.6000,0.7000,0.7322,QUEENS
167,Van Nest-Morris Park-Westchester Square,62.8000,22.2000,16.6000,47.2000,0.0000,10.4000,2.4000,0.8000,0.9708,BRONX
184,Yorkville,61.0000,1.5000,8.5000,7.4000,0.0000,79.6000,2.7000,0.3000,0.4209,MANHATTAN
75,Grymes Hill-Clifton-Fox Hills,60.6000,26.0000,12.3000,21.7000,0.0000,38.3000,1.2000,0.5000,0.9467,STATEN ISLAND
153,St. Albans,60.4000,78.0000,3.0000,11.7000,0.0000,2.0000,3.3000,1.7000,0.9564,QUEENS
138,Ridgewood,59.4000,2.4000,6.9000,45.2000,0.0000,43.0000,2.1000,0.4000,0.8819,QUEENS
152,Spuyten Duyvil-Kingsbridge,59.2000,12.1000,3.7000,52.3000,0.0000,28.0000,2.4000,0.9000,0.9862,BRONX
137,Richmond Hill,58.2000,7.5000,23.4000,41.5000,0.0000,18.9000,5.4000,2.7000,0.9530,QUEENS
144,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,55.8000,2.4000,14.8000,9.1000,0.0000,67.9000,5.2000,0.5000,0.9524,BROOKLYN
91,Lenox Hill-Roosevelt Island,55.4000,2.2000,7.3000,7.7000,0.3000,78.6000,3.5000,0.0000,0.5889,MANHATTAN
150,Springfield Gardens North,53.6000,78.0000,3.0000,11.7000,0.0000,2.0000,3.3000,1.7000,0.9564,QUEENS
15,Bensonhurst West,53.6000,0.5000,30.4000,11.3000,0.0000,53.3000,2.7000,1.2000,0.9553,BROOKLYN
181,Woodhaven,53.4000,4.1000,17.9000,59.1000,0.0000,13.4000,2.6000,2.9000,0.9151,QUEENS
17,Briarwood-Jamaica Hills,50.8000,16.8000,42.8000,21.0000,0.1000,12.0000,5.0000,1.5000,0.9713,QUEENS
5,Baisley Park,49.8000,78.0000,3.0000,11.7000,0.0000,2.0000,3.3000,1.7000,0.9564,QUEENS
133,Queens Village,49.2000,21.5000,34.5000,21.0000,0.0000,14.8000,5.1000,2.9000,0.9358,QUEENS
99,Mariner's Harbor-Arlington-Port Ivory-Granitev...,47.4000,30.0000,9.8000,39.0000,0.0000,17.4000,3.4000,0.4000,0.9375,STATEN ISLAND
126,Parkchester,46.2000,22.2000,16.6000,47.2000,0.0000,10.4000,2.4000,0.8000,0.9708,BRONX
127,Pelham Bay-Country Club-City Island,46.0000,7.7000,12.8000,49.7000,0.0000,28.1000,1.0000,0.6000,0.9690,BRONX
14,Bensonhurst East,45.6000,0.5000,30.4000,11.3000,0.0000,53.3000,2.7000,1.2000,0.9553,BROOKLYN
116,North Side-South Side,45.2000,4.7000,6.0000,26.0000,0.0000,59.9000,2.6000,0.6000,0.9042,BROOKLYN
88,Kew Gardens Hills,44.8000,6.9000,27.3000,18.5000,0.0000,42.6000,3.2000,1.3000,0.9547,QUEENS
18,Brighton Beach,44.0000,2.4000,14.8000,9.1000,0.0000,67.9000,5.2000,0.5000,0.9524,BROOKLYN
154,Stapleton-Rosebank,43.8000,4.4000,20.1000,14.9000,0.0000,57.9000,2.2000,0.4000,0.8928,STATEN ISLAND
78,Hollis,43.4000,33.4000,30.6000,14.7000,0.0000,10.5000,4.4000,5.5000,0.9484,QUEENS
97,Manhattanville,42.2000,33.9000,8.9000,25.1000,0.0000,26.5000,4.2000,1.1000,0.9312,MANHATTAN
162,Turtle Bay-East Midtown,41.8000,1.3000,11.7000,10.3000,0.0000,74.0000,2.4000,0.2000,0.4438,MANHATTAN
87,Kew Gardens,41.2000,6.7000,22.3000,22.9000,0.0000,42.3000,3.4000,2.1000,0.8761,QUEENS
33,Clinton Hill,41.2000,24.7000,6.6000,14.0000,0.0000,47.4000,6.7000,0.5000,0.7076,BROOKLYN
155,Starrett City,41.0000,61.7000,2.6000,15.9000,0.0000,15.0000,3.3000,1.2000,0.9845,BROOKLYN
105,Morningside Heights,40.2000,9.3000,9.8000,23.6000,0.0000,53.3000,3.5000,0.4000,0.8607,MANHATTAN
160,Sunset Park West,39.6000,1.7000,40.7000,40.9000,0.0000,15.0000,1.2000,0.2000,0.9662,BROOKLYN
109,Murray Hill,39.0000,2.7000,66.5000,13.5000,0.5000,14.3000,1.6000,0.6000,0.9404,QUEENS
79,Homecrest,38.2000,5.8000,23.9000,8.8000,0.1000,57.9000,3.2000,0.2000,0.9054,BROOKLYN
159,Sunset Park East,38.0000,1.7000,40.7000,40.9000,0.0000,15.0000,1.2000,0.2000,0.9662,BROOKLYN
142,Schuylerville-Throgs Neck-Edgewater Park,37.4000,10.1000,4.2000,46.8000,0.0000,36.0000,2.1000,0.8000,0.9444,BRONX
64,Fort Greene,36.2000,21.1000,7.5000,14.1000,0.0000,52.1000,4.1000,0.9000,0.9427,BROOKLYN
53,East Village,36.2000,6.9000,13.4000,24.6000,0.0000,50.1000,4.3000,0.6000,0.8721,MANHATTAN
110,Murray Hill-Kips Bay,34.6000,4.6000,19.2000,12.5000,0.0000,58.2000,5.3000,0.2000,0.4822,MANHATTAN
41,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,34.0000,16.5000,9.0000,14.5000,0.0000,51.7000,7.4000,0.8000,0.7231,BROOKLYN
16,Borough Park,33.8000,1.4000,22.0000,13.1000,0.0000,59.8000,0.7000,2.8000,0.9490,BROOKLYN
156,Steinway,33.6000,3.8000,8.4000,23.0000,0.0000,60.2000,4.2000,0.3000,0.8200,QUEENS
6,Bath Beach,33.4000,1.6000,36.6000,17.6000,0.0000,40.1000,3.1000,0.8000,0.9685,BROOKLYN
30,Chinatown,33.4000,8.0000,37.2000,26.0000,0.0000,25.6000,2.4000,0.8000,0.9656,MANHATTAN
174,West Village,33.0000,2.2000,5.6000,11.1000,0.0000,77.6000,3.1000,0.3000,0.3997,MANHATTAN
92,Lincoln Square,32.0000,4.9000,14.0000,9.7000,0.0000,67.6000,2.8000,1.0000,0.6325,MANHATTAN
183,Woodside,31.6000,1.5000,36.5000,39.4000,0.0000,19.9000,1.7000,0.6000,0.9019,QUEENS
115,North Riverdale-Fieldston-Riverdale,30.2000,9.1000,3.5000,32.0000,0.0000,51.5000,3.2000,0.8000,0.8308,BRONX
96,Madison,30.2000,5.8000,23.9000,8.8000,0.1000,57.9000,3.2000,0.2000,0.9054,BROOKLYN
86,Kensington-Ocean Parkway,30.2000,8.9000,17.8000,16.4000,0.0000,51.5000,4.6000,0.9000,0.9197,BROOKLYN
72,Gravesend,29.8000,1.6000,36.6000,17.6000,0.0000,40.1000,3.1000,0.8000,0.9685,BROOKLYN
103,Midtown-Midtown South,29.6000,6.6000,16.0000,20.6000,0.1000,50.4000,5.7000,0.5000,0.8010,MANHATTAN
114,North Corona,28.6000,7.4000,11.2000,75.9000,0.0000,4.4000,0.5000,0.5000,0.9633,QUEENS
122,Old Astoria,28.6000,6.9000,15.3000,25.7000,0.0000,45.9000,3.6000,1.8000,0.8068,QUEENS
54,East Williamsburg,27.8000,4.7000,6.0000,26.0000,0.0000,59.9000,2.6000,0.6000,0.9042,BROOKLYN
85,Jamaica Estates-Holliswood,27.6000,16.8000,42.8000,21.0000,0.1000,12.0000,5.0000,1.5000,0.9713,QUEENS
136,Rego Park,27.6000,3.5000,30.2000,22.1000,0.1000,37.4000,5.6000,1.1000,0.8578,QUEENS
145,SoHo-TriBeCa-Civic Center-Little Italy,27.0000,2.5000,17.4000,10.3000,0.0000,67.1000,2.5000,0.2000,0.6508,MANHATTAN
129,Pomonok-Flushing Heights-Hillcrest,26.0000,6.9000,27.3000,18.5000,0.0000,42.6000,3.2000,1.3000,0.9547,QUEENS
0,Allerton-Pelham Gardens,25.4000,52.2000,5.5000,29.5000,0.0000,8.8000,2.3000,1.0000,0.9507,BRONX
135,Queensbridge-Ravenswood-Long Island City,25.2000,10.1000,28.4000,20.5000,0.0000,34.7000,5.3000,1.1000,0.8291,QUEENS
7,Battery Park City-Lower Manhattan,25.2000,1.7000,23.2000,12.3000,0.0000,61.1000,1.7000,0.0000,0.2506,MANHATTAN
26,Carroll Gardens-Columbia Street-Red Hook,24.8000,11.4000,14.2000,11.0000,0.0000,57.5000,5.3000,0.5000,0.6233,BROOKLYN
130,Port Richmond,23.8000,21.7000,5.6000,41.9000,0.0000,28.6000,1.8000,0.4000,0.9163,STATEN ISLAND
139,Rosedale,23.6000,79.2000,2.4000,8.9000,0.0000,5.8000,2.6000,1.0000,0.7913,QUEENS
164,Upper East Side-Carnegie Hill,23.2000,0.4000,9.7000,5.7000,0.3000,81.2000,2.3000,0.3000,0.5195,MANHATTAN
65,Fresh Meadows-Utopia,23.0000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS
67,Georgetown-Marine Park-Bergen Beach-Mill Basin,22.8000,42.6000,8.1000,8.9000,0.0000,35.6000,3.8000,0.9000,0.8951,BROOKLYN
151,Springfield Gardens South-Brookville,22.4000,85.7000,1.6000,6.8000,0.0000,1.2000,2.1000,2.5000,0.7454,QUEENS
69,Glendale,21.8000,2.4000,6.9000,45.2000,0.0000,43.0000,2.1000,0.4000,0.8819,QUEENS
125,Park Slope-Gowanus,20.4000,3.6000,9.1000,15.1000,0.0000,66.9000,4.8000,0.5000,0.5728,BROOKLYN
74,Greenpoint,19.6000,2.6000,4.9000,15.6000,0.0000,69.6000,6.5000,0.6000,0.6370,BROOKLYN
111,New Brighton-Silver Lake,19.4000,19.9000,7.6000,26.3000,0.0000,41.4000,3.7000,0.3000,0.9329,STATEN ISLAND
119,Oakwood-Oakwood Beach,19.4000,3.0000,13.8000,16.2000,0.0000,63.2000,3.5000,0.4000,0.8739,STATEN ISLAND
35,College Point,18.8000,0.5000,32.8000,41.7000,0.1000,23.5000,0.8000,0.6000,0.8899,QUEENS
90,Laurelton,18.2000,85.7000,1.6000,6.8000,0.0000,1.2000,2.1000,2.5000,0.7454,QUEENS
43,Dyker Heights,16.2000,1.4000,22.0000,13.1000,0.0000,59.8000,0.7000,2.8000,0.9490,BROOKLYN
170,West Brighton,15.8000,20.1000,9.5000,19.5000,0.0000,47.7000,2.9000,0.0000,0.9920,BROOKLYN
45,East Elmhurst,15.8000,16.3000,14.9000,58.7000,0.0000,7.7000,2.2000,0.3000,0.9604,QUEENS
124,Ozone Park,15.2000,7.1000,28.2000,38.4000,0.0000,16.0000,5.0000,5.1000,0.8968,QUEENS
70,Gramercy,14.6000,8.5000,15.6000,9.8000,0.0000,61.4000,3.8000,0.6000,0.5247,MANHATTAN
57,Elmhurst-Maspeth,14.6000,1.5000,36.5000,39.4000,0.0000,19.9000,1.7000,0.6000,0.9019,QUEENS
102,Middle Village,14.4000,0.6000,12.3000,22.0000,0.0000,61.6000,1.5000,1.9000,0.8664,QUEENS
113,New Springville-Bloomfield-Travis,14.2000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND
121,Ocean Parkway South,12.8000,8.2000,15.9000,11.8000,0.1000,59.1000,3.7000,1.3000,0.9702,BROOKLYN
131,Prospect Heights,12.8000,24.7000,6.6000,14.0000,0.0000,47.4000,6.7000,0.5000,0.7076,BROOKLYN
158,Stuyvesant Town-Cooper Village,12.6000,6.9000,13.4000,24.6000,0.0000,50.1000,4.3000,0.6000,0.8721,MANHATTAN
93,Lindenwood-Howard Beach,12.2000,3.6000,5.6000,24.7000,0.0000,63.0000,2.9000,0.1000,0.8630,QUEENS
66,Ft. Totten-Bay Terrace-Clearview,12.0000,1.2000,30.8000,10.3000,0.0000,54.9000,1.5000,1.3000,0.7517,QUEENS
123,Old Town-Dongan Hills-South Beach,12.0000,4.4000,20.1000,14.9000,0.0000,57.9000,2.2000,0.4000,0.8928,STATEN ISLAND
100,Maspeth,12.0000,0.9000,13.5000,36.8000,0.0000,46.5000,1.3000,0.9000,0.8681,QUEENS
9,Bayside-Bayside Hills,12.0000,3.7000,40.3000,14.8000,0.0000,38.7000,1.4000,0.9000,0.8532,QUEENS
24,Cambria Heights,10.4000,86.8000,1.5000,6.7000,0.0000,2.0000,2.2000,0.9000,0.7001,QUEENS
179,Williamsburg,10.4000,7.8000,5.7000,19.8000,0.0000,61.8000,4.6000,0.3000,0.8555,BROOKLYN
71,Grasmere-Arrochar-Ft. Wadsworth,9.8000,4.4000,20.1000,14.9000,0.0000,57.9000,2.2000,0.4000,0.8928,STATEN ISLAND
47,East Flushing,9.8000,2.4000,72.6000,16.1000,0.1000,7.0000,1.0000,0.6000,0.9495,QUEENS
12,Bellerose,8.6000,5.7000,46.8000,18.0000,0.0000,23.0000,4.1000,2.4000,0.7093,QUEENS
161,Todt Hill-Emerson Hill-Heartland Village-Light...,8.4000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND
112,New Dorp-Midland Beach,8.2000,3.0000,13.8000,16.2000,0.0000,63.2000,3.5000,0.4000,0.8739,STATEN ISLAND
73,Great Kills,8.2000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND
185,park-cemetery-etc-Bronx,7.8000,28.6000,6.2000,52.9000,0.0000,8.7000,2.3000,0.7000,0.9925,BRONX
118,Oakland Gardens,7.6000,1.6000,48.6000,16.4000,0.0000,30.2000,2.5000,0.3000,0.8240,QUEENS
177,Whitestone,7.2000,0.3000,26.0000,14.8000,0.2000,56.1000,1.9000,0.5000,0.8561,QUEENS
4,Auburndale,7.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS
176,Westerleigh,6.8000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND
29,Charleston-Richmond Valley-Tottenville,6.2000,0.1000,2.1000,10.6000,0.1000,86.0000,1.2000,0.0000,0.3624,STATEN ISLAND
180,Windsor Terrace,6.2000,8.9000,17.8000,16.4000,0.0000,51.5000,4.6000,0.9000,0.9197,BROOKLYN
134,Queensboro Hill,6.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS
42,Douglas Manor-Douglaston-Little Neck,5.0000,0.3000,30.9000,12.4000,0.0000,51.3000,3.8000,0.3000,0.7987,QUEENS
20,Brooklyn Heights-Cobble Hill,4.8000,11.4000,14.2000,11.0000,0.0000,57.5000,5.3000,0.5000,0.6233,BROOKLYN
2,Arden Heights,3.4000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND
1,Annadale-Huguenot-Prince's Bay-Eltingville,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND
68,Glen Oaks-Floral Park-New Hyde Park,3.4000,5.7000,46.8000,18.0000,0.0000,23.0000,4.1000,2.4000,0.7093,QUEENS
140,Rossville-Woodrow,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND
186,park-cemetery-etc-Brooklyn,0.2000,21.1000,7.5000,14.1000,0.0000,52.1000,4.1000,0.9000,0.9427,BROOKLYN

In [ ]:
top_15 = neighbor_evictions.head(15)
bottom_18 = neighbor_evictions.tail(18)
selected_nta = pd.concat([top_15, bottom_18])
selected_nta

,nta,average_year_eviction_count_per_nta(nta),ep_afam,ep_asian,ep_hisp,ep_nhpi,ep_white,ep_twomore,ep_otherrace,rpl_themes,borough,quartile,bh_pct
27,Central Harlem North-Polo Grounds,326.4000,54.7000,1.9000,32.7000,0.0000,6.7000,2.8000,1.1000,0.9748,MANHATTAN,Q4,87.4000
38,Crown Heights North,319.8000,66.7000,1.3000,15.7000,0.0000,11.9000,3.6000,0.2000,0.9438,BROOKLYN,Q4,82.4000
11,Bedford Park-Fordham North,306.0000,15.6000,2.3000,78.0000,0.0000,3.1000,0.5000,0.5000,0.9874,BRONX,Q4,93.6000
44,East Concourse-Concourse Village,287.6000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX,Q4,94.5000
178,Williamsbridge-Olinville,267.4000,52.2000,5.5000,29.5000,0.0000,8.8000,2.3000,1.0000,0.9507,BRONX,Q4,81.7000
50,East New York,266.0000,55.9000,1.5000,32.8000,0.0000,5.3000,2.9000,1.6000,0.9839,BROOKLYN,Q4,88.7000
163,University Heights-Morris Heights,265.6000,24.6000,1.6000,69.2000,0.0000,2.0000,1.9000,0.7000,0.9983,BRONX,Q4,93.8000
108,Mount Hope,260.2000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX,Q4,96.2000
59,Flatbush,246.2000,51.6000,5.8000,7.5000,0.0000,29.7000,4.3000,1.2000,0.9174,BROOKLYN,Q4,59.1000
52,East Tremont,219.8000,26.5000,1.4000,65.0000,0.0000,3.8000,1.9000,1.0000,0.9954,BRONX,Q4,91.5000
169,Washington Heights South,209.2000,12.8000,4.5000,65.7000,0.0000,14.6000,2.0000,0.4000,0.9771,MANHATTAN,Q4,78.5000
132,Prospect Lefferts Gardens-Wingate,204.2000,63.2000,3.2000,14.9000,0.0000,13.7000,4.1000,0.7000,0.9220,BROOKLYN,Q4,78.1000
106,Morrisania-Melrose,202.0000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX,Q4,94.5000
21,Brownsville,193.6000,70.1000,0.8000,19.5000,0.0000,3.5000,5.4000,0.6000,0.9948,BROOKLYN,Q4,89.6000
171,West Concourse,182.4000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX,Q4,96.2000
161,Todt Hill-Emerson Hill-Heartland Village-Light...,8.4000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND,Q1,18.5000
112,New Dorp-Midland Beach,8.2000,3.0000,13.8000,16.2000,0.0000,63.2000,3.5000,0.4000,0.8739,STATEN ISLAND,Q1,19.2000
73,Great Kills,8.2000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND,Q1,13.6000
185,park-cemetery-etc-Bronx,7.8000,28.6000,6.2000,52.9000,0.0000,8.7000,2.3000,0.7000,0.9925,BRONX,Q1,81.5000
118,Oakland Gardens,7.6000,1.6000,48.6000,16.4000,0.0000,30.2000,2.5000,0.3000,0.8240,QUEENS,Q1,18.0000
177,Whitestone,7.2000,0.3000,26.0000,14.8000,0.2000,56.1000,1.9000,0.5000,0.8561,QUEENS,Q1,15.1000
4,Auburndale,7.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS,Q1,32.4000
176,Westerleigh,6.8000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND,Q1,18.5000
29,Charleston-Richmond Valley-Tottenville,6.2000,0.1000,2.1000,10.6000,0.1000,86.0000,1.2000,0.0000,0.3624,STATEN ISLAND,Q1,10.7000
180,Windsor Terrace,6.2000,8.9000,17.8000,16.4000,0.0000,51.5000,4.6000,0.9000,0.9197,BROOKLYN,Q1,25.3000
134,Queensboro Hill,6.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS,Q1,32.4000
42,Douglas Manor-Douglaston-Little Neck,5.0000,0.3000,30.9000,12.4000,0.0000,51.3000,3.8000,0.3000,0.7987,QUEENS,Q1,12.7000
20,Brooklyn Heights-Cobble Hill,4.8000,11.4000,14.2000,11.0000,0.0000,57.5000,5.3000,0.5000,0.6233,BROOKLYN,Q1,22.4000
2,Arden Heights,3.4000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND,Q1,13.6000
1,Annadale-Huguenot-Prince's Bay-Eltingville,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,Q1,10.1000
68,Glen Oaks-Floral Park-New Hyde Park,3.4000,5.7000,46.8000,18.0000,0.0000,23.0000,4.1000,2.4000,0.7093,QUEENS,Q1,23.7000
140,Rossville-Woodrow,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,Q1,10.1000
186,park-cemetery-etc-Brooklyn,0.2000,21.1000,7.5000,14.1000,0.0000,52.1000,4.1000,0.9000,0.9427,BROOKLYN,Q1,35.2000

In [ ]:
# get rid of the two cemetery:
selected_nta = selected_nta[~selected_nta['nta'].isin(['park-cemetery-etc-Brooklyn', 'park-cemetery-etc-Bronx', 'Glen Oaks-Floral Park-New Hyde Park'])]
selected_nta.shape

(30, 14)

In [ ]:
selected_nta['black+hispanic'] = selected_nta['ep_hisp'] + selected_nta['ep_nhpi']

In [ ]:
selected_nta

,nta,average_year_eviction_count_per_nta(nta),ep_afam,ep_asian,ep_hisp,ep_nhpi,ep_white,ep_twomore,ep_otherrace,rpl_themes,borough,quartile,bh_pct,black+hispanic
27,Central Harlem North-Polo Grounds,326.4000,54.7000,1.9000,32.7000,0.0000,6.7000,2.8000,1.1000,0.9748,MANHATTAN,Q4,87.4000,32.7000
38,Crown Heights North,319.8000,66.7000,1.3000,15.7000,0.0000,11.9000,3.6000,0.2000,0.9438,BROOKLYN,Q4,82.4000,15.7000
11,Bedford Park-Fordham North,306.0000,15.6000,2.3000,78.0000,0.0000,3.1000,0.5000,0.5000,0.9874,BRONX,Q4,93.6000,78.0000
44,East Concourse-Concourse Village,287.6000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX,Q4,94.5000,56.3000
178,Williamsbridge-Olinville,267.4000,52.2000,5.5000,29.5000,0.0000,8.8000,2.3000,1.0000,0.9507,BRONX,Q4,81.7000,29.5000
50,East New York,266.0000,55.9000,1.5000,32.8000,0.0000,5.3000,2.9000,1.6000,0.9839,BROOKLYN,Q4,88.7000,32.8000
163,University Heights-Morris Heights,265.6000,24.6000,1.6000,69.2000,0.0000,2.0000,1.9000,0.7000,0.9983,BRONX,Q4,93.8000,69.2000
108,Mount Hope,260.2000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX,Q4,96.2000,65.3000
59,Flatbush,246.2000,51.6000,5.8000,7.5000,0.0000,29.7000,4.3000,1.2000,0.9174,BROOKLYN,Q4,59.1000,7.5000
52,East Tremont,219.8000,26.5000,1.4000,65.0000,0.0000,3.8000,1.9000,1.0000,0.9954,BRONX,Q4,91.5000,65.0000
169,Washington Heights South,209.2000,12.8000,4.5000,65.7000,0.0000,14.6000,2.0000,0.4000,0.9771,MANHATTAN,Q4,78.5000,65.7000
132,Prospect Lefferts Gardens-Wingate,204.2000,63.2000,3.2000,14.9000,0.0000,13.7000,4.1000,0.7000,0.9220,BROOKLYN,Q4,78.1000,14.9000
106,Morrisania-Melrose,202.0000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX,Q4,94.5000,56.3000
21,Brownsville,193.6000,70.1000,0.8000,19.5000,0.0000,3.5000,5.4000,0.6000,0.9948,BROOKLYN,Q4,89.6000,19.5000
171,West Concourse,182.4000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX,Q4,96.2000,65.3000
161,Todt Hill-Emerson Hill-Heartland Village-Light...,8.4000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND,Q1,18.5000,15.2000
112,New Dorp-Midland Beach,8.2000,3.0000,13.8000,16.2000,0.0000,63.2000,3.5000,0.4000,0.8739,STATEN ISLAND,Q1,19.2000,16.2000
73,Great Kills,8.2000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND,Q1,13.6000,12.8000
118,Oakland Gardens,7.6000,1.6000,48.6000,16.4000,0.0000,30.2000,2.5000,0.3000,0.8240,QUEENS,Q1,18.0000,16.4000
177,Whitestone,7.2000,0.3000,26.0000,14.8000,0.2000,56.1000,1.9000,0.5000,0.8561,QUEENS,Q1,15.1000,15.0000
4,Auburndale,7.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS,Q1,32.4000,21.2000
176,Westerleigh,6.8000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND,Q1,18.5000,15.2000
29,Charleston-Richmond Valley-Tottenville,6.2000,0.1000,2.1000,10.6000,0.1000,86.0000,1.2000,0.0000,0.3624,STATEN ISLAND,Q1,10.7000,10.7000
180,Windsor Terrace,6.2000,8.9000,17.8000,16.4000,0.0000,51.5000,4.6000,0.9000,0.9197,BROOKLYN,Q1,25.3000,16.4000
134,Queensboro Hill,6.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS,Q1,32.4000,21.2000
42,Douglas Manor-Douglaston-Little Neck,5.0000,0.3000,30.9000,12.4000,0.0000,51.3000,3.8000,0.3000,0.7987,QUEENS,Q1,12.7000,12.4000
20,Brooklyn Heights-Cobble Hill,4.8000,11.4000,14.2000,11.0000,0.0000,57.5000,5.3000,0.5000,0.6233,BROOKLYN,Q1,22.4000,11.0000
2,Arden Heights,3.4000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND,Q1,13.6000,12.8000
1,Annadale-Huguenot-Prince's Bay-Eltingville,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,Q1,10.1000,9.6000
140,Rossville-Woodrow,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,Q1,10.1000,9.6000

In [ ]:
selected_nta.T

,27,38,11,44,178,50,163,108,59,52,169,132,106,21,171,161,112,73,118,177,4,176,29,180,134,42,20,2,1,140
nta,Central Harlem North-Polo Grounds,Crown Heights North,Bedford Park-Fordham North,East Concourse-Concourse Village,Williamsbridge-Olinville,East New York,University Heights-Morris Heights,Mount Hope,Flatbush,East Tremont,Washington Heights South,Prospect Lefferts Gardens-Wingate,Morrisania-Melrose,Brownsville,West Concourse,Todt Hill-Emerson Hill-Heartland Village-Light...,New Dorp-Midland Beach,Great Kills,Oakland Gardens,Whitestone,Auburndale,Westerleigh,Charleston-Richmond Valley-Tottenville,Windsor Terrace,Queensboro Hill,Douglas Manor-Douglaston-Little Neck,Brooklyn Heights-Cobble Hill,Arden Heights,Annadale-Huguenot-Prince's Bay-Eltingville,Rossville-Woodrow
average_year_eviction_count_per_nta(nta),326.4000,319.8000,306.0000,287.6000,267.4000,266.0000,265.6000,260.2000,246.2000,219.8000,209.2000,204.2000,202.0000,193.6000,182.4000,8.4000,8.2000,8.2000,7.6000,7.2000,7.2000,6.8000,6.2000,6.2000,6.2000,5.0000,4.8000,3.4000,3.4000,3.4000
ep_afam,54.7000,66.7000,15.6000,38.2000,52.2000,55.9000,24.6000,30.9000,51.6000,26.5000,12.8000,63.2000,38.2000,70.1000,30.9000,3.3000,3.0000,0.8000,1.6000,0.3000,11.2000,3.3000,0.1000,8.9000,11.2000,0.3000,11.4000,0.8000,0.5000,0.5000
ep_asian,1.9000,1.3000,2.3000,0.7000,5.5000,1.5000,1.6000,0.4000,5.8000,1.4000,4.5000,3.2000,0.7000,0.8000,0.4000,18.0000,13.8000,8.7000,48.6000,26.0000,43.0000,18.0000,2.1000,17.8000,43.0000,30.9000,14.2000,8.7000,4.1000,4.1000
ep_hisp,32.7000,15.7000,78.0000,56.3000,29.5000,32.8000,69.2000,65.3000,7.5000,65.0000,65.7000,14.9000,56.3000,19.5000,65.3000,15.2000,16.2000,12.8000,16.4000,14.8000,21.2000,15.2000,10.6000,16.4000,21.2000,12.4000,11.0000,12.8000,9.6000,9.6000
ep_nhpi,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.2000,0.0000,0.0000,0.1000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
ep_white,6.7000,11.9000,3.1000,2.4000,8.8000,5.3000,2.0000,1.7000,29.7000,3.8000,14.6000,13.7000,2.4000,3.5000,1.7000,60.3000,63.2000,76.1000,30.2000,56.1000,22.2000,60.3000,86.0000,51.5000,22.2000,51.3000,57.5000,76.1000,83.5000,83.5000
ep_twomore,2.8000,3.6000,0.5000,1.8000,2.3000,2.9000,1.9000,1.1000,4.3000,1.9000,2.0000,4.1000,1.8000,5.4000,1.1000,2.4000,3.5000,1.2000,2.5000,1.9000,1.9000,2.4000,1.2000,4.6000,1.9000,3.8000,5.3000,1.2000,1.5000,1.5000
ep_otherrace,1.1000,0.2000,0.5000,0.4000,1.0000,1.6000,0.7000,0.4000,1.2000,1.0000,0.4000,0.7000,0.4000,0.6000,0.4000,0.5000,0.4000,0.4000,0.3000,0.5000,0.4000,0.5000,0.0000,0.9000,0.4000,0.3000,0.5000,0.4000,0.7000,0.7000
rpl_themes,0.9748,0.9438,0.9874,0.9994,0.9507,0.9839,0.9983,0.9989,0.9174,0.9954,0.9771,0.9220,0.9994,0.9948,0.9989,0.7861,0.8739,0.5333,0.8240,0.8561,0.9077,0.7861,0.3624,0.9197,0.9077,0.7987,0.6233,0.5333,0.5642,0.5642
borough,MANHATTAN,BROOKLYN,BRONX,BRONX,BRONX,BROOKLYN,BRONX,BRONX,BROOKLYN,BRONX,MANHATTAN,BROOKLYN,BRONX,BROOKLYN,BRONX,STATEN ISLAND,STATEN ISLAND,STATEN ISLAND,QUEENS,QUEENS,QUEENS,STATEN ISLAND,STATEN ISLAND,BROOKLYN,QUEENS,QUEENS,BROOKLYN,STATEN ISLAND,STATEN ISLAND,STATEN ISLAND
quartile,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1
bh_pct,87.4000,82.4000,93.6000,94.5000,81.7000,88.7000,93.8000,96.2000,59.1000,91.5000,78.5000,78.1000,94.5000,89.6000,96.2000,18.5000,19.2000,13.6000,18.0000,15.1000,32.4000,18.5000,10.7000,25.3000,32.4000,12.7000,22.4000,13.6000,10.1000,10.1000
black+hispanic,32.7000,15.7000,78.0000,56.3000,29.5000,32.8000,69.2000,65.3000,7.5000,65.0000,65.7000,14.9000,56.3000,19.5000,65.3000,15.2000,16.2000,12.8000,16.4000,15.0000,21.2000,15.2000,10.7000,16.4000,21.2000,12.4000,11.0000,12.8000,9.6000,9.6000

In [ ]:
selected_nta['new_nta'] = "(" + selected_nta['average_year_eviction_count_per_nta(nta)'].astype(str) + ") " + selected_nta['nta']
selected_nta

,nta,average_year_eviction_count_per_nta(nta),ep_afam,ep_asian,ep_hisp,ep_nhpi,ep_white,ep_twomore,ep_otherrace,rpl_themes,borough,quartile,bh_pct,black+hispanic,new_nta
27,Central Harlem North-Polo Grounds,326.4000,54.7000,1.9000,32.7000,0.0000,6.7000,2.8000,1.1000,0.9748,MANHATTAN,Q4,87.4000,32.7000,(326.4) Central Harlem North-Polo Grounds
38,Crown Heights North,319.8000,66.7000,1.3000,15.7000,0.0000,11.9000,3.6000,0.2000,0.9438,BROOKLYN,Q4,82.4000,15.7000,(319.8) Crown Heights North
11,Bedford Park-Fordham North,306.0000,15.6000,2.3000,78.0000,0.0000,3.1000,0.5000,0.5000,0.9874,BRONX,Q4,93.6000,78.0000,(306.0) Bedford Park-Fordham North
44,East Concourse-Concourse Village,287.6000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX,Q4,94.5000,56.3000,(287.6) East Concourse-Concourse Village
178,Williamsbridge-Olinville,267.4000,52.2000,5.5000,29.5000,0.0000,8.8000,2.3000,1.0000,0.9507,BRONX,Q4,81.7000,29.5000,(267.4) Williamsbridge-Olinville
50,East New York,266.0000,55.9000,1.5000,32.8000,0.0000,5.3000,2.9000,1.6000,0.9839,BROOKLYN,Q4,88.7000,32.8000,(266.0) East New York
163,University Heights-Morris Heights,265.6000,24.6000,1.6000,69.2000,0.0000,2.0000,1.9000,0.7000,0.9983,BRONX,Q4,93.8000,69.2000,(265.6) University Heights-Morris Heights
108,Mount Hope,260.2000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX,Q4,96.2000,65.3000,(260.2) Mount Hope
59,Flatbush,246.2000,51.6000,5.8000,7.5000,0.0000,29.7000,4.3000,1.2000,0.9174,BROOKLYN,Q4,59.1000,7.5000,(246.20000000000002) Flatbush
52,East Tremont,219.8000,26.5000,1.4000,65.0000,0.0000,3.8000,1.9000,1.0000,0.9954,BRONX,Q4,91.5000,65.0000,(219.8) East Tremont
169,Washington Heights South,209.2000,12.8000,4.5000,65.7000,0.0000,14.6000,2.0000,0.4000,0.9771,MANHATTAN,Q4,78.5000,65.7000,(209.2) Washington Heights South
132,Prospect Lefferts Gardens-Wingate,204.2000,63.2000,3.2000,14.9000,0.0000,13.7000,4.1000,0.7000,0.9220,BROOKLYN,Q4,78.1000,14.9000,(204.2) Prospect Lefferts Gardens-Wingate
106,Morrisania-Melrose,202.0000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX,Q4,94.5000,56.3000,(202.0) Morrisania-Melrose
21,Brownsville,193.6000,70.1000,0.8000,19.5000,0.0000,3.5000,5.4000,0.6000,0.9948,BROOKLYN,Q4,89.6000,19.5000,(193.6) Brownsville
171,West Concourse,182.4000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX,Q4,96.2000,65.3000,(182.4) West Concourse
161,Todt Hill-Emerson Hill-Heartland Village-Light...,8.4000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND,Q1,18.5000,15.2000,(8.4) Todt Hill-Emerson Hill-Heartland Village...
112,New Dorp-Midland Beach,8.2000,3.0000,13.8000,16.2000,0.0000,63.2000,3.5000,0.4000,0.8739,STATEN ISLAND,Q1,19.2000,16.2000,(8.2) New Dorp-Midland Beach
73,Great Kills,8.2000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND,Q1,13.6000,12.8000,(8.2) Great Kills
118,Oakland Gardens,7.6000,1.6000,48.6000,16.4000,0.0000,30.2000,2.5000,0.3000,0.8240,QUEENS,Q1,18.0000,16.4000,(7.6000000000000005) Oakland Gardens
177,Whitestone,7.2000,0.3000,26.0000,14.8000,0.2000,56.1000,1.9000,0.5000,0.8561,QUEENS,Q1,15.1000,15.0000,(7.199999999999999) Whitestone
4,Auburndale,7.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS,Q1,32.4000,21.2000,(7.199999999999999) Auburndale
176,Westerleigh,6.8000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND,Q1,18.5000,15.2000,(6.8) Westerleigh
29,Charleston-Richmond Valley-Tottenville,6.2000,0.1000,2.1000,10.6000,0.1000,86.0000,1.2000,0.0000,0.3624,STATEN ISLAND,Q1,10.7000,10.7000,(6.2) Charleston-Richmond Valley-Tottenville
180,Windsor Terrace,6.2000,8.9000,17.8000,16.4000,0.0000,51.5000,4.6000,0.9000,0.9197,BROOKLYN,Q1,25.3000,16.4000,(6.2) Windsor Terrace
134,Queensboro Hill,6.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS,Q1,32.4000,21.2000,(6.2) Queensboro Hill
42,Douglas Manor-Douglaston-Little Neck,5.0000,0.3000,30.9000,12.4000,0.0000,51.3000,3.8000,0.3000,0.7987,QUEENS,Q1,12.7000,12.4000,(5.0) Douglas Manor-Douglaston-Little Neck
20,Brooklyn Heights-Cobble Hill,4.8000,11.4000,14.2000,11.0000,0.0000,57.5000,5.3000,0.5000,0.6233,BROOKLYN,Q1,22.4000,11.0000,(4.8) Brooklyn Heights-Cobble Hill
2,Arden Heights,3.4000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND,Q1,13.6000,12.8000,(3.4) Arden Heights
1,Annadale-Huguenot-Prince's Bay-Eltingville,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,Q1,10.1000,9.6000,(3.4) Annadale-Huguenot-Prince's Bay-Eltingville
140,Rossville-Woodrow,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,Q1,10.1000,9.6000,(3.4) Rossville-Woodrow

In [ ]:
boro_map = {
    'MANHATTAN': 'M',
    'BRONX': 'Br',
    'BROOKLYN': 'Bk',
    'QUEENS': 'Q',
    'STATEN ISLAND': 'S'
}

In [ ]:
selected_nta['new_boro'] = selected_nta['borough'].map(boro_map)
selected_nta

,nta,average_year_eviction_count_per_nta(nta),ep_afam,ep_asian,ep_hisp,ep_nhpi,ep_white,ep_twomore,ep_otherrace,rpl_themes,borough,quartile,bh_pct,black+hispanic,new_nta,new_boro
27,Central Harlem North-Polo Grounds,326.4000,54.7000,1.9000,32.7000,0.0000,6.7000,2.8000,1.1000,0.9748,MANHATTAN,Q4,87.4000,32.7000,(326.4) Central Harlem North-Polo Grounds,M
38,Crown Heights North,319.8000,66.7000,1.3000,15.7000,0.0000,11.9000,3.6000,0.2000,0.9438,BROOKLYN,Q4,82.4000,15.7000,(319.8) Crown Heights North,Bk
11,Bedford Park-Fordham North,306.0000,15.6000,2.3000,78.0000,0.0000,3.1000,0.5000,0.5000,0.9874,BRONX,Q4,93.6000,78.0000,(306.0) Bedford Park-Fordham North,Br
44,East Concourse-Concourse Village,287.6000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX,Q4,94.5000,56.3000,(287.6) East Concourse-Concourse Village,Br
178,Williamsbridge-Olinville,267.4000,52.2000,5.5000,29.5000,0.0000,8.8000,2.3000,1.0000,0.9507,BRONX,Q4,81.7000,29.5000,(267.4) Williamsbridge-Olinville,Br
50,East New York,266.0000,55.9000,1.5000,32.8000,0.0000,5.3000,2.9000,1.6000,0.9839,BROOKLYN,Q4,88.7000,32.8000,(266.0) East New York,Bk
163,University Heights-Morris Heights,265.6000,24.6000,1.6000,69.2000,0.0000,2.0000,1.9000,0.7000,0.9983,BRONX,Q4,93.8000,69.2000,(265.6) University Heights-Morris Heights,Br
108,Mount Hope,260.2000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX,Q4,96.2000,65.3000,(260.2) Mount Hope,Br
59,Flatbush,246.2000,51.6000,5.8000,7.5000,0.0000,29.7000,4.3000,1.2000,0.9174,BROOKLYN,Q4,59.1000,7.5000,(246.20000000000002) Flatbush,Bk
52,East Tremont,219.8000,26.5000,1.4000,65.0000,0.0000,3.8000,1.9000,1.0000,0.9954,BRONX,Q4,91.5000,65.0000,(219.8) East Tremont,Br
169,Washington Heights South,209.2000,12.8000,4.5000,65.7000,0.0000,14.6000,2.0000,0.4000,0.9771,MANHATTAN,Q4,78.5000,65.7000,(209.2) Washington Heights South,M
132,Prospect Lefferts Gardens-Wingate,204.2000,63.2000,3.2000,14.9000,0.0000,13.7000,4.1000,0.7000,0.9220,BROOKLYN,Q4,78.1000,14.9000,(204.2) Prospect Lefferts Gardens-Wingate,Bk
106,Morrisania-Melrose,202.0000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX,Q4,94.5000,56.3000,(202.0) Morrisania-Melrose,Br
21,Brownsville,193.6000,70.1000,0.8000,19.5000,0.0000,3.5000,5.4000,0.6000,0.9948,BROOKLYN,Q4,89.6000,19.5000,(193.6) Brownsville,Bk
171,West Concourse,182.4000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX,Q4,96.2000,65.3000,(182.4) West Concourse,Br
161,Todt Hill-Emerson Hill-Heartland Village-Light...,8.4000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND,Q1,18.5000,15.2000,(8.4) Todt Hill-Emerson Hill-Heartland Village...,S
112,New Dorp-Midland Beach,8.2000,3.0000,13.8000,16.2000,0.0000,63.2000,3.5000,0.4000,0.8739,STATEN ISLAND,Q1,19.2000,16.2000,(8.2) New Dorp-Midland Beach,S
73,Great Kills,8.2000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND,Q1,13.6000,12.8000,(8.2) Great Kills,S
118,Oakland Gardens,7.6000,1.6000,48.6000,16.4000,0.0000,30.2000,2.5000,0.3000,0.8240,QUEENS,Q1,18.0000,16.4000,(7.6000000000000005) Oakland Gardens,Q
177,Whitestone,7.2000,0.3000,26.0000,14.8000,0.2000,56.1000,1.9000,0.5000,0.8561,QUEENS,Q1,15.1000,15.0000,(7.199999999999999) Whitestone,Q
4,Auburndale,7.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS,Q1,32.4000,21.2000,(7.199999999999999) Auburndale,Q
176,Westerleigh,6.8000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND,Q1,18.5000,15.2000,(6.8) Westerleigh,S
29,Charleston-Richmond Valley-Tottenville,6.2000,0.1000,2.1000,10.6000,0.1000,86.0000,1.2000,0.0000,0.3624,STATEN ISLAND,Q1,10.7000,10.7000,(6.2) Charleston-Richmond Valley-Tottenville,S
180,Windsor Terrace,6.2000,8.9000,17.8000,16.4000,0.0000,51.5000,4.6000,0.9000,0.9197,BROOKLYN,Q1,25.3000,16.4000,(6.2) Windsor Terrace,Bk
134,Queensboro Hill,6.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS,Q1,32.4000,21.2000,(6.2) Queensboro Hill,Q
42,Douglas Manor-Douglaston-Little Neck,5.0000,0.3000,30.9000,12.4000,0.0000,51.3000,3.8000,0.3000,0.7987,QUEENS,Q1,12.7000,12.4000,(5.0) Douglas Manor-Douglaston-Little Neck,Q
20,Brooklyn Heights-Cobble Hill,4.8000,11.4000,14.2000,11.0000,0.0000,57.5000,5.3000,0.5000,0.6233,BROOKLYN,Q1,22.4000,11.0000,(4.8) Brooklyn Heights-Cobble Hill,Bk
2,Arden Heights,3.4000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND,Q1,13.6000,12.8000,(3.4) Arden Heights,S
1,Annadale-Huguenot-Prince's Bay-Eltingville,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,Q1,10.1000,9.6000,(3.4) Annadale-Huguenot-Prince's Bay-Eltingville,S
140,Rossville-Woodrow,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,Q1,10.1000,9.6000,(3.4) Rossville-Woodrow,S

In [ ]:
selected_nta.T

,27,38,11,44,178,50,163,108,59,52,169,132,106,21,171,161,112,73,118,177,4,176,29,180,134,42,20,2,1,140
nta,Central Harlem North-Polo Grounds,Crown Heights North,Bedford Park-Fordham North,East Concourse-Concourse Village,Williamsbridge-Olinville,East New York,University Heights-Morris Heights,Mount Hope,Flatbush,East Tremont,Washington Heights South,Prospect Lefferts Gardens-Wingate,Morrisania-Melrose,Brownsville,West Concourse,Todt Hill-Emerson Hill-Heartland Village-Light...,New Dorp-Midland Beach,Great Kills,Oakland Gardens,Whitestone,Auburndale,Westerleigh,Charleston-Richmond Valley-Tottenville,Windsor Terrace,Queensboro Hill,Douglas Manor-Douglaston-Little Neck,Brooklyn Heights-Cobble Hill,Arden Heights,Annadale-Huguenot-Prince's Bay-Eltingville,Rossville-Woodrow
average_year_eviction_count_per_nta(nta),326.4000,319.8000,306.0000,287.6000,267.4000,266.0000,265.6000,260.2000,246.2000,219.8000,209.2000,204.2000,202.0000,193.6000,182.4000,8.4000,8.2000,8.2000,7.6000,7.2000,7.2000,6.8000,6.2000,6.2000,6.2000,5.0000,4.8000,3.4000,3.4000,3.4000
ep_afam,54.7000,66.7000,15.6000,38.2000,52.2000,55.9000,24.6000,30.9000,51.6000,26.5000,12.8000,63.2000,38.2000,70.1000,30.9000,3.3000,3.0000,0.8000,1.6000,0.3000,11.2000,3.3000,0.1000,8.9000,11.2000,0.3000,11.4000,0.8000,0.5000,0.5000
ep_asian,1.9000,1.3000,2.3000,0.7000,5.5000,1.5000,1.6000,0.4000,5.8000,1.4000,4.5000,3.2000,0.7000,0.8000,0.4000,18.0000,13.8000,8.7000,48.6000,26.0000,43.0000,18.0000,2.1000,17.8000,43.0000,30.9000,14.2000,8.7000,4.1000,4.1000
ep_hisp,32.7000,15.7000,78.0000,56.3000,29.5000,32.8000,69.2000,65.3000,7.5000,65.0000,65.7000,14.9000,56.3000,19.5000,65.3000,15.2000,16.2000,12.8000,16.4000,14.8000,21.2000,15.2000,10.6000,16.4000,21.2000,12.4000,11.0000,12.8000,9.6000,9.6000
ep_nhpi,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.2000,0.0000,0.0000,0.1000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
ep_white,6.7000,11.9000,3.1000,2.4000,8.8000,5.3000,2.0000,1.7000,29.7000,3.8000,14.6000,13.7000,2.4000,3.5000,1.7000,60.3000,63.2000,76.1000,30.2000,56.1000,22.2000,60.3000,86.0000,51.5000,22.2000,51.3000,57.5000,76.1000,83.5000,83.5000
ep_twomore,2.8000,3.6000,0.5000,1.8000,2.3000,2.9000,1.9000,1.1000,4.3000,1.9000,2.0000,4.1000,1.8000,5.4000,1.1000,2.4000,3.5000,1.2000,2.5000,1.9000,1.9000,2.4000,1.2000,4.6000,1.9000,3.8000,5.3000,1.2000,1.5000,1.5000
ep_otherrace,1.1000,0.2000,0.5000,0.4000,1.0000,1.6000,0.7000,0.4000,1.2000,1.0000,0.4000,0.7000,0.4000,0.6000,0.4000,0.5000,0.4000,0.4000,0.3000,0.5000,0.4000,0.5000,0.0000,0.9000,0.4000,0.3000,0.5000,0.4000,0.7000,0.7000
rpl_themes,0.9748,0.9438,0.9874,0.9994,0.9507,0.9839,0.9983,0.9989,0.9174,0.9954,0.9771,0.9220,0.9994,0.9948,0.9989,0.7861,0.8739,0.5333,0.8240,0.8561,0.9077,0.7861,0.3624,0.9197,0.9077,0.7987,0.6233,0.5333,0.5642,0.5642
borough,MANHATTAN,BROOKLYN,BRONX,BRONX,BRONX,BROOKLYN,BRONX,BRONX,BROOKLYN,BRONX,MANHATTAN,BROOKLYN,BRONX,BROOKLYN,BRONX,STATEN ISLAND,STATEN ISLAND,STATEN ISLAND,QUEENS,QUEENS,QUEENS,STATEN ISLAND,STATEN ISLAND,BROOKLYN,QUEENS,QUEENS,BROOKLYN,STATEN ISLAND,STATEN ISLAND,STATEN ISLAND
quartile,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1
bh_pct,87.4000,82.4000,93.6000,94.5000,81.7000,88.7000,93.8000,96.2000,59.1000,91.5000,78.5000,78.1000,94.5000,89.6000,96.2000,18.5000,19.2000,13.6000,18.0000,15.1000,32.4000,18.5000,10.7000,25.3000,32.4000,12.7000,22.4000,13.6000,10.1000,10.1000
black+hispanic,32.7000,15.7000,78.0000,56.3000,29.5000,32.8000,69.2000,65.3000,7.5000,65.0000,65.7000,14.9000,56.3000,19.5000,65.3000,15.2000,16.2000,12.8000,16.4000,15.0000,21.2000,15.2000,10.7000,16.4000,21.2000,12.4000,11.0000,12.8000,9.6000,9.6000
new_nta,(326.4) Central Harlem North-Polo Grounds,(319.8) Crown Heights North,(306.0) Bedford Park-Fordham North,(287.6) East Concourse-Concourse Village,(267.4) Williamsbridge-Olinville,(266.0) East New York,(265.6) University Heights-Morris Heights,(260.2) Mount Hope,(246.20000000000002) Flatbush,(219.8) East Tremont,(209.2) Washington Heights South,(204.2) Prospect Lefferts Gardens-Wingate,(202.0) Morrisania-Melrose,(193.6) Brownsville,(182.4) West Concourse,(8.4) Todt Hill-Emerson Hill-Heartland Village...,(8.2) New Dorp-Midland Beach,(8.2) Great Kills,(7.6000000000000005) Oakland Gardens,(7.199999999999999) Whitestone,(7.199999999999999) Auburndale,(6.8) Westerleigh,(6.2) Charleston-Richmond Valley-Tottenville,(6.2) Windsor Terrace,(6.2) Queensboro Hill,(5.0) Douglas Manor-Douglaston-Little Neck,(4.8) Brooklyn Heights-Cobble Hill,(3.4) Arden Heights,(3.4) Annadale-Huguenot-Prince's Bay-Eltingville,(3.4) Rossville-Woodrow
new_boro,M,Bk,Br,Br,Br,Bk,Br,Br,Bk,Br,M,Bk,Br,Bk,Br,S,S,S,Q,Q,Q,S,S,Bk,Q,Q,Bk,S,S,S

In [ ]:
selected_nta.nta

27              Central Harlem North-Polo Grounds
38                            Crown Heights North
11                     Bedford Park-Fordham North
44               East Concourse-Concourse Village
178                      Williamsbridge-Olinville
50                                  East New York
163             University Heights-Morris Heights
108                                    Mount Hope
59                                       Flatbush
52                                   East Tremont
169                      Washington Heights South
132             Prospect Lefferts Gardens-Wingate
106                            Morrisania-Melrose
21                                    Brownsville
171                                West Concourse
112                        New Dorp-Midland Beach
73                                    Great Kills
118                               Oakland Gardens
177                                    Whitestone
4                                      Auburndale
176                                   Westerleigh
29         Charleston-Richmond Valley-Tottenville
180                               Windsor Terrace
134                               Queensboro Hill
42           Douglas Manor-Douglaston-Little Neck
20                   Brooklyn Heights-Cobble Hill
2                                   Arden Heights
1      Annadale-Huguenot-Prince's Bay-Eltingville
68            Glen Oaks-Floral Park-New Hyde Park
140                             Rossville-Woodrow
Name: nta, dtype: object

In [ ]:
selected_nta_excel = selected_nta[['nta', 'average_year_eviction_count_per_nta(nta)', 'black+hispanic', 'rpl_themes', 'borough']]
selected_nta_excel

,nta,average_year_eviction_count_per_nta(nta),black+hispanic,rpl_themes,borough
27,Central Harlem North-Polo Grounds,326.4000,32.7000,0.9748,MANHATTAN
38,Crown Heights North,319.8000,15.7000,0.9438,BROOKLYN
11,Bedford Park-Fordham North,306.0000,78.0000,0.9874,BRONX
44,East Concourse-Concourse Village,287.6000,56.3000,0.9994,BRONX
178,Williamsbridge-Olinville,267.4000,29.5000,0.9507,BRONX
50,East New York,266.0000,32.8000,0.9839,BROOKLYN
163,University Heights-Morris Heights,265.6000,69.2000,0.9983,BRONX
108,Mount Hope,260.2000,65.3000,0.9989,BRONX
59,Flatbush,246.2000,7.5000,0.9174,BROOKLYN
52,East Tremont,219.8000,65.0000,0.9954,BRONX
169,Washington Heights South,209.2000,65.7000,0.9771,MANHATTAN
132,Prospect Lefferts Gardens-Wingate,204.2000,14.9000,0.9220,BROOKLYN
106,Morrisania-Melrose,202.0000,56.3000,0.9994,BRONX
21,Brownsville,193.6000,19.5000,0.9948,BROOKLYN
171,West Concourse,182.4000,65.3000,0.9989,BRONX
112,New Dorp-Midland Beach,8.2000,16.2000,0.8739,STATEN ISLAND
73,Great Kills,8.2000,12.8000,0.5333,STATEN ISLAND
118,Oakland Gardens,7.6000,16.4000,0.8240,QUEENS
177,Whitestone,7.2000,15.0000,0.8561,QUEENS
4,Auburndale,7.2000,21.2000,0.9077,QUEENS
176,Westerleigh,6.8000,15.2000,0.7861,STATEN ISLAND
29,Charleston-Richmond Valley-Tottenville,6.2000,10.7000,0.3624,STATEN ISLAND
180,Windsor Terrace,6.2000,16.4000,0.9197,BROOKLYN
134,Queensboro Hill,6.2000,21.2000,0.9077,QUEENS
42,Douglas Manor-Douglaston-Little Neck,5.0000,12.4000,0.7987,QUEENS
20,Brooklyn Heights-Cobble Hill,4.8000,11.0000,0.6233,BROOKLYN
2,Arden Heights,3.4000,12.8000,0.5333,STATEN ISLAND
1,Annadale-Huguenot-Prince's Bay-Eltingville,3.4000,9.6000,0.5642,STATEN ISLAND
68,Glen Oaks-Floral Park-New Hyde Park,3.4000,18.0000,0.7093,QUEENS
140,Rossville-Woodrow,3.4000,9.6000,0.5642,STATEN ISLAND

In [ ]:
selected_nta_excel.shape

(30, 5)

groups, group that has evictions over 100-200, and then we have the group of nta and then we would have the
mean of svi of those nta (and therefore the quartile). for each grouped nta, we get the svi as bar and whisker.
outlier of each group, and see the trends of bars going up when the avergae evictions go over (as x-axis grows)
EXCEL.

do the columns and then just use one type(bar and whiskers).

In [ ]:
selected_nta_excel.T

,27,38,11,44,178,50,163,108,59,52,169,132,106,21,171,112,73,118,177,4,176,29,180,134,42,20,2,1,68,140
nta,Central Harlem North-Polo Grounds,Crown Heights North,Bedford Park-Fordham North,East Concourse-Concourse Village,Williamsbridge-Olinville,East New York,University Heights-Morris Heights,Mount Hope,Flatbush,East Tremont,Washington Heights South,Prospect Lefferts Gardens-Wingate,Morrisania-Melrose,Brownsville,West Concourse,New Dorp-Midland Beach,Great Kills,Oakland Gardens,Whitestone,Auburndale,Westerleigh,Charleston-Richmond Valley-Tottenville,Windsor Terrace,Queensboro Hill,Douglas Manor-Douglaston-Little Neck,Brooklyn Heights-Cobble Hill,Arden Heights,Annadale-Huguenot-Prince's Bay-Eltingville,Glen Oaks-Floral Park-New Hyde Park,Rossville-Woodrow
average_year_eviction_count_per_nta(nta),326.4000,319.8000,306.0000,287.6000,267.4000,266.0000,265.6000,260.2000,246.2000,219.8000,209.2000,204.2000,202.0000,193.6000,182.4000,8.2000,8.2000,7.6000,7.2000,7.2000,6.8000,6.2000,6.2000,6.2000,5.0000,4.8000,3.4000,3.4000,3.4000,3.4000
black+hispanic,32.7000,15.7000,78.0000,56.3000,29.5000,32.8000,69.2000,65.3000,7.5000,65.0000,65.7000,14.9000,56.3000,19.5000,65.3000,16.2000,12.8000,16.4000,15.0000,21.2000,15.2000,10.7000,16.4000,21.2000,12.4000,11.0000,12.8000,9.6000,18.0000,9.6000
rpl_themes,0.9748,0.9438,0.9874,0.9994,0.9507,0.9839,0.9983,0.9989,0.9174,0.9954,0.9771,0.9220,0.9994,0.9948,0.9989,0.8739,0.5333,0.8240,0.8561,0.9077,0.7861,0.3624,0.9197,0.9077,0.7987,0.6233,0.5333,0.5642,0.7093,0.5642
borough,MANHATTAN,BROOKLYN,BRONX,BRONX,BRONX,BROOKLYN,BRONX,BRONX,BROOKLYN,BRONX,MANHATTAN,BROOKLYN,BRONX,BROOKLYN,BRONX,STATEN ISLAND,STATEN ISLAND,QUEENS,QUEENS,QUEENS,STATEN ISLAND,STATEN ISLAND,BROOKLYN,QUEENS,QUEENS,BROOKLYN,STATEN ISLAND,STATEN ISLAND,QUEENS,STATEN ISLAND

In [ ]:
top_15.nta

27     Central Harlem North-Polo Grounds
38                   Crown Heights North
11            Bedford Park-Fordham North
44      East Concourse-Concourse Village
178             Williamsbridge-Olinville
50                         East New York
163    University Heights-Morris Heights
108                           Mount Hope
59                              Flatbush
52                          East Tremont
169             Washington Heights South
132    Prospect Lefferts Gardens-Wingate
106                   Morrisania-Melrose
21                           Brownsville
171                       West Concourse
Name: nta, dtype: object

In [ ]:
bottom_17.nta

112                        New Dorp-Midland Beach
73                                    Great Kills
185                       park-cemetery-etc-Bronx
118                               Oakland Gardens
177                                    Whitestone
4                                      Auburndale
176                                   Westerleigh
29         Charleston-Richmond Valley-Tottenville
180                               Windsor Terrace
134                               Queensboro Hill
42           Douglas Manor-Douglaston-Little Neck
20                   Brooklyn Heights-Cobble Hill
2                                   Arden Heights
1      Annadale-Huguenot-Prince's Bay-Eltingville
68            Glen Oaks-Floral Park-New Hyde Park
140                             Rossville-Woodrow
186                    park-cemetery-etc-Brooklyn
Name: nta, dtype: object

In [ ]:
selected_nta.reset_index()

,index,nta,average_year_eviction_count_per_nta(nta),ep_afam,ep_asian,ep_hisp,ep_nhpi,ep_white,ep_twomore,ep_otherrace,rpl_themes,borough,black+hispanic
0,27,Central Harlem North-Polo Grounds,326.4000,54.7000,1.9000,32.7000,0.0000,6.7000,2.8000,1.1000,0.9748,MANHATTAN,32.7000
1,38,Crown Heights North,319.8000,66.7000,1.3000,15.7000,0.0000,11.9000,3.6000,0.2000,0.9438,BROOKLYN,15.7000
2,11,Bedford Park-Fordham North,306.0000,15.6000,2.3000,78.0000,0.0000,3.1000,0.5000,0.5000,0.9874,BRONX,78.0000
3,44,East Concourse-Concourse Village,287.6000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX,56.3000
4,178,Williamsbridge-Olinville,267.4000,52.2000,5.5000,29.5000,0.0000,8.8000,2.3000,1.0000,0.9507,BRONX,29.5000
5,50,East New York,266.0000,55.9000,1.5000,32.8000,0.0000,5.3000,2.9000,1.6000,0.9839,BROOKLYN,32.8000
6,163,University Heights-Morris Heights,265.6000,24.6000,1.6000,69.2000,0.0000,2.0000,1.9000,0.7000,0.9983,BRONX,69.2000
7,108,Mount Hope,260.2000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX,65.3000
8,59,Flatbush,246.2000,51.6000,5.8000,7.5000,0.0000,29.7000,4.3000,1.2000,0.9174,BROOKLYN,7.5000
9,52,East Tremont,219.8000,26.5000,1.4000,65.0000,0.0000,3.8000,1.9000,1.0000,0.9954,BRONX,65.0000
10,169,Washington Heights South,209.2000,12.8000,4.5000,65.7000,0.0000,14.6000,2.0000,0.4000,0.9771,MANHATTAN,65.7000
11,132,Prospect Lefferts Gardens-Wingate,204.2000,63.2000,3.2000,14.9000,0.0000,13.7000,4.1000,0.7000,0.9220,BROOKLYN,14.9000
12,106,Morrisania-Melrose,202.0000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX,56.3000
13,21,Brownsville,193.6000,70.1000,0.8000,19.5000,0.0000,3.5000,5.4000,0.6000,0.9948,BROOKLYN,19.5000
14,171,West Concourse,182.4000,30.9000,0.4000,65.3000,0.0000,1.7000,1.1000,0.4000,0.9989,BRONX,65.3000
15,112,New Dorp-Midland Beach,8.2000,3.0000,13.8000,16.2000,0.0000,63.2000,3.5000,0.4000,0.8739,STATEN ISLAND,16.2000
16,73,Great Kills,8.2000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND,12.8000
17,118,Oakland Gardens,7.6000,1.6000,48.6000,16.4000,0.0000,30.2000,2.5000,0.3000,0.8240,QUEENS,16.4000
18,177,Whitestone,7.2000,0.3000,26.0000,14.8000,0.2000,56.1000,1.9000,0.5000,0.8561,QUEENS,15.0000
19,4,Auburndale,7.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS,21.2000
20,176,Westerleigh,6.8000,3.3000,18.0000,15.2000,0.0000,60.3000,2.4000,0.5000,0.7861,STATEN ISLAND,15.2000
21,29,Charleston-Richmond Valley-Tottenville,6.2000,0.1000,2.1000,10.6000,0.1000,86.0000,1.2000,0.0000,0.3624,STATEN ISLAND,10.7000
22,180,Windsor Terrace,6.2000,8.9000,17.8000,16.4000,0.0000,51.5000,4.6000,0.9000,0.9197,BROOKLYN,16.4000
23,134,Queensboro Hill,6.2000,11.2000,43.0000,21.2000,0.0000,22.2000,1.9000,0.4000,0.9077,QUEENS,21.2000
24,42,Douglas Manor-Douglaston-Little Neck,5.0000,0.3000,30.9000,12.4000,0.0000,51.3000,3.8000,0.3000,0.7987,QUEENS,12.4000
25,20,Brooklyn Heights-Cobble Hill,4.8000,11.4000,14.2000,11.0000,0.0000,57.5000,5.3000,0.5000,0.6233,BROOKLYN,11.0000
26,2,Arden Heights,3.4000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND,12.8000
27,1,Annadale-Huguenot-Prince's Bay-Eltingville,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,9.6000
28,68,Glen Oaks-Floral Park-New Hyde Park,3.4000,5.7000,46.8000,18.0000,0.0000,23.0000,4.1000,2.4000,0.7093,QUEENS,18.0000
29,140,Rossville-Woodrow,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,9.6000

In [ ]:
selected_nta_excel

,nta,average_year_eviction_count_per_nta(nta),black+hispanic,rpl_themes,borough
27,Central Harlem North-Polo Grounds,326.4000,32.7000,0.9748,MANHATTAN
38,Crown Heights North,319.8000,15.7000,0.9438,BROOKLYN
11,Bedford Park-Fordham North,306.0000,78.0000,0.9874,BRONX
44,East Concourse-Concourse Village,287.6000,56.3000,0.9994,BRONX
178,Williamsbridge-Olinville,267.4000,29.5000,0.9507,BRONX
50,East New York,266.0000,32.8000,0.9839,BROOKLYN
163,University Heights-Morris Heights,265.6000,69.2000,0.9983,BRONX
108,Mount Hope,260.2000,65.3000,0.9989,BRONX
59,Flatbush,246.2000,7.5000,0.9174,BROOKLYN
52,East Tremont,219.8000,65.0000,0.9954,BRONX
169,Washington Heights South,209.2000,65.7000,0.9771,MANHATTAN
132,Prospect Lefferts Gardens-Wingate,204.2000,14.9000,0.9220,BROOKLYN
106,Morrisania-Melrose,202.0000,56.3000,0.9994,BRONX
21,Brownsville,193.6000,19.5000,0.9948,BROOKLYN
171,West Concourse,182.4000,65.3000,0.9989,BRONX
112,New Dorp-Midland Beach,8.2000,16.2000,0.8739,STATEN ISLAND
73,Great Kills,8.2000,12.8000,0.5333,STATEN ISLAND
118,Oakland Gardens,7.6000,16.4000,0.8240,QUEENS
177,Whitestone,7.2000,15.0000,0.8561,QUEENS
4,Auburndale,7.2000,21.2000,0.9077,QUEENS
176,Westerleigh,6.8000,15.2000,0.7861,STATEN ISLAND
29,Charleston-Richmond Valley-Tottenville,6.2000,10.7000,0.3624,STATEN ISLAND
180,Windsor Terrace,6.2000,16.4000,0.9197,BROOKLYN
134,Queensboro Hill,6.2000,21.2000,0.9077,QUEENS
42,Douglas Manor-Douglaston-Little Neck,5.0000,12.4000,0.7987,QUEENS
20,Brooklyn Heights-Cobble Hill,4.8000,11.0000,0.6233,BROOKLYN
2,Arden Heights,3.4000,12.8000,0.5333,STATEN ISLAND
1,Annadale-Huguenot-Prince's Bay-Eltingville,3.4000,9.6000,0.5642,STATEN ISLAND
68,Glen Oaks-Floral Park-New Hyde Park,3.4000,18.0000,0.7093,QUEENS
140,Rossville-Woodrow,3.4000,9.6000,0.5642,STATEN ISLAND

# **Group by eviction counts and get their average svi and svi**

In [ ]:
selected_nta['average_year_eviction_count_per_nta(nta)'].describe()

count    30.0000
mean    128.1200
std     128.6157
min       3.4000
25%       6.2000
50%      95.3000
75%     256.7000
max     326.4000
Name: average_year_eviction_count_per_nta(nta), dtype: float64

In [ ]:
neighbor_evictions['average_year_eviction_count_per_nta(nta)'].describe()

count   187.0000
mean     71.0128
std      70.0048
min       0.2000
25%      22.6000
50%      44.8000
75%     100.9000
max     326.4000
Name: average_year_eviction_count_per_nta(nta), dtype: float64

In [ ]:
first_quartile = neighbor_evictions['average_year_eviction_count_per_nta(nta)'].quantile(0.25)
second_quartile = neighbor_evictions['average_year_eviction_count_per_nta(nta)'].quantile(0.50)
third_quartile = neighbor_evictions['average_year_eviction_count_per_nta(nta)'].quantile(0.75)
fourth_quartile = neighbor_evictions['average_year_eviction_count_per_nta(nta)'].quantile(1)

In [ ]:
# need to add a new column to the raw dataframe to classify each row (nta)

neighbor_evictions['quartile'] = None

In [ ]:
neighbor_evictions.loc[neighbor_evictions['average_year_eviction_count_per_nta(nta)'] <= first_quartile, 'quartile'] = 'Q1'
neighbor_evictions.loc[(neighbor_evictions['average_year_eviction_count_per_nta(nta)'] > first_quartile) & (neighbor_evictions['average_year_eviction_count_per_nta(nta)'] <= second_quartile), 'quartile'] = 'Q2'
neighbor_evictions.loc[(neighbor_evictions['average_year_eviction_count_per_nta(nta)'] > second_quartile) & (neighbor_evictions['average_year_eviction_count_per_nta(nta)'] <= third_quartile), 'quartile'] = 'Q3'
neighbor_evictions.loc[neighbor_evictions['average_year_eviction_count_per_nta(nta)'] > third_quartile, 'quartile'] = 'Q4'

In [ ]:
neighbor_evictions.head()

,nta,average_year_eviction_count_per_nta(nta),ep_afam,ep_asian,ep_hisp,ep_nhpi,ep_white,ep_twomore,ep_otherrace,rpl_themes,borough,quartile
27,Central Harlem North-Polo Grounds,326.4000,54.7000,1.9000,32.7000,0.0000,6.7000,2.8000,1.1000,0.9748,MANHATTAN,Q4
38,Crown Heights North,319.8000,66.7000,1.3000,15.7000,0.0000,11.9000,3.6000,0.2000,0.9438,BROOKLYN,Q4
11,Bedford Park-Fordham North,306.0000,15.6000,2.3000,78.0000,0.0000,3.1000,0.5000,0.5000,0.9874,BRONX,Q4
44,East Concourse-Concourse Village,287.6000,38.2000,0.7000,56.3000,0.0000,2.4000,1.8000,0.4000,0.9994,BRONX,Q4
178,Williamsbridge-Olinville,267.4000,52.2000,5.5000,29.5000,0.0000,8.8000,2.3000,1.0000,0.9507,BRONX,Q4

In [ ]:
neighbor_evictions.tail()

,nta,average_year_eviction_count_per_nta(nta),ep_afam,ep_asian,ep_hisp,ep_nhpi,ep_white,ep_twomore,ep_otherrace,rpl_themes,borough,quartile,bh_pct
2,Arden Heights,3.4000,0.8000,8.7000,12.8000,0.0000,76.1000,1.2000,0.4000,0.5333,STATEN ISLAND,Q1,13.6000
1,Annadale-Huguenot-Prince's Bay-Eltingville,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,Q1,10.1000
68,Glen Oaks-Floral Park-New Hyde Park,3.4000,5.7000,46.8000,18.0000,0.0000,23.0000,4.1000,2.4000,0.7093,QUEENS,Q1,23.7000
140,Rossville-Woodrow,3.4000,0.5000,4.1000,9.6000,0.0000,83.5000,1.5000,0.7000,0.5642,STATEN ISLAND,Q1,10.1000
186,park-cemetery-etc-Brooklyn,0.2000,21.1000,7.5000,14.1000,0.0000,52.1000,4.1000,0.9000,0.9427,BROOKLYN,Q1,35.2000

In [ ]:
neighbor_evictions['bh_pct'] = neighbor_evictions['ep_afam'] + neighbor_evictions['ep_hisp']

In [ ]:
box_whisker_df = neighbor_evictions[['nta', 'quartile', 'average_year_eviction_count_per_nta(nta)', 'bh_pct', 'rpl_themes']].copy()
box_whisker_df

,nta,quartile,average_year_eviction_count_per_nta(nta),bh_pct,rpl_themes
27,Central Harlem North-Polo Grounds,Q4,326.4000,87.4000,0.9748
38,Crown Heights North,Q4,319.8000,82.4000,0.9438
11,Bedford Park-Fordham North,Q4,306.0000,93.6000,0.9874
44,East Concourse-Concourse Village,Q4,287.6000,94.5000,0.9994
178,Williamsbridge-Olinville,Q4,267.4000,81.7000,0.9507
50,East New York,Q4,266.0000,88.7000,0.9839
163,University Heights-Morris Heights,Q4,265.6000,93.8000,0.9983
108,Mount Hope,Q4,260.2000,96.2000,0.9989
59,Flatbush,Q4,246.2000,59.1000,0.9174
52,East Tremont,Q4,219.8000,91.5000,0.9954
169,Washington Heights South,Q4,209.2000,78.5000,0.9771
132,Prospect Lefferts Gardens-Wingate,Q4,204.2000,78.1000,0.9220
106,Morrisania-Melrose,Q4,202.0000,94.5000,0.9994
21,Brownsville,Q4,193.6000,89.6000,0.9948
171,West Concourse,Q4,182.4000,96.2000,0.9989
166,Van Cortlandt Village,Q4,172.8000,93.6000,0.9874
141,Rugby-Remsen Village,Q4,170.4000,89.6000,0.9948
117,Norwood,Q4,169.4000,81.5000,0.9925
62,Fordham South,Q4,163.4000,93.6000,0.9874
107,Mott Haven-Port Morris,Q4,158.8000,95.2000,0.9971
19,Bronxdale,Q4,157.6000,81.5000,0.9925
77,Highbridge,Q4,157.6000,93.5000,0.9931
13,Belmont,Q4,156.8000,91.5000,0.9954
157,Stuyvesant Heights,Q4,155.6000,70.7000,0.9352
48,East Harlem North,Q4,155.2000,70.7000,0.9788
46,East Flatbush-Farragut,Q4,154.2000,59.1000,0.9174
168,Washington Heights North,Q4,152.0000,70.8000,0.9650
172,West Farms-Bronx River,Q4,146.6000,84.8000,0.9937
98,Marble Hill-Inwood,Q4,140.6000,74.7000,0.9541
23,Bushwick South,Q4,136.6000,70.7000,0.9352
120,Ocean Hill,Q4,134.6000,82.4000,0.9438
36,Corona,Q4,132.6000,83.3000,0.9633
76,Hamilton Heights,Q4,131.6000,74.5000,0.9323
101,Melrose South-Mott Haven North,Q4,131.4000,94.5000,0.9994
31,Claremont-Bathgate,Q4,125.6000,96.2000,0.9989
89,Kingsbridge Heights,Q4,123.6000,93.6000,0.9874
10,Bedford,Q4,117.4000,57.7000,0.8297
182,Woodlawn-Wakefield,Q4,113.8000,54.1000,0.9398
37,Crotona Park East,Q4,112.8000,91.5000,0.9954
51,East New York (Pennsylvania Ave),Q4,112.6000,88.7000,0.9839
146,Soundview-Bruckner,Q4,112.0000,84.8000,0.9937
58,Erasmus,Q4,109.8000,78.1000,0.9220
82,Hunts Point,Q4,106.0000,96.2000,0.9943
28,Central Harlem South,Q4,104.8000,67.4000,0.9123
94,Longwood,Q4,103.6000,96.2000,0.9943
83,Jackson Heights,Q4,102.6000,54.9000,0.9255
25,Canarsie,Q4,101.6000,88.7000,0.9117
49,East Harlem South,Q3,100.2000,70.7000,0.9788
84,Jamaica,Q3,93.0000,37.8000,0.9713
32,Clinton,Q3,91.2000,21.4000,0.7792
173,West New Brighton-New Brighton-St. George,Q3,89.6000,46.2000,0.9329
147,Soundview-Castle Hill-Clason Point-Harding Park,Q3,89.4000,93.1000,0.9868
39,Crown Heights South,Q3,84.4000,64.5000,0.8538
55,Eastchester-Edenwald-Baychester,Q3,84.0000,81.7000,0.9507
128,Pelham Parkway,Q3,83.6000,69.4000,0.9708
148,South Jamaica,Q3,82.8000,69.2000,0.9472
8,Bay Ridge,Q3,82.4000,42.6000,0.9662
175,Westchester-Unionport,Q3,81.8000,84.8000,0.9937
40,Cypress Hills-City Line,Q3,81.2000,84.8000,0.9581
81,Hunters Point-Sunnyside-West Maspeth,Q3,80.6000,29.8000,0.7798
165,Upper West Side,Q3,80.4000,32.9000,0.8607
61,Flushing,Q3,79.8000,18.5000,0.9495
143,Seagate-Coney Island,Q3,79.4000,39.6000,0.9920
95,Lower East Side,Q3,76.6000,34.0000,0.9656
60,Flatlands,Q3,73.0000,51.5000,0.8951
80,Hudson Yards-Chelsea-Flatiron-Union Square,Q3,71.4000,27.5000,0.7414
34,Co-op City,Q3,69.0000,90.6000,0.9799
56,Elmhurst,Q3,69.0000,83.3000,0.9633
3,Astoria,Q3,66.4000,33.7000,0.8882
104,Midwood,Q3,66.0000,20.0000,0.9702
22,Bushwick North,Q3,64.6000,70.7000,0.9352
149,South Ozone Park,Q3,63.2000,42.6000,0.8624
63,Forest Hills,Q3,62.8000,19.1000,0.7322
167,Van Nest-Morris Park-Westchester Square,Q3,62.8000,69.4000,0.9708
184,Yorkville,Q3,61.0000,8.9000,0.4209
75,Grymes Hill-Clifton-Fox Hills,Q3,60.6000,47.7000,0.9467
153,St. Albans,Q3,60.4000,89.7000,0.9564
138,Ridgewood,Q3,59.4000,47.6000,0.8819
152,Spuyten Duyvil-Kingsbridge,Q3,59.2000,64.4000,0.9862
137,Richmond Hill,Q3,58.2000,49.0000,0.9530
144,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,Q3,55.8000,11.5000,0.9524
91,Lenox Hill-Roosevelt Island,Q3,55.4000,9.9000,0.5889
150,Springfield Gardens North,Q3,53.6000,89.7000,0.9564
15,Bensonhurst West,Q3,53.6000,11.8000,0.9553
181,Woodhaven,Q3,53.4000,63.2000,0.9151
17,Briarwood-Jamaica Hills,Q3,50.8000,37.8000,0.9713
5,Baisley Park,Q3,49.8000,89.7000,0.9564
133,Queens Village,Q3,49.2000,42.5000,0.9358
99,Mariner's Harbor-Arlington-Port Ivory-Granitev...,Q3,47.4000,69.0000,0.9375
126,Parkchester,Q3,46.2000,69.4000,0.9708
127,Pelham Bay-Country Club-City Island,Q3,46.0000,57.4000,0.9690
14,Bensonhurst East,Q3,45.6000,11.8000,0.9553
116,North Side-South Side,Q3,45.2000,30.7000,0.9042
88,Kew Gardens Hills,Q2,44.8000,25.4000,0.9547
18,Brighton Beach,Q2,44.0000,11.5000,0.9524
154,Stapleton-Rosebank,Q2,43.8000,19.3000,0.8928
78,Hollis,Q2,43.4000,48.1000,0.9484
97,Manhattanville,Q2,42.2000,59.0000,0.9312
162,Turtle Bay-East Midtown,Q2,41.8000,11.6000,0.4438
87,Kew Gardens,Q2,41.2000,29.6000,0.8761
33,Clinton Hill,Q2,41.2000,38.7000,0.7076
155,Starrett City,Q2,41.0000,77.6000,0.9845
105,Morningside Heights,Q2,40.2000,32.9000,0.8607
160,Sunset Park West,Q2,39.6000,42.6000,0.9662
109,Murray Hill,Q2,39.0000,16.2000,0.9404
79,Homecrest,Q2,38.2000,14.6000,0.9054
159,Sunset Park East,Q2,38.0000,42.6000,0.9662
142,Schuylerville-Throgs Neck-Edgewater Park,Q2,37.4000,56.9000,0.9444
64,Fort Greene,Q2,36.2000,35.2000,0.9427
53,East Village,Q2,36.2000,31.5000,0.8721
110,Murray Hill-Kips Bay,Q2,34.6000,17.1000,0.4822
41,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,Q2,34.0000,31.0000,0.7231
16,Borough Park,Q2,33.8000,14.5000,0.9490
156,Steinway,Q2,33.6000,26.8000,0.8200
6,Bath Beach,Q2,33.4000,19.2000,0.9685
30,Chinatown,Q2,33.4000,34.0000,0.9656
174,West Village,Q2,33.0000,13.3000,0.3997
92,Lincoln Square,Q2,32.0000,14.6000,0.6325
183,Woodside,Q2,31.6000,40.9000,0.9019
115,North Riverdale-Fieldston-Riverdale,Q2,30.2000,41.1000,0.8308
96,Madison,Q2,30.2000,14.6000,0.9054
86,Kensington-Ocean Parkway,Q2,30.2000,25.3000,0.9197
72,Gravesend,Q2,29.8000,19.2000,0.9685
103,Midtown-Midtown South,Q2,29.6000,27.2000,0.8010
114,North Corona,Q2,28.6000,83.3000,0.9633
122,Old Astoria,Q2,28.6000,32.6000,0.8068
54,East Williamsburg,Q2,27.8000,30.7000,0.9042
85,Jamaica Estates-Holliswood,Q2,27.6000,37.8000,0.9713
136,Rego Park,Q2,27.6000,25.6000,0.8578
145,SoHo-TriBeCa-Civic Center-Little Italy,Q2,27.0000,12.8000,0.6508
129,Pomonok-Flushing Heights-Hillcrest,Q2,26.0000,25.4000,0.9547
0,Allerton-Pelham Gardens,Q2,25.4000,81.7000,0.9507
135,Queensbridge-Ravenswood-Long Island City,Q2,25.2000,30.6000,0.8291
7,Battery Park City-Lower Manhattan,Q2,25.2000,14.0000,0.2506
26,Carroll Gardens-Columbia Street-Red Hook,Q2,24.8000,22.4000,0.6233
130,Port Richmond,Q2,23.8000,63.6000,0.9163
139,Rosedale,Q2,23.6000,88.1000,0.7913
164,Upper East Side-Carnegie Hill,Q2,23.2000,6.1000,0.5195
65,Fresh Meadows-Utopia,Q2,23.0000,32.4000,0.9077
67,Georgetown-Marine Park-Bergen Beach-Mill Basin,Q2,22.8000,51.5000,0.8951
151,Springfield Gardens South-Brookville,Q1,22.4000,92.5000,0.7454
69,Glendale,Q1,21.8000,47.6000,0.8819
125,Park Slope-Gowanus,Q1,20.4000,18.7000,0.5728
74,Greenpoint,Q1,19.6000,18.2000,0.6370
111,New Brighton-Silver Lake,Q1,19.4000,46.2000,0.9329
119,Oakwood-Oakwood Beach,Q1,19.4000,19.2000,0.8739
35,College Point,Q1,18.8000,42.2000,0.8899
90,Laurelton,Q1,18.2000,92.5000,0.7454
43,Dyker Heights,Q1,16.2000,14.5000,0.9490
170,West Brighton,Q1,15.8000,39.6000,0.9920
45,East Elmhurst,Q1,15.8000,75.0000,0.9604
124,Ozone Park,Q1,15.2000,45.5000,0.8968
70,Gramercy,Q1,14.6000,18.3000,0.5247
57,Elmhurst-Maspeth,Q1,14.6000,40.9000,0.9019
102,Middle Village,Q1,14.4000,22.6000,0.8664
113,New Springville-Bloomfield-Travis,Q1,14.2000,18.5000,0.7861
121,Ocean Parkway South,Q1,12.8000,20.0000,0.9702
131,Prospect Heights,Q1,12.8000,38.7000,0.7076
158,Stuyvesant Town-Cooper Village,Q1,12.6000,31.5000,0.8721
93,Lindenwood-Howard Beach,Q1,12.2000,28.3000,0.8630
66,Ft. Totten-Bay Terrace-Clearview,Q1,12.0000,11.5000,0.7517
123,Old Town-Dongan Hills-South Beach,Q1,12.0000,19.3000,0.8928
100,Maspeth,Q1,12.0000,37.7000,0.8681
9,Bayside-Bayside Hills,Q1,12.0000,18.5000,0.8532
24,Cambria Heights,Q1,10.4000,93.5000,0.7001
179,Williamsburg,Q1,10.4000,27.6000,0.8555
71,Grasmere-Arrochar-Ft. Wadsworth,Q1,9.8000,19.3000,0.8928
47,East Flushing,Q1,9.8000,18.5000,0.9495
12,Bellerose,Q1,8.6000,23.7000,0.7093
161,Todt Hill-Emerson Hill-Heartland Village-Light...,Q1,8.4000,18.5000,0.7861
112,New Dorp-Midland Beach,Q1,8.2000,19.2000,0.8739
73,Great Kills,Q1,8.2000,13.6000,0.5333
185,park-cemetery-etc-Bronx,Q1,7.8000,81.5000,0.9925
118,Oakland Gardens,Q1,7.6000,18.0000,0.8240
177,Whitestone,Q1,7.2000,15.1000,0.8561
4,Auburndale,Q1,7.2000,32.4000,0.9077
176,Westerleigh,Q1,6.8000,18.5000,0.7861
29,Charleston-Richmond Valley-Tottenville,Q1,6.2000,10.7000,0.3624
180,Windsor Terrace,Q1,6.2000,25.3000,0.9197
134,Queensboro Hill,Q1,6.2000,32.4000,0.9077
42,Douglas Manor-Douglaston-Little Neck,Q1,5.0000,12.7000,0.7987
20,Brooklyn Heights-Cobble Hill,Q1,4.8000,22.4000,0.6233
2,Arden Heights,Q1,3.4000,13.6000,0.5333
1,Annadale-Huguenot-Prince's Bay-Eltingville,Q1,3.4000,10.1000,0.5642
68,Glen Oaks-Floral Park-New Hyde Park,Q1,3.4000,23.7000,0.7093
140,Rossville-Woodrow,Q1,3.4000,10.1000,0.5642
186,park-cemetery-etc-Brooklyn,Q1,0.2000,35.2000,0.9427

In [ ]:
box_whisker_df = box_whisker_df[::-1]

In [ ]:
box_whisker_df = box_whisker_df[['nta', 'quartile', 'bh_pct', 'rpl_themes']]
box_whisker_df

,nta,quartile,bh_pct,rpl_themes
186,park-cemetery-etc-Brooklyn,Q1,35.2000,0.9427
140,Rossville-Woodrow,Q1,10.1000,0.5642
68,Glen Oaks-Floral Park-New Hyde Park,Q1,23.7000,0.7093
1,Annadale-Huguenot-Prince's Bay-Eltingville,Q1,10.1000,0.5642
2,Arden Heights,Q1,13.6000,0.5333
20,Brooklyn Heights-Cobble Hill,Q1,22.4000,0.6233
42,Douglas Manor-Douglaston-Little Neck,Q1,12.7000,0.7987
134,Queensboro Hill,Q1,32.4000,0.9077
180,Windsor Terrace,Q1,25.3000,0.9197
29,Charleston-Richmond Valley-Tottenville,Q1,10.7000,0.3624
176,Westerleigh,Q1,18.5000,0.7861
4,Auburndale,Q1,32.4000,0.9077
177,Whitestone,Q1,15.1000,0.8561
118,Oakland Gardens,Q1,18.0000,0.8240
185,park-cemetery-etc-Bronx,Q1,81.5000,0.9925
73,Great Kills,Q1,13.6000,0.5333
112,New Dorp-Midland Beach,Q1,19.2000,0.8739
161,Todt Hill-Emerson Hill-Heartland Village-Light...,Q1,18.5000,0.7861
12,Bellerose,Q1,23.7000,0.7093
47,East Flushing,Q1,18.5000,0.9495
71,Grasmere-Arrochar-Ft. Wadsworth,Q1,19.3000,0.8928
179,Williamsburg,Q1,27.6000,0.8555
24,Cambria Heights,Q1,93.5000,0.7001
9,Bayside-Bayside Hills,Q1,18.5000,0.8532
100,Maspeth,Q1,37.7000,0.8681
123,Old Town-Dongan Hills-South Beach,Q1,19.3000,0.8928
66,Ft. Totten-Bay Terrace-Clearview,Q1,11.5000,0.7517
93,Lindenwood-Howard Beach,Q1,28.3000,0.8630
158,Stuyvesant Town-Cooper Village,Q1,31.5000,0.8721
131,Prospect Heights,Q1,38.7000,0.7076
121,Ocean Parkway South,Q1,20.0000,0.9702
113,New Springville-Bloomfield-Travis,Q1,18.5000,0.7861
102,Middle Village,Q1,22.6000,0.8664
57,Elmhurst-Maspeth,Q1,40.9000,0.9019
70,Gramercy,Q1,18.3000,0.5247
124,Ozone Park,Q1,45.5000,0.8968
45,East Elmhurst,Q1,75.0000,0.9604
170,West Brighton,Q1,39.6000,0.9920
43,Dyker Heights,Q1,14.5000,0.9490
90,Laurelton,Q1,92.5000,0.7454
35,College Point,Q1,42.2000,0.8899
119,Oakwood-Oakwood Beach,Q1,19.2000,0.8739
111,New Brighton-Silver Lake,Q1,46.2000,0.9329
74,Greenpoint,Q1,18.2000,0.6370
125,Park Slope-Gowanus,Q1,18.7000,0.5728
69,Glendale,Q1,47.6000,0.8819
151,Springfield Gardens South-Brookville,Q1,92.5000,0.7454
67,Georgetown-Marine Park-Bergen Beach-Mill Basin,Q2,51.5000,0.8951
65,Fresh Meadows-Utopia,Q2,32.4000,0.9077
164,Upper East Side-Carnegie Hill,Q2,6.1000,0.5195
139,Rosedale,Q2,88.1000,0.7913
130,Port Richmond,Q2,63.6000,0.9163
26,Carroll Gardens-Columbia Street-Red Hook,Q2,22.4000,0.6233
7,Battery Park City-Lower Manhattan,Q2,14.0000,0.2506
135,Queensbridge-Ravenswood-Long Island City,Q2,30.6000,0.8291
0,Allerton-Pelham Gardens,Q2,81.7000,0.9507
129,Pomonok-Flushing Heights-Hillcrest,Q2,25.4000,0.9547
145,SoHo-TriBeCa-Civic Center-Little Italy,Q2,12.8000,0.6508
136,Rego Park,Q2,25.6000,0.8578
85,Jamaica Estates-Holliswood,Q2,37.8000,0.9713
54,East Williamsburg,Q2,30.7000,0.9042
122,Old Astoria,Q2,32.6000,0.8068
114,North Corona,Q2,83.3000,0.9633
103,Midtown-Midtown South,Q2,27.2000,0.8010
72,Gravesend,Q2,19.2000,0.9685
86,Kensington-Ocean Parkway,Q2,25.3000,0.9197
96,Madison,Q2,14.6000,0.9054
115,North Riverdale-Fieldston-Riverdale,Q2,41.1000,0.8308
183,Woodside,Q2,40.9000,0.9019
92,Lincoln Square,Q2,14.6000,0.6325
174,West Village,Q2,13.3000,0.3997
30,Chinatown,Q2,34.0000,0.9656
6,Bath Beach,Q2,19.2000,0.9685
156,Steinway,Q2,26.8000,0.8200
16,Borough Park,Q2,14.5000,0.9490
41,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,Q2,31.0000,0.7231
110,Murray Hill-Kips Bay,Q2,17.1000,0.4822
53,East Village,Q2,31.5000,0.8721
64,Fort Greene,Q2,35.2000,0.9427
142,Schuylerville-Throgs Neck-Edgewater Park,Q2,56.9000,0.9444
159,Sunset Park East,Q2,42.6000,0.9662
79,Homecrest,Q2,14.6000,0.9054
109,Murray Hill,Q2,16.2000,0.9404
160,Sunset Park West,Q2,42.6000,0.9662
105,Morningside Heights,Q2,32.9000,0.8607
155,Starrett City,Q2,77.6000,0.9845
33,Clinton Hill,Q2,38.7000,0.7076
87,Kew Gardens,Q2,29.6000,0.8761
162,Turtle Bay-East Midtown,Q2,11.6000,0.4438
97,Manhattanville,Q2,59.0000,0.9312
78,Hollis,Q2,48.1000,0.9484
154,Stapleton-Rosebank,Q2,19.3000,0.8928
18,Brighton Beach,Q2,11.5000,0.9524
88,Kew Gardens Hills,Q2,25.4000,0.9547
116,North Side-South Side,Q3,30.7000,0.9042
14,Bensonhurst East,Q3,11.8000,0.9553
127,Pelham Bay-Country Club-City Island,Q3,57.4000,0.9690
126,Parkchester,Q3,69.4000,0.9708
99,Mariner's Harbor-Arlington-Port Ivory-Granitev...,Q3,69.0000,0.9375
133,Queens Village,Q3,42.5000,0.9358
5,Baisley Park,Q3,89.7000,0.9564
17,Briarwood-Jamaica Hills,Q3,37.8000,0.9713
181,Woodhaven,Q3,63.2000,0.9151
15,Bensonhurst West,Q3,11.8000,0.9553
150,Springfield Gardens North,Q3,89.7000,0.9564
91,Lenox Hill-Roosevelt Island,Q3,9.9000,0.5889
144,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,Q3,11.5000,0.9524
137,Richmond Hill,Q3,49.0000,0.9530
152,Spuyten Duyvil-Kingsbridge,Q3,64.4000,0.9862
138,Ridgewood,Q3,47.6000,0.8819
153,St. Albans,Q3,89.7000,0.9564
75,Grymes Hill-Clifton-Fox Hills,Q3,47.7000,0.9467
184,Yorkville,Q3,8.9000,0.4209
167,Van Nest-Morris Park-Westchester Square,Q3,69.4000,0.9708
63,Forest Hills,Q3,19.1000,0.7322
149,South Ozone Park,Q3,42.6000,0.8624
22,Bushwick North,Q3,70.7000,0.9352
104,Midwood,Q3,20.0000,0.9702
3,Astoria,Q3,33.7000,0.8882
56,Elmhurst,Q3,83.3000,0.9633
34,Co-op City,Q3,90.6000,0.9799
80,Hudson Yards-Chelsea-Flatiron-Union Square,Q3,27.5000,0.7414
60,Flatlands,Q3,51.5000,0.8951
95,Lower East Side,Q3,34.0000,0.9656
143,Seagate-Coney Island,Q3,39.6000,0.9920
61,Flushing,Q3,18.5000,0.9495
165,Upper West Side,Q3,32.9000,0.8607
81,Hunters Point-Sunnyside-West Maspeth,Q3,29.8000,0.7798
40,Cypress Hills-City Line,Q3,84.8000,0.9581
175,Westchester-Unionport,Q3,84.8000,0.9937
8,Bay Ridge,Q3,42.6000,0.9662
148,South Jamaica,Q3,69.2000,0.9472
128,Pelham Parkway,Q3,69.4000,0.9708
55,Eastchester-Edenwald-Baychester,Q3,81.7000,0.9507
39,Crown Heights South,Q3,64.5000,0.8538
147,Soundview-Castle Hill-Clason Point-Harding Park,Q3,93.1000,0.9868
173,West New Brighton-New Brighton-St. George,Q3,46.2000,0.9329
32,Clinton,Q3,21.4000,0.7792
84,Jamaica,Q3,37.8000,0.9713
49,East Harlem South,Q3,70.7000,0.9788
25,Canarsie,Q4,88.7000,0.9117
83,Jackson Heights,Q4,54.9000,0.9255
94,Longwood,Q4,96.2000,0.9943
28,Central Harlem South,Q4,67.4000,0.9123
82,Hunts Point,Q4,96.2000,0.9943
58,Erasmus,Q4,78.1000,0.9220
146,Soundview-Bruckner,Q4,84.8000,0.9937
51,East New York (Pennsylvania Ave),Q4,88.7000,0.9839
37,Crotona Park East,Q4,91.5000,0.9954
182,Woodlawn-Wakefield,Q4,54.1000,0.9398
10,Bedford,Q4,57.7000,0.8297
89,Kingsbridge Heights,Q4,93.6000,0.9874
31,Claremont-Bathgate,Q4,96.2000,0.9989
101,Melrose South-Mott Haven North,Q4,94.5000,0.9994
76,Hamilton Heights,Q4,74.5000,0.9323
36,Corona,Q4,83.3000,0.9633
120,Ocean Hill,Q4,82.4000,0.9438
23,Bushwick South,Q4,70.7000,0.9352
98,Marble Hill-Inwood,Q4,74.7000,0.9541
172,West Farms-Bronx River,Q4,84.8000,0.9937
168,Washington Heights North,Q4,70.8000,0.9650
46,East Flatbush-Farragut,Q4,59.1000,0.9174
48,East Harlem North,Q4,70.7000,0.9788
157,Stuyvesant Heights,Q4,70.7000,0.9352
13,Belmont,Q4,91.5000,0.9954
77,Highbridge,Q4,93.5000,0.9931
19,Bronxdale,Q4,81.5000,0.9925
107,Mott Haven-Port Morris,Q4,95.2000,0.9971
62,Fordham South,Q4,93.6000,0.9874
117,Norwood,Q4,81.5000,0.9925
141,Rugby-Remsen Village,Q4,89.6000,0.9948
166,Van Cortlandt Village,Q4,93.6000,0.9874
171,West Concourse,Q4,96.2000,0.9989
21,Brownsville,Q4,89.6000,0.9948
106,Morrisania-Melrose,Q4,94.5000,0.9994
132,Prospect Lefferts Gardens-Wingate,Q4,78.1000,0.9220
169,Washington Heights South,Q4,78.5000,0.9771
52,East Tremont,Q4,91.5000,0.9954
59,Flatbush,Q4,59.1000,0.9174
108,Mount Hope,Q4,96.2000,0.9989
163,University Heights-Morris Heights,Q4,93.8000,0.9983
50,East New York,Q4,88.7000,0.9839
178,Williamsbridge-Olinville,Q4,81.7000,0.9507
44,East Concourse-Concourse Village,Q4,94.5000,0.9994
11,Bedford Park-Fordham North,Q4,93.6000,0.9874
38,Crown Heights North,Q4,82.4000,0.9438
27,Central Harlem North-Polo Grounds,Q4,87.4000,0.9748